{% extends "layout.html" %}

{% block beforeContent %}
<a href="javascript:history.back();" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-notification-banner govuk-notification-banner--success" role="alert"
  aria-labelledby="govuk-notification-banner-title"
  data-module="govuk-notification-banner">
  <div class="govuk-notification-banner__header">
    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title" >
      Success
    </h2>
  </div>
  <div class="govuk-notification-banner__content">
    <h2 class="govuk-heading-m">Additional information added</h2>
  </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">School pupil forecasts</h1>
    <p class="govuk-body govuk-!-margin-bottom-7">This information comes from TRAMS and the school's application form. The table will populate into your HTB template.</p>
  </div>
</div>
<div>
      <table class="govuk-table">
          <thead class="govuk-table__head">
          <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Year</th>
              <th scope="col" class="govuk-table__header govuk-table__header--numeric">Capacity</th>
              <th scope="col" class="govuk-table__header govuk-table__header--numeric">Total pupil numbers</th>
              <th scope="col" class="govuk-table__header govuk-table__header--numeric">Percentage full</th>
          </tr>
          </thead>
          <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header ">Current year</th>
            <td class="govuk-table__cell govuk-table__cell--numeric">236</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">226</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">96%</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">2021 to 2022 forecast</th>
            <td class="govuk-table__cell govuk-table__cell--numeric">236</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">189</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">80%</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">2022 to 2023 forecast</th>
            <td class="govuk-table__cell govuk-table__cell--numeric">236</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">189</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">80%</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">2023 to 2024 forecast</th>
            <td class="govuk-table__cell govuk-table__cell--numeric">236</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">189</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">80%</td>
          </tr>
              <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">2023 to 2024 forecast</th>
            <td class="govuk-table__cell govuk-table__cell--numeric">236</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">189</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">80%</td>
          </tr>
          </tbody>
      </table>           
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
      <h3 class="govuk-heading-m">Additional information (optional)</h3>
      <p>This additional information will accompany the school pupil forecast information in the HTB template.</p>
      <br>
  </div>
</div>
<div>
  <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Addtional Information</dt>
          <dd class="govuk-summary-list__value">
              {% if data['finance-more-detail'] %}
                  {{data['finance-more-detail']}}
              {% else %}
                  <span class="empty">Empty</span>
              {% endif %}
          </dd>
          <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="school-pupil-forecasts">
                Change<span class="govuk-visually-hidden">recomendation</span>
              </a>
          </dd>
      </div>
  </dl>
</div>
                
<form action="/task_list1" method="post"> 
  {% from "govuk/components/button/macro.njk" import govukButton %}
  {{ govukButton({
    text: "Save and continue"
  }) }}
</form>
<p>
  <a href="javascript:history.back();">Cancel</a>
</p>
{% endblock %}
