<!DOCTYPE html>
<html lang="en" class="govuk-template ">
  <head>
    <meta charset="utf-8">
    <title>
Conversion overview
</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <meta name="theme-color" content="#0b0c0c"> 
    
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    
      <link rel="shortcut icon" sizes="16x16 32x32 48x48" href="/govuk/assets/images/favicon.ico" type="image/x-icon">
      <link rel="mask-icon" href="/govuk/assets/images/govuk-mask-icon.svg" color="#0b0c0c"> 
      <link rel="apple-touch-icon" sizes="180x180" href="/govuk/assets/images/govuk-apple-touch-icon-180x180.png">
      <link rel="apple-touch-icon" sizes="167x167" href="/govuk/assets/images/govuk-apple-touch-icon-167x167.png">
      <link rel="apple-touch-icon" sizes="152x152" href="/govuk/assets/images/govuk-apple-touch-icon-152x152.png">
      <link rel="apple-touch-icon" href="/govuk/assets/images/govuk-apple-touch-icon.png">
    

    
  <meta name="description" content="Use the GOV.UK Prototype Kit to quickly make realistic HTML prototypes of GOV.UK services.">

<!--[if lte IE 8]><link href="/public/stylesheets/application-ie8.css" rel="stylesheet" type="text/css" /><![endif]-->
<!--[if gt IE 8]><!--><link href="/public/stylesheets/application.css" media="all" rel="stylesheet" type="text/css" /><!--<![endif]-->
<!--[if lte IE 8]><link href="/public/stylesheets/docs-ie8.css" rel="stylesheet" type="text/css" /><![endif]-->
<!--[if gt IE 8]><!--><link href="/public/stylesheets/docs.css" media="all" rel="stylesheet" type="text/css" /><!--<![endif]-->


    
    
    <meta property="og:image" content="/govuk/assets/images/govuk-opengraph-image.png">
  </head>
  <body class="govuk-template__body ">
    <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>
    

    
      <a href="#main-content" class="govuk-skip-link">Skip to main content</a>

  
  
  <header class="govuk-header " role="banner" data-module="govuk-header">
  <div class="govuk-header__container govuk-width-container">
    
    
    <div class="govuk-header__content">
    
    <a href="/" class="govuk-header__link govuk-header__link--service-name">
      Manage trusts and academy schools
    </a>
    
    
    <button type="button" class="govuk-header__menu-button govuk-js-header-toggle" aria-controls="navigation" aria-label="Show or hide navigation menu">Menu</button>
 
    
    </div>
    
  </div>
</header>


    <div class="app-phase-banner__wrapper">
        <div class="govuk-phase-banner app-phase-banner govuk-width-container">
            <p class="govuk-phase-banner__content">
                <strong class="govuk-tag govuk-phase-banner__content__tag">prototype</strong>
                <span class="govuk-phase-banner__text">This is a prototype of a new service – Some parts of this prototype do not work yet.</span>
            </p>
        </div>
    </div>

    <div class="app-primary-navigation">
        <div class="app-primary-navigation__container">
            <div class="app-primary-navigation__nav">
            <nav class="app-primary-navigation" aria-label="main menu">
                <ul class="app-primary-navigation__list">
                    <li class="app-primary-navigation__item">
                    <a class="app-primary-navigation__link" aria-current="index" href="/index">Academy conversions (4)</a>
                    </li>
                    <li class="app-primary-navigation__item">
                    <a class="app-primary-navigation__link"  href="#">Academy transfers (2)</a>
                    </li>
                    <li class="app-primary-navigation__item"> 
                    <a class="app-primary-navigation__link"  href="#">Significant change (1)</a>
                    </li> 
                </ul>
            </nav>
            </div></div>
        </div>

        <div class="govuk-width-container"><a href="javascript:history.back();" class="govuk-back-link">Back</a>
            <main class="govuk-main-wrapper gov-main-wrapper--auto-spacing" id="main-content" role="main">  
                <div>
                    <h1 class="govuk-heading-l">School pupil forecasts</h1>
                    <p class="govuk-body govuk-!-margin-bottom-7">This information comes from TRAMS and the school's application form. The table will populate into your HTB template.</p>
                    <table class="govuk-table">
                        <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                            <th scope="col" class="govuk-table__header">Year</th>
                            <th scope="col" class="govuk-table__header">Capacity</th>
                            <th scope="col" class="govuk-table__header">Total pupil numbers</th>
                            <th scope="col" class="govuk-table__header">Percentage full</th>
                        </tr>
                        </thead>
                        <tbody class="govuk-table__body">
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header">Current year</th>
                            <td class="govuk-table__cell">236</td>
                            <td class="govuk-table__cell">226</td>
                            <td class="govuk-table__cell">96%</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header">2021 to 2022 forecast</th>
                            <td class="govuk-table__cell">236</td>
                            <td class="govuk-table__cell">189</td>
                            <td class="govuk-table__cell">80%</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header">2022 to 2023 forecast</th>
                            <td class="govuk-table__cell">236</td>
                            <td class="govuk-table__cell">189</td>
                            <td class="govuk-table__cell">80%</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header">2023 to 2024 forecast</th>
                            <td class="govuk-table__cell">236</td>
                            <td class="govuk-table__cell">189</td>
                            <td class="govuk-table__cell">80%</td>
                        </tr>
                            <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header">2023 to 2024 forecast</th>
                            <td class="govuk-table__cell">236</td>
                            <td class="govuk-table__cell">189</td>
                            <td class="govuk-table__cell">80%</td>
                        </tr>
                        </tbody>
                    </table>           
                </div>
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-full">
                        <h1 class="govuk-heading-m">Additional information (optional)</h1>
                        <p>This additional information will accompany the school pupil forecast information in the HTB template.</p>
                        <br>
                        <dl class="govuk-summary-list">
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">Addtional Information</dt>
                                <dd class="govuk-summary-list__value">
                                    {% if data['finance-more-detail'] %}
                                        {{data['finance-more-detail']}}
                                    {% else %}
                                        <span class="empty">Empty</span>
                                    {% endif %}
                                </dd>
                                <dd class="govuk-summary-list__actions">
                                    <a class="govuk-link" href="school-pupil-forecasts">
                                      Change<span class="govuk-visually-hidden">recomendation</span>
                                    </a>
                                </dd>
                            </div>
                        </dl>
                    </div>
                </div>
                <form action="/task_list1" method="post"> 
                {% from "govuk/components/button/macro.njk" import govukButton %}
                {{ govukButton({
                    text: "Save and continue"
                }) }}

                </form>
                <p><a href="javascript:history.back();">Cancel</a></p>
            </main>
        </div>


    
  <footer class="govuk-footer " role="contentinfo">
  <div class="govuk-width-container ">
    
    <div class="govuk-footer__meta">
      <div class="govuk-footer__meta-item govuk-footer__meta-item--grow">
        
          <h2 class="govuk-visually-hidden">Support links</h2>
          
            <ul class="govuk-footer__inline-list">
              
                <li class="govuk-footer__inline-list-item">
                  <a class="govuk-footer__link" href="/prototype-admin/clear-data">
                    Clear data
                  </a>
                </li>
              
                <li class="govuk-footer__inline-list-item">
                  <a class="govuk-footer__link" href="/docs/cookies">
                    Cookies
                  </a>
                </li>
              
                <li class="govuk-footer__inline-list-item">
                  <a class="govuk-footer__link" href="/docs/privacy-policy">
                    Privacy policy
                  </a>
                </li>
              
            </ul>
          
          
        
        <svg
          aria-hidden="true"
          focusable="false"
          class="govuk-footer__licence-logo"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 483.2 195.7"
          height="17"
          width="41"
        >
          <path
            fill="currentColor"
            d="M421.5 142.8V.1l-50.7 32.3v161.1h112.4v-50.7zm-122.3-9.6A47.12 47.12 0 0 1 221 97.8c0-26 21.1-47.1 47.1-47.1 16.7 0 31.4 8.7 39.7 21.8l42.7-27.2A97.63 97.63 0 0 0 268.1 0c-36.5 0-68.3 20.1-85.1 49.7A98 98 0 0 0 97.8 0C43.9 0 0 43.9 0 97.8s43.9 97.8 97.8 97.8c36.5 0 68.3-20.1 85.1-49.7a97.76 97.76 0 0 0 149.6 25.4l19.4 22.2h3v-87.8h-80l24.3 27.5zM97.8 145c-26 0-47.1-21.1-47.1-47.1s21.1-47.1 47.1-47.1 47.2 21 47.2 47S123.8 145 97.8 145"
          />
        </svg>
        <span class="govuk-footer__licence-description">
          All content is available under the
          <a
            class="govuk-footer__link"
            href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/"
            rel="license"
          >Open Government Licence v3.0</a>, except where otherwise stated
        </span>
      </div>
      <div class="govuk-footer__meta-item">
        <a
          class="govuk-footer__link govuk-footer__copyright-logo"
          href="https://www.nationalarchives.gov.uk/information-management/re-using-public-sector-information/uk-government-licensing-framework/crown-copyright/"
        >© Crown copyright</a>
      </div>
    </div>
  </div>
</footer>



    
  
    <!-- Javascript -->
<script src="/public/javascripts/jquery-1.11.3.js"></script>
<script src="/extension-assets/govuk-frontend/govuk/all.js"></script>
<script src="/public/javascripts/docs.js"></script>


  <script src="/public/javascripts/auto-store-data.js"></script>


    
  

  </body>
</html>

