{% extends "layout.html" %}

{% block beforeContent %}
<a href="../trust-information.html" class="govuk-back-link">Back to trust information</a>
{% endblock %}
 
{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-l govuk-!-margin-top-6" >Gloucester Academy Trust</span>
    <h1 class="govuk-heading-l">School improvement strategy</h1>
    <p>This information is pre-populated from TRAMS.</p>
    <p class="govuk-body-s">TRAMS last updated on: 23 March 2021</p>
    </div></div>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
    <dl class="govuk-summary-list">
      
      
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          How will the trust support and improve the academies in the trust?
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">Details here...</p>
        </dd>
        <dd class="govuk-summary-list__actions">
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          How will the trust make sure that the school improvement strategy is fit for purpose and improve standards?
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">Details here...</p>
        </dd>
        <dd class="govuk-summary-list__actions">
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          If the trust wants to become an approved sponsor, when would it plan to apply and begin sponsoring schools?
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">Details here...</p>
        </dd>
        <dd class="govuk-summary-list__actions">
          <!--
          <a class="govuk-link" href="route-involuntary.html">
            Change<span class="govuk-visually-hidden">route"</span>
          </a>
        -->
        </dd>
      </div>

     

  </div>
</div>
{% endblock %}
