{% extends "layout.html" %}

{% block beforeContent %}
<a href="../task_list1" class="govuk-back-link">Back to task list</a>
{% endblock %}
 
{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-l">St. Wilfrid's Primary School</span>
    <h1 class="govuk-heading-l">
    Confirm school and trust information and project dates</h1>
    <p>This information is pre-populated from TRAMS and the <a href="../related/application_newtab" target="_blank">school's application form (opens in a new tab)</a>.</p>
    <p class="govuk-body-s">TRAMS last updated on: 23 March 2021</p>
    </div></div>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-width-two-thirds">
          School name
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">St. Wilfrid's Primary School</p>
        </dd>
        <dd class="govuk-summary-list__actions">
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Unique reference number (URN)
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">120620</p>
        </dd>
        <dd class="govuk-summary-list__actions">
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Trust name
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">Dynamics Trust</p>
        </dd>
        <dd class="govuk-summary-list__actions">
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Trust reference number
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">TRO1318</p>
        </dd>
        <dd class="govuk-summary-list__actions">
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-width-two-thirds">
          Recommendation
        </dt>
        <dd class="govuk-summary-list__value">
          {% if data['recomendation']%}
            {{data['recomendation']}}
            {% else %} 
            <span class="empty">Empty</span>
          {% endif %}

        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="recommendation">
            Change<span class="govuk-visually-hidden">recommendation</span>
          </a>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Is an academy order (AO) required?
        </dt>
        <dd class="govuk-summary-list__value">
          {% if data['aorequired']%}
          {{data['aorequired']}}
          {% else %} 
          <span class="empty">Empty</span>
        {% endif %}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="aorequired.html">
            Change<span class="govuk-visually-hidden">academy order required</span>
          </a>
        </dd>
</div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Academy type and route
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">    Converter, £{{ data['routes']}}<br>
            {{ data['routes-funding']}} </p>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="route">
            Change<span class="govuk-visually-hidden">route"</span>
          </a>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Date of Advisory Board
        </dt>
        <dd class="govuk-summary-list__value">
          {% if data['HTB-date-day'] and data['HTB-date-month'] and data['HTB-date-year']%}
          <span>{{ data['HTB-date-day'] }} </span>
          <span>{{ data['HTB-date-month'] }} </span>
          <span>{{ data['HTB-date-year'] }}</span>
          {% else %} 
          <span class="empty">Empty</span>
        {% endif %}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="set-htb.html">
            Change<span class="govuk-visually-hidden">Advisory Board date</span>
          </a>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Proposed academy opening date
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['opening-date']}} 
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="opening">
            Change<span class="govuk-visually-hidden">proposed academy opening date</span>
          </a>
        </dd>
      </div>
      
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Previous Advisory Board
        </dt>
        <dd class="govuk-summary-list__value">

          {% if data['Conditions2']%}
          {{data['Conditions2']}}
          {% else %} 
          <span class="empty">Empty</span>
        {% endif %}

          {{ data['']}} </br>
          {% if data['previousHTB-date-day'] and data['previousHTB-date-month'] and data['previousHTB-date-year']%}
          <span>{{ data['previousHTB-date-day'] }} </span>
          <span>{{ data['previousHTB-date-month'] }} </span>
          <span>{{ data['previousHTB-date-year'] }}</span>
          {% else %} 
   
        {% endif %}
   
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="previous-htb.html">
            Change<span class="govuk-visually-hidden">perevious head teacher board date</span>
          </a>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Local authority
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">Warrington</p>
        </dd>
        <dd class="govuk-summary-list__actions">
        </dd>
      </div>

            
<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
  Sponsor name
  </dt>
  <dd class="govuk-summary-list__value">
    <p class="govuk-body">Diocese of Warrington</p>
  </dd>
  <dd class="govuk-summary-list__actions">
  </dd>
</div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
        Sponsor reference number
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">SP00170</p>
        </dd>
        <dd class="govuk-summary-list__actions">
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Author
        </dt>
        <dd class="govuk-summary-list__value">
          {% if data['author']%}
          {{data['author']}}
          {% else %} 
          <span class="empty">Empty</span>
        {% endif %}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="author">
            Change<span class="govuk-visually-hidden">author</span>
          </a>
        </dd>
      </div>
      
<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
   Cleared by
  </dt>
  <dd class="govuk-summary-list__value">
    {% if data['cleared']%}
    {{data['cleared']}}
    {% else %} 
    <span class="empty">Empty</span>
  {% endif %}
  </dd>
  <dd class="govuk-summary-list__actions">
    <a class="govuk-link" href="cleared.html">
      Change<span class="govuk-visually-hidden">cleared by</span>
    </a>
  </dd>
</div>

      
     

      
      
     
    </dl>
    <form action="../task_list1" method="post"> 
  {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
  {% from "govuk/components/button/macro.njk" import govukButton %}

  {{ govukCheckboxes({
    idPrefix: "overview-status",
    name: "overview-status",
    
    items: [
    
      {
        value: "Complete",
        text: "Mark this section as complete, you can still make changes later"
      }
      ]
    }) }}

  
        

  {{ govukButton({
    text: "Confirm and continue"
  }) }}

    </form>

  </div>
</div>
{% endblock %}
