{% extends "layout.html" %}

{% block beforeContent %}
        
<a href="javascript:history.back();" class="govuk-back-link">Back</a>
{% endblock %}


{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-l">St. Wilfrid's Primary School</span>
    <h1 class="govuk-heading-l">Confirm school budget information</h1>
    <p class="govuk-body">This information comes from the <a href="/related/application_newtab" target="_blank">school's application form (opens in a new tab)</a>. The table will populate into your headteacher board (HTB) template.</p>
    <p>You can add <a href="#additional_info">additional information</a> if you need to, this will also go into your HTB template.</p><br>
  </div>
</div>

  <dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Revenue carry forward at end-March (current year) 2021
      </dt>
      <dd class="govuk-summary-list__value">
        £{{ data['finance-current-year-2021'] }}
      </dd>
      <dd class="govuk-summary-list__actions">
        <a class="govuk-link" href="budget-information-details">
          Change<span class="govuk-visually-hidden">revenue carry forward for current year</span>
        </a>
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Projected revenue balance at end-March (following year) 2022
      </dt>
      <dd class="govuk-summary-list__value">
        £{{ data['finance-following-year-2022']}}
      </dd>
      <dd class="govuk-summary-list__actions">
        <a class="govuk-link" href="budget-information-details">
          Change<span class="govuk-visually-hidden">projected revenue balance for following year</span>
        </a>
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Capital carry forward at end-March (current year)
      </dt>
      <dd class="govuk-summary-list__value">
        £{{ data ['finance-forward-2021']}}
      </dd>
      <dd class="govuk-summary-list__actions">
        <a class="govuk-link" href="budget-information-details">
          Change<span class="govuk-visually-hidden">capital carry forward for current year</span>
        </a>
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Capital carry forward at end-March (following year)
      </dt>
      <dd class="govuk-summary-list__value">
        <p class="govuk-body"> £{{ data['finance-forward-2022']}}</p>
      </dd>
      <dd class="govuk-summary-list__actions">
        <a class="govuk-link" href="budget-information-details">
          Change<span class="govuk-visually-hidden">capital carry forward for following year</span>
        </a>
      </dd>
    </div>

    
  </dl>


    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
    
    
    <form action="budget-information2" method="post"> 
      {% from "govuk/components/textarea/macro.njk" import govukTextarea %}
    <a name="additional_info"></a>
      {{ govukTextarea({
        name: "budget-more-detail",
        id: "budget-more-detail",
        value: data["budget-more-detail"],
        label: {
          text: "Additional information (optional)",
          classes: "govuk-label--m"
        },
        hint: {
          text:"This information will populate into your HTB template under school the budget information section."
        }
      }) }}
    
 
    <form action="budget-information2" method="post"> 
      {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
      {% from "govuk/components/button/macro.njk" import govukButton %}

      

      {{ govukButton({
        text: "Save and continue"
      }) }}

    </form>

    </div>
    </div>

  {% endblock %}
