{% extends "layout.html" %}

{% block beforeContent %}
<a href="javascript:history.back();" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">School budget information</h1>



    <form action="budget-information" method="post"> 
      {% from "govuk/components/input/macro.njk" import govukInput %}

      {{ govukInput({
        label: {
          text: "Revenue carry forward at end-March (current year) 2021",
          classes: "govuk-label--s"
        },
        classes: "govuk-input--width-10",
        id: "finance-current-year-2021",
        name: "finance-current-year-2021",
        value: data["finance-current-year-2021"],
        prefix: {text:"£"}
      }) }}

      {{ govukInput({
        label: {
          text: "Projected revenue balance at end-March (following year) 2022",
          classes: "govuk-label--s"
        },
        classes: "govuk-input--width-10",
        id: "finance-following-year-2022",
        name: "finance-following-year-2022",
        value: data["finance-following-year-2022"],
        prefix: {text:"£"}
      }) }}

      {{ govukInput({
        label: {
          text: "Capital carry forward at end-March (current year)",
          classes: "govuk-label--s"
        },
        classes: "govuk-input--width-10",
        id: "finance-forward-2021",
        name: "finance-forward-2021",
        value: data["finance-forward-2021"],
        prefix: {text:"£"}
      }) }}

      {{ govukInput({
        label: {
          text: "forward-following-year"
        },
        label: {
          text: "Capital carry forward at end-March (following year)",
          classes: "govuk-label--s"
        },
        classes: "govuk-input--width-10",
        id: "finance-forward-2022",
        name: "finance-forward-2022",
        value: data["finance-forward-2022"],
        prefix: {text:"£"}
      }) }}


      <a name="additional_info"></a>
      {% from "govuk/components/textarea/macro.njk" import govukTextarea %}

      {{ govukTextarea({
        name: "finance-more-detail",
        id: "finance-more-detail",
        label: {
          text: "Additional information (optional)",
          classes: "govuk-label--m"
        },
        hint: {
          text:"This information will populate into your HTB template under the school budget information section."
        }
      }) }}

      {% from "govuk/components/button/macro.njk" import govukButton %}
      {{ govukButton({
        text: "Save and continue"
      }) }}
    </form>

  </div>  

  <!-- right hand nav -->    
  <div class="govuk-grid-column-one-third">
    <aside class="app-related-items" role="complementary">
    <h2 class="govuk-heading-s" id="subsection-title">
    Useful information
    </h2>
    <nav role="navigation" aria-labelledby="subsection-title">
    <ul class="govuk-list govuk-!-font-size-16">
    <li>
    <a class="govuk-link" href="#">

    </a>
    </li>
    <li>
      <p class="govuk-body-s"><a href="/related/application_newtab" target="application">School application form (opens in a new tab)</a></p>
    </li>

    </ul>
    </nav>

    </aside>
  </div>
  </div>
{% endblock %}
