{% extends "layout.html" %}


{% block beforeContent %}

<a href="javascript:history.back();" class="govuk-back-link">Back</a>
{% endblock %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
  
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% if data['returnToSummary'] == 'yes' %}
        <form action="/generate/generate_summary" method="post">
        {% else %}
        <form action="/overview/summary1" method="post">
      {% endif %}
      <input hidden type="text" name="returnToSummary" value="no"/>
      <span class="govuk-caption-l">St. Wilfrid's Primary School</span>
      <h1 class="govuk-heading-l">What is your recommendation for this project?</h1>


        {{ govukRadios({
          idPrefix: "recomendation",
          name: "recomendation",

          items: [

            {
              value: "Approve",
              checked:  data['recomendation'] === "Approve",
              text: "Approve"
            },
            {
              value: "Defer",
              checked:  data['recomendation'] === "Defer",
              text: "Defer"
            },
            {
              value: "Decline",
              checked:  data['recomendation'] === "Decline",
              text: "Decline"
            }

          ]
        }) }}

        {{ govukButton({
          text: "Save and continue"
        }) }}

      </form>

    </div>

    <!-- right hand nav -->
    <div class="govuk-grid-column-one-third">
      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-s" id="subsection-title">
          Useful information
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a class="govuk-link" href="#">

              </a>
            </li>
            <li>
              <p class="govuk-body-s"><a href="/related/application_newtab" target="application">School application form (opens in a new tab)</a></p>
            </li>

          </ul>
        </nav>

      </aside>
    </div>
  </div>
{% endblock %}
