{% extends "layout.html" %}

{% block beforeContent %}
<a href="javascript:history.back();" class="govuk-back-link">Back</a>
{% endblock %}
{% block content %}    
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <span class="govuk-caption-l">St. Wilfrid's Primary School</span>
      <h1 class="govuk-heading-l">Check your answers before recording this decision</h1>

        <dl class="govuk-summary-list">

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Decision
            </dt>
            <dd class="govuk-summary-list__value">Declined</dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="list.html?returnToSummary=yes">
                Change<span class="govuk-visually-hidden">decision</span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
             Reason
            </dt>
            <dd class="govuk-summary-list__value">
              {% if data['reason']%}
              {{data['reason']}}
              {% else %} 
              <span class="empty">Empty</span>
            {% endif %}
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="rejected.html?returnToSummary=yes">
                Change<span class="govuk-visually-hidden">rejected-reason</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
             Date of decision
            </dt>
            <dd class="govuk-summary-list__value">
              {% if data['rejected-date-day'] and data['rejected-date-month'] and data['rejected-date-year']%}
              <span>{{ data['rejected-date-day'] }} </span>
              <span>{{ data['rejected-date-month'] }} </span>
              <span>{{ data['rejected-date-year'] }}</span>
              {% else %} 
              <span class="empty">Empty</span>
            {% endif %}
              </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="dates.html?returnToSummary=yes">
                Change<span class="govuk-visually-hidden">date rejected</span>
              </a>
            </dd>
          </div>

        </dl>



  
        <form action="are-you-sure" method="post"> 
          {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
          {% from "govuk/components/button/macro.njk" import govukButton %}

         <!--<p>Recording this decision is final. A new application will need to go to advisory board to change the decision.</p>-->
          {{ govukButton({
            text: "Record this decision",
            classes: "govuk-button"
          }) }}

        </form>
  
      </main>
    </main>   
    </div>
  </div>
{% endblock %}
