{% extends "../../../layout.html" %}


<a href="

{% set pageTitle = "Check school and trust details – Involuntary conversions – GOV.UK" %}


{% block beforeContent %}
 
    {% if not backLink %}
        {% set backLink = 'javascript:history.back();' %}
    {% endif %}

    {% if not backText %}
        {% set backText = 'Back'  %}
    {% endif %}

    {% if backLink == 'false' %}
        {% set backLink = false %}
    {% endif %}

    {% if backText == 'false' %}
        {% set backText = '' %}
    {% endif %}

    {% block pageNavigation %}
    {% if backLink %}
        {{ govukBackLink({
        text: backText,
        href: backLink
        }) }}
    {% endif %}
    {% endblock %}  

{% endblock %}


{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">
                Check school and trust details
            </h1>
        </div>

        <div class="govuk-grid-column-two-thirds">
            <h2 class="govuk-heading-m">
                School
            </h2>
        </div>

       

    

        <div class="govuk-grid-column-full">

            <dl class="govuk-summary-list govuk-!-margin-bottom-9">

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Name
                    </dt>
                    <dd class="govuk-summary-list__value">
                        Cheltenham Primary School
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="./add-outgoing-trust-name">
                            Change<span class="govuk-visually-hidden">School name</span>
                        </a>
                    </dd>
                </div>

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        URN
                    </dt>
                    <dd class="govuk-summary-list__value">
                        100006
                    </dd>
                    <dd class="govuk-summary-list__value"></dd>
                </div>

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Local authority
                    </dt>
                    <dd class="govuk-summary-list__value">
                        Gloucestershire
                    </dd>
                    <dd class="govuk-summary-list__value"></dd>
                </div>

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        School type
                    </dt>
                    <dd class="govuk-summary-list__value">
                        Academy converter
                    </dd>
                    <dd class="govuk-summary-list__value"></dd>
                </div>

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Faith school
                    </dt>
                    <dd class="govuk-summary-list__value">
                        Does not apply
                    </dd>
                    <dd class="govuk-summary-list__value"></dd>
                </div>

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Ofsted rating
                    </dt>
                    <dd class="govuk-summary-list__value">
                        Good
                    </dd>
                    <dd class="govuk-summary-list__value"></dd>
                </div>

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Last inspection
                    </dt>
                    <dd class="govuk-summary-list__value">
                        7 November 2014
                    </dd>
                    <dd class="govuk-summary-list__value"></dd>
                </div>

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        PFI (private finance initiative)
                    </dt>
                    <dd class="govuk-summary-list__value">Does not apply</dd>
                    <dd class="govuk-summary-list__value"></dd>
                </div>
        
            </dl>
        </div>
       

        <div class="govuk-grid-column-two-thirds">

            <h2 class="govuk-heading-m">
                Incoming trust
            </h2>
        </div>

        <div class="govuk-grid-column-full">

            <dl class="govuk-summary-list govuk-!-margin-bottom-9">

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Name
                    </dt>
                    <dd class="govuk-summary-list__value">
                        Gloucestershire Academy Trust
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="./add-incoming-trust-name">
                            Change<span class="govuk-visually-hidden">Trust name</span>
                        </a>
                    </dd>
                </div>

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        UKPRN
                    </dt>
                    <dd class="govuk-summary-list__value">
                        10060980
                    </dd>
                    <dd class="govuk-summary-list__value"></dd>
                </div>
        
            </dl>
         
        </div>

        <div class="govuk-grid-column-two-thirds">
            <form action="/version-4/pre-htb/school-1/st-wilfreds-ps" method="post" novalidate>

                <input type="hidden" name="answers-checked" value="true">

                <div class="govuk-button-group">


                    <a href="../../projects-list-involuntary-conversions-after.html?userName=Zara%20Laney&userRole=Regional%20Team%20Lead" role="button" draggable="false" class="govuk-button govuk-button" data-module="govuk-button">Continue</a>


                   
                </div>

            </form>  
        </div>
    </div>


{% endblock %}