{% extends "version-4/layout.html" %}

{% set pageTitle = "Check trust and academy details – Transfer an academy – GOV.UK" %}

{% set projectData = data['records'][0] %}

{% block beforeContent %}
  {% include "version-4/includes/phase-banner.html" %}
    <!--setting for dynamic back link-->
    {% if not backLink %}
        {% set backLink = 'javascript:history.back();' %}
    {% endif %}

    {% if not backText %}
        {% set backText = 'Back'  %}
    {% endif %}

    {% if backLink == 'false' %}
        {% set backLink = false %}
    {% endif %}

    {% if backText == 'false' %}
        {% set backText = '' %}
    {% endif %}

    {% block pageNavigation %}
    {% if backLink %}
        {{ govukBackLink({
        text: backText,
        href: backLink
        }) }}
    {% endif %}
    {% endblock %}  

{% endblock %}

{% set outgoingTrust = data['trusts'] | getTrustById(data['outgoing-trust-id']) %}

{# {% set outgoingAcademy = data['trusts'] | getTrustById(data['outgoing-trust-id']) | getAcademiesByIds(data['outgoing-academies']) | first %} #}
{% set outgoingAcademies = data['trusts'] | getTrustById(data['outgoing-trust-id']) | getAcademiesByIds(data['outgoing-academies']) %}

{% set incomingTrust = data['trusts'] | getTrustById(data['incoming-trust-id']) %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">
                Check trust and academy details
            </h1>
        </div>

        <div class="govuk-grid-column-two-thirds">
            <h2 class="govuk-heading-m">
                Outgoing trust
            </h2>
        </div>

        <div class="govuk-grid-column-full">

            <dl class="govuk-summary-list govuk-!-margin-bottom-9">

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Name
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{ outgoingTrust.trust_name }}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="./add-outgoing-trust-name">
                            Change<span class="govuk-visually-hidden">outgoing trust</span>
                        </a>
                    </dd>
                </div>

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        UKPRN
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{ outgoingTrust.ukprn }}
                    </dd>
                    <dd class="govuk-summary-list__value"></dd>
                </div>
        
            </dl>
        </div>

        {% for academy in outgoingAcademies %}
        <div class="govuk-grid-column-two-thirds">
            <h2 class="govuk-heading-m">
                {{ academy.academy_name }}
            </h2>
        </div>

        <div class="govuk-grid-column-full">

            <dl class="govuk-summary-list govuk-!-margin-bottom-9">

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Name
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{ academy.academy_name }}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="./add-outgoing-trust-name">
                            Change<span class="govuk-visually-hidden">Outgoing trust name</span>
                        </a>
                    </dd>
                </div>

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        URN
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{ academy.urn }}
                    </dd>
                    <dd class="govuk-summary-list__value"></dd>
                </div>

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Local authority
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{ academy.local_authority_name }}
                    </dd>
                    <dd class="govuk-summary-list__value"></dd>
                </div>

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        School type
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{ academy.establishment_type }}
                    </dd>
                    <dd class="govuk-summary-list__value"></dd>
                </div>

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Faith school
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{ academy.religious_character }}
                    </dd>
                    <dd class="govuk-summary-list__value"></dd>
                </div>

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Ofsted rating
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{ academy.ofsted_rating }}
                    </dd>
                    <dd class="govuk-summary-list__value"></dd>
                </div>

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Last inspection
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{ academy.ofsted_inspection_date | dateToGovukDate }}
                    </dd>
                    <dd class="govuk-summary-list__value"></dd>
                </div>

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        PFI (private finance initiative)
                    </dt>
                    {% if outgoingAcademy.pfi %}
                        <dd class="govuk-summary-list__value">{{ outgoingAcademy.pfi }}</dd>
                    {% else %}
                        <dd class="govuk-summary-list__value">Does not apply</dd>
                    {% endif %}
                        <dd class="govuk-summary-list__value"></dd>
                </div>
        
            </dl>
        </div>
        {% endfor %}

        <div class="govuk-grid-column-two-thirds">

            <h2 class="govuk-heading-m">
                Incoming trust
            </h2>
        </div>

        <div class="govuk-grid-column-full">

            <dl class="govuk-summary-list govuk-!-margin-bottom-9">

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Name
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{ incomingTrust.trust_name }}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="./add-incoming-trust-name">
                            Change<span class="govuk-visually-hidden">Incoming trust name</span>
                        </a>
                    </dd>
                </div>

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        UKPRN
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{ incomingTrust.ukprn }}
                    </dd>
                    <dd class="govuk-summary-list__value"></dd>
                </div>
        
            </dl>
         
        </div>

        <div class="govuk-grid-column-two-thirds">
            <form action="/version-4/pre-htb/school-1/st-wilfreds-ps" method="post" novalidate>

                <input type="hidden" name="answers-checked" value="true">

                <div class="govuk-button-group">
                    <button class="govuk-button" data-module="govuk-button">
                        Continue
                    </button>
                </div>

            </form>  
        </div>
    </div>


{% endblock %}