{% extends "layout.html" %}

{% block beforeContent %}
<a href="javascript:history.back();" class="govuk-back-link">Back</a>
{% endblock %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
  
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% if data['returnToSummary'] == 'yes' %}
        <form action="summary1" method="post">
        {% else %}
        <form action="/status-answer" method="post">
      {% endif %}
      <input hidden type="text" name="returnToSummary" value="no"/>
      <span class="govuk-caption-l">St. Wilfrid's Primary School</span>
        <h1 class="govuk-heading-l">Change the status for this project</h1>
      </legend>
      
      {% from "govuk/components/radios/macro.njk" import govukRadios %}

      {{ govukRadios({
        idPrefix: "Status-status",
        name: "Status-status",

        fieldset: {
          legend: {

            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
    
        items: [
      
        {
          value: "Active",
          checked:  data['Status-status'] === "Active",
          text: "Active",
          classes:"govuk-!-font-weight-bold",
          hint: {
            text: "Will return this project to active to allow you to work on it"
          }
        },
        {
            value: "Approved",
            checked:  data['Status-status'] === "Approved",
            text: "Approved",
            classes:"govuk-!-font-weight-bold",
            hint: {
              text: "For projects approved by a headteacher board (HTB). This status will move the project to your archive list and a new post HTB project will start."
            }
          },
          {
            value: "Declined",
            checked:  data['Status-status'] === "Declined",
            text: "Declined",
             classes:"govuk-label govuk-radios__label govuk-label—s",
            hint: {
              text: "For projects declined by an HTB. This status will move this project to your archive project list."
            }
          },
          {
            value: "Onhold",
            text: "On hold",
            checked:  data['Status-status'] === "Onhold",
            hint: {
              text: "For projects you cannot work on or are delayed. This status will keep the project in your active project list."
            }
          },
          {
            value: "Withdrawn",
            checked:  data['Status-status'] === "Withdrawn",
            text: "Withdrawn",
            hint: {
              text: "For projects where the school or trust have withdrawn their application. This status will move the project to your archive project list."
            }
          }
        ]
      }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </fieldset>   
    </form>

  </div>  
  </div>  
</div>
{% endblock %}
  
  
  
  
