{% extends "layout.html" %}

{% block beforeContent %}
  
<a href="javascript:history.back();" class="govuk-back-link">Back</a>
{% endblock %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
  
{% block content %}
 
      {% if data['returnToSummary'] == 'yes' %}
      <form action="/generate/generate_summary#ofsted" method="post">
        {% else %}
        <form action="key-stage-performance-comments#additional_info" method="post">
      {% endif %}
      <input hidden type="text" name="returnToSummary" value="no"/>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">St. Wilfrid's Primary School</span>
  <h1 class="govuk-heading-l">Key stage performance tables</h1>
  <p class="govuk-body">This information comes from TRAMS. The tables will populate into your headteacher board (HTB) template.</p> 
  <p>You can add <a href="#additional_info">additional information</a> if you need to, this will also go into your HTB template.</p>
  
  <p class="govuk-body-s">TRAMS last updated on: 23 March 2021<br>
    <a href="https://www.compare-school-performance.service.gov.uk/school/<URN>" class="govuk-link" rel="noreferrer noopener" target="_blank">Source of data: Find and compare school performance (opens in new tab)</a>
  </p><br>

  </div></div>
  <div>
  <table class="govuk-table">
    <caption class="govuk-table__caption govuk-table__caption--m">2019 key stage 2</caption>
    <tbody class="govuk-table__body">
        <th scope="row" class="govuk-table__cell"></th>
        <th scope="row" class="govuk-table__cell ">Percentage meeting expected standard in reading, writing and maths</th>
        <th scope="row" class="govuk-table__cell ">Percentage achieving a higher standard in reading, writing and maths</th>
        <th scope="row" class="govuk-table__cell ">Reading progress scores</th>
        <th scope="row" class="govuk-table__cell ">Writing progress scores</th> 
        <th scope="row" class="govuk-table__cell ">Maths progress scores</th>        
   </tr>
   <tr class="govuk-table__row">
    <th scope="row" class="govuk-table__cell">St Wilfrid's Primary School</th>
    <td scope="row" class="govuk-table__cell ">61%</br>(disadvantaged 20%)</td>
    <td scope="row" class="govuk-table__cell ">4%</td>
    <td scope="row" class="govuk-table__cell ">-0.4 <br>(disadvantaged 0.1)</td>
    <td scope="row" class="govuk-table__cell ">-0.9 <br>(disadvantaged -2.1)</td>
    <td scope="row" class="govuk-table__cell ">-2.2 <br>(disadvantaged -0.2)</td>
</tr>
<tr class="govuk-table__row">
<th scope="row" class="govuk-table__cell">Warrington local authority average</th>
<td scope="row" class="govuk-table__cell ">61%</br>(disadvantaged 9%)</td>
<td scope="row" class="govuk-table__cell">12%</td>
<td scope="row" class="govuk-table__cell">1.5</td>
<td scope="row" class="govuk-table__cell">1.4</td>
<td scope="row" class="govuk-table__cell">1.5</td>
</tr>
<tr class="govuk-table__row">
<th scope="row" class="govuk-table__cell">National average</th>
<td scope="row" class="govuk-table__cell">65%</br>(disadvantaged 51%)</td>
<td scope="row" class="govuk-table__cell ">11%</td>
<td scope="row" class="govuk-table__cell ">0</td>
<td scope="row" class="govuk-table__cell ">0</td>
<td scope="row" class="govuk-table__cell ">0</td>
</tr>

   </tbody></table>
<br>
   <table class="govuk-table">
    <caption class="govuk-table__caption govuk-table__caption--m">2018 key stage 2</caption>
    <th scope="row" class="govuk-table__cell"></th>
    <th scope="row" class="govuk-table__cell">Percentage meeting expected standard in reading, writing and maths</th>
    <th scope="row" class="govuk-table__cell">Percentage achieving a higher standard in reading, writing and maths</th>
    <th scope="row" class="govuk-table__cell">Reading progress scores</th>
    <th scope="row" class="govuk-table__cell">Writing progress scores</th> 
    <th scope="row" class="govuk-table__cell">Maths progress scores</th>        
</tr>
<tr class="govuk-table__row">
<th scope="row" class="govuk-table__cell">St Wilfrid's Primary School</th>
<td scope="row" class="govuk-table__cell">64%</br>(disadvantaged 18%)</td>
<td scope="row" class="govuk-table__cell">11%</td>
<td scope="row" class="govuk-table__cell">1.2 <br>(disadvantaged -1.1)</td>
<td scope="row" class="govuk-table__cell">2.3 <br>(disadvantaged -0.4)</td>
<td scope="row" class="govuk-table__cell">- 0.2 <br>(disadvantaged -0.1)</td>
</tr>
<tr class="govuk-table__row">
<th scope="row" class="govuk-table__cell">Warrington local authority average</th>
<td scope="row" class="govuk-table__cell">70%</br>(disadvantaged 8%)</td>
<td scope="row" class="govuk-table__cell">12%</td>
<td scope="row" class="govuk-table__cell">1.6</td>
<td scope="row" class="govuk-table__cell">1.4</td>
<td scope="row" class="govuk-table__cell">1.5</td>
</tr>
<tr class="govuk-table__row">
<th scope="row" class="govuk-table__cell">National average</th>
<td scope="row" class="govuk-table__cell">64% (disadvantaged 51%)</td>
<td scope="row" class="govuk-table__cell">10%</td>
<td scope="row" class="govuk-table__cell">0</td>
<td scope="row" class="govuk-table__cell">0</td>
<td scope="row" class="govuk-table__cell">0</td>
</tr>

</tbody></table>
<br>
<table class="govuk-table">
<caption class="govuk-table__caption govuk-table__caption--m">2017 key stage 2</caption>
<th scope="row" class="govuk-table__cell"></th>
<th scope="row" class="govuk-table__cell">Percentage meeting expected standard in reading, writing and maths</th>
<th scope="row" class="govuk-table__cell">Percentage achieving a higher standard in reading, writing and maths</th>
<th scope="row" class="govuk-table__cell">Reading progress scores</th>
<th scope="row" class="govuk-table__cell">Writing progress scores</th> 
<th scope="row" class="govuk-table__cell">Maths progress scores</th>        
</tr>
<tr class="govuk-table__row">
<th scope="row" class="govuk-table__cell">St Wilfrid's Primary School</th>
<td scope="row" class="govuk-table__cell">48%</br>(disadvantaged 45%)</td>
<td scope="row" class="govuk-table__cell">0%</td>
<td scope="row" class="govuk-table__cell">2.7 <br>(disadvantaged -0.2)</td>
<td scope="row" class="govuk-table__cell">1.1 <br>(disadvantaged 1.7)</td>
<td scope="row" class="govuk-table__cell">0.6 <br>(disadvantaged 0.1)</td>
</tr>
<tr class="govuk-table__row">
<th scope="row" class="govuk-table__cell">Warrington local authority average</th>
<td scope="row" class="govuk-table__cell">63%</br>(disadvantaged 7%)</td>
<td scope="row" class="govuk-table__cell">9%</td>
<td scope="row" class="govuk-table__cell">1.7</td>
<td scope="row" class="govuk-table__cell">1</td>
<td scope="row" class="govuk-table__cell">1.3</td>
</tr>
<tr class="govuk-table__row">
<th scope="row" class="govuk-table__cell">National average</th>
<td scope="row" class="govuk-table__cell">61%</br>(disadvantaged 47%)</td>
<td scope="row" class="govuk-table__cell">9%</td>
<td scope="row" class="govuk-table__cell">0</td>
<td scope="row" class="govuk-table__cell">0</td>
<td scope="row" class="govuk-table__cell">0</td>
</tr>

</tbody></table>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">



  {% from "govuk/components/textarea/macro.njk" import govukTextarea %}
<a name="additional_info"></a>
  {{ govukTextarea({
    name: "key-stage-more-detail",
    id: "key-stage-more-detail",
    value: data["key-stage-more-detail"],
    label: {
      text: "Additional information (optional)",
      classes: "govuk-label--m"
    },
    hint: {
      text:"This information will populate into your HTB template under the key stage performance tables section."
    }
  }) }}

  {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
  {% from "govuk/components/button/macro.njk" import govukButton %}
  {{ govukButton({
    text: "Save and continue"
  }) }}
</form>

</div>
</div>
{% endblock %}
