{% extends "layout.html" %}

{% block beforeContent %}
        
<a href="javascript:history.back();" class="govuk-back-link">Back to tasklist</a>

{% endblock %}





{% block content %}


<form action="../task_list_involuntary_conversions" method="post">

  



<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-l">Cheltenham Spa Primary School</span>
    <h1 class="govuk-heading-l">Confirm school budget information</h1>
    {% if data['application-form-url']%}
    <p class="govuk-body-m">Please refer to the <a href="https://educationgovuk.sharepoint.com">Annex B form</a> saved in the school's SharePoint folder to see what the school is required to fill on the form. This table will go into your project template.</p>
    {% else %} 
    <p class="govuk-body-m">If you <a href="../related/application_form_url_alt">attach an Annex B form</a> to this application, it will appear here for quick reference. This table will go into your project template.</p>      
    {% endif %}
    <p>You can<a href="#additional_info"> add additional information</a> if you need to, this will also go into your project template.</p>
 <br>
  </div>
</div>


<table class="govuk-table">
 
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header govuk-!-width-one-half govuk-!-font-size-19">End of current financial year</th>
      <td class="govuk-table__cell govuk-!-width-one-quarter govuk-!-font-size-19">
        {% if data['current-financial-year-day'] and data['current-financial-year-month'] and data['current-financial-year-year']%}
        <span>{{ data['current-financial-year-day'] }} </span>
        <span>{{ data['current-financial-year-month'] }} </span>
        <span>{{ data['current-financial-year-year'] }}</span>
        {% else %} 
        <span class="empty">Empty</span>
        {% endif %}
      </td>
      <td class="govuk-table__cell govuk-table__header--numeric govuk-!-width-one-quarter govuk-!-font-size-19">
        <a class="govuk-link" href="update-school-budget-information-involuntary">
          Change <span class="govuk-visually-hidden"> End of current financial year</span>
        </a>
      </td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header govuk-!-width-one-half govuk-!-font-size-19">Forecasted revenue carry forward at the end of the current financial year</th>
      <td class="govuk-table__cell govuk-!-width-one-quarter govuk-!-font-size-19">
        {% if data['forecast-revenue-current-year'] %}
        {{data['forecast-revenue-current-year']}}
        {% else %}
        <span class="empty">Empty</span>
        {% endif %}
      </td>
      <td class="govuk-table__cell govuk-table__header--numeric govuk-!-width-one-quarter govuk-!-font-size-19">
        <a class="govuk-link" href="update-school-budget-information-involuntary">
          Change <span class="govuk-visually-hidden"> Forecasted revenue carry forward at the end of the current financial year</span>
        </a>
      </td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header govuk-!-width-one-half govuk-!-font-size-19">Forecasted capital carry forward at the end of the current financial year</th>
      <td class="govuk-table__cell govuk-!-width-one-quarter govuk-!-font-size-19">
        {% if data['forecast-capital-current-year'] %}
        {{data['forecast-capital-current-year']}}
        {% else %}
        <span class="empty">Empty</span>
        {% endif %}
      </td>
      <td class="govuk-table__cell govuk-table__header--numeric govuk-!-width-one-quarter govuk-!-font-size-19">
        <a class="govuk-link" href="update-school-budget-information-involuntary">
          Change <span class="govuk-visually-hidden"> Forecasted capital carry forward at the end of the current financial year</span>
        </a>
      </td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header govuk-!-width-one-half govuk-!-font-size-19">End of next financial year</th>
      <td class="govuk-table__cell govuk-!-width-one-quarter govuk-!-font-size-19">
        {% if data['next-financial-year-day'] and data['next-financial-year-month'] and data['next-financial-year-year']%}
        <span>{{ data['next-financial-year-day'] }} </span>
        <span>{{ data['next-financial-year-month'] }} </span>
        <span>{{ data['next-financial-year-year'] }}</span>
        {% else %} 
        <span class="empty">Empty</span>
        {% endif %}
      </td>
      <td class="govuk-table__cell govuk-table__header--numeric govuk-!-width-one-quarter govuk-!-font-size-19">
        <a class="govuk-link" href="update-school-budget-information-involuntary">
          Change <span class="govuk-visually-hidden"> End of next financial year</span>
        </a>
      </td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header govuk-!-width-one-half govuk-!-font-size-19">Forecasted revenue carry forward at the end of the next financial year</th>
      <td class="govuk-table__cell govuk-!-width-one-quarter govuk-!-font-size-19">
        {% if data['forecast-revenue-next-year'] %}
        {{data['forecast-revenue-next-year']}}
        {% else %}
        <span class="empty">Empty</span>
        {% endif %}
      </td>
      <td class="govuk-table__cell govuk-table__header--numeric govuk-!-width-one-quarter govuk-!-font-size-19">
        <a class="govuk-link" href="update-school-budget-information-involuntary">
          Change <span class="govuk-visually-hidden"> Forecasted revenue carry forward at the end of the next financial year</span>
        </a>
      </td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header govuk-!-width-one-half govuk-!-font-size-19">Forecasted capital carry forward at the end of the next financial year</th>
      <td class="govuk-table__cell govuk-!-width-one-quarter govuk-!-font-size-19">
        {% if data['forecast-capital-next-year'] %}
        {{data['forecast-capital-next-year']}}
        {% else %}
        <span class="empty">Empty</span>
        {% endif %}
      </td>
      <td class="govuk-table__cell govuk-table__header--numeric govuk-!-width-one-quarter govuk-!-font-size-19">
        <a class="govuk-link" href="update-school-budget-information-involuntary">
          Change <span class="govuk-visually-hidden"> Forecasted capital carry forward at the end of the next financial year</span>
        </a>
      </td>
    </tr>
   
   
  </tbody>
</table>




 
   
     



  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <a name="additional_info"></a>  <h3 class="govuk-heading-m govuk-!-margin-top-8">Add any additional information if you need to</h3>
        <p>This information will go into your project template under the school budget information section.</p>
      </div></div>
      <div>
        <br>
        <dl class="govuk-summary-list">
          <a name="additional_info"></a>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Addtional information</dt>
                <dd class="govuk-summary-list__value">
                    {% if data['budget-more-detail'] %}
                        {{data['budget-more-detail']}}
                    {% else %}
                        <span class="empty">Empty</span>
                    {% endif %}

                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="confirm-school-budget-information-comments-involuntary#additional_info">
                      Change<span class="govuk-visually-hidden">Change budget comments</span>
                    </a>
                </dd>
            </div>
        </dl>
    </div>

 
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
     
      {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
      {% from "govuk/components/button/macro.njk" import govukButton %}

      {{ govukCheckboxes({
        idPrefix: "school-budget-status",
        name: "school-budget-status",
        items: [
          {
            value: "Complete",
            text: "Mark this section as complete, you can still make changes later"
          }
        ]
      }) }}


      {{ govukButton({
        text: "Confirm and continue"
      }) }}

    </form>

    </div>
    </div>

  {% endblock %}