{% extends "layout.html" %}


{% block beforeContent %}

<a href="javascript:history.back();" class="govuk-back-link">Back</a>
{% endblock %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
  
{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% if data['returnToSummary'] == 'yes' %}
        <form action="../generate/generate_summary#application-form-url" method="post">
        {% else %}
        <form action="../related/application_saved_sponsored_conversions" method="post">
      {% endif %}
      <input hidden type="text" name="returnToSummary" value="no"/>
      <span class="govuk-caption-l">Cheltenham Spa Primary School</span>
      <h1 class="govuk-heading-l">Have you saved the school's completed Annex B form in SharePoint?</h1>

      {% from "govuk/components/details/macro.njk" import govukDetails %}
      {{ govukDetails({
        summaryText: "What is the Annex B form?",
        text: "The Annex B form was sent in the directive academy order (DAO) pack to the school. You'll need the completed Annex B form to get the project template ready for advisory board."
      }) }}
      
     
      {% from "govuk/components/radios/macro.njk" import govukRadios %}
      {% from "govuk/components/textarea/macro.njk" import govukTextarea %}
        {% set yesHtml %}

        {{ govukTextarea({
          name: "application-form-url",
          hint: {
            text: "The Annex B form is saved in the school's SharePoint folder"
          },
          id: "application-form-url",
          title: "Sharepoint link",
          value: data["application-form-url"],
          label: {
            text: "What is the link for the Annex B form?"
          }
        }) }}
        {% endset -%}
  
        {{ govukRadios({
          idPrefix: "annexBsaved2",
          name: "annexBsaved2",
          items: [
            {
              value: "Yes",
              checked:  data['annexBsaved2'] === "Yes",
              text: "Yes",
              conditional: {
                html: yesHtml
              }
            },
            {
              value: "No",
              checked:  data['annexBsaved2'] === "No",
              text: "No"
            }
          ]
        }) }}
      

    {{ govukButton({
      text: "Save and continue"
    }) }}

      </form>

    </div>

    <!-- right hand nav -->
    <!--
    <div class="govuk-grid-column-one-third">
      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-s" id="subsection-title">
          Useful information
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a class="govuk-link" href="#">

              </a>
            </li>
            <li>
              <p class="govuk-body-s"><a href="../related/application_newtab" target="application">School application form (opens in a new tab)</a></p>
            </li>

          </ul>
        </nav>

      </aside>
    </div>
-->
  </div>
{% endblock %}
