{% extends "layout.html" %}

{% block beforeContent %}
<a href="/index" class="govuk-back-link">Back to all conversion projects</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-xl">URN 102062</span>
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">
        St. Wilfrid's Primary School
      <h1 class="govuk-heading-l">
        Project notes
        </h1>

        <form method="post">
        


          <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="40">
            
          
          <div class="govuk-form-group">
            <label class="govuk-label govuk-label--m" for="subject">
              Subject
            </label>
          
          
            <textarea class="govuk-textarea govuk-js-character-count" id="subject" name="subject" rows="1" aria-describedby="subject-info subject-hint"></textarea>
          </div>
          
            <div id="subject-info" class="govuk-hint govuk-character-count__message" aria-live="polite">
    
          </div>
          
          </div>
          
          
          
                  
          
          
          <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="500">
            
          
          <div class="govuk-form-group">
            <label class="govuk-label govuk-label--m" for="body">
              Note
            </label>
          
          
            <textarea class="govuk-textarea govuk-js-character-count" id="body" name="body" rows="5" aria-describedby="body-info"></textarea>
          </div>
          
            <div id="body-info" class="govuk-hint govuk-character-count__message" aria-live="polite">
        
          </div>
          
          </div>
          
          
                  
          
            
              
            
          
          <a href="notes-successful.html" role="button" draggable="false" class="govuk-button govuk-button" data-module="govuk-button">
            Save note
          </a>
          
                </form>
          
              </div>
            </div>
          
                  </main>
      </div>
    

      {% endblock %}

