{% extends "version-4/includes/form-template.html" %}

{% set pageTitle = "Write the rationale for the trust or sponsor – Manage an academy transfer" %}

{% set projectData = data['records'][0] %}

{# {% set relatedNavigation = 'true' %} #}


{% block formQuestions %}
  <form action="../rationale" method="post" novalidate>
    <!--page heading with caption include-->
    {% set pageHeading %}
      <span class="govuk-caption-l">
          {{ projectData.name }}
      </span>
      Write the rationale for the trust or sponsor
    {% endset %}

    {{ govukTextarea({
      id: 'trust-rationale',
      name: 'trust-rationale',
      rows: "20",
      hint: {
        text: "Explain why the incoming trust is a good match for the academy."
      },
      label: {
        html: pageHeading,
        isPageHeading: true,
        classes: "govuk-label--l"
      }
    }) }}

    {{ govukButton({
      text: "Save and continue"
    }) }}
  </form>

{% endblock %}