<aside class="app-related-items" role="complementary">
    <h2 class="govuk-heading-s" id="subsection-title">
      Useful information
    </h2>
    <nav role="navigation" aria-labelledby="subsection-title">
      <ul class="govuk-list govuk-!-font-size-16">
        <li>
            {%  if(data['application-form-url']) %}
            <p class="govuk-body-s"><a href="{{data['application-form-url']}}" target="application">Annex B form (opens in a new tab)</a></p>
            {% else %}
            <p class="govuk-body-s">The Annex B form has not been attached to this project yet. When it has, a link to it will appear here.</p>
            <p class="govuk-body-s">You can add it to the project here:</br>
            <a href="../related/application_form_url_alt">Attach Annex B form to this project</a></p>
            {% endif %}
        </li>
      </ul>
    </nav>
</aside>

