{% extends "layout.html" %}
{% block beforeContent %}

<a href="javascript:history.back();" class="govuk-back-link">Back</a>
{% endblock %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
  
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% if data['returnToSummary'] == 'yes' %}
        <form action="../generate/generate_summary#distance" method="post">
        {% else %}
        <form action="../general-info/summary1-involuntary" method="post">
      {% endif %}
      <input hidden type="text" name="returnToSummary" value="no"/>
      <span class="govuk-caption-l">Cheltenham Spa Primary School</span>
      
        <h1 class="govuk-heading-l">How far is the converting school from the trust or other schools in the trust?</h1>
        
        <p>Use the school and trust's postcode to measure the distance on Bing or Google maps.</p>
        {% from "govuk/components/input/macro.njk" import govukInput %}

        {{ govukInput({
          hint: {
            text: "For example, 20"
          },
          classes: "govuk-input--width-5",
          id: "distance",
          name: "distance",
          suffix: {text:"miles"}, 
          value: data["distance"]
        }) }}

        {% from "govuk/components/textarea/macro.njk" import govukTextarea %}

        <a name="additional_info"></a>{{ govukTextarea({
          name: "distance-more-detail",
          id: "distance-more-detail",
          label: {
            text: "Add any additional information if you need to",
            classes: "govuk-label--m"
          },
          hint: {
            text:"This information will populate into your project template under the distance to the trust headquarters section."
          }
        }) }}

        {% from "govuk/components/button/macro.njk" import govukButton %}

        {{ govukButton({
          text: "Save and continue"
        }) }}

      </form>

    </div>  
    
    <!-- right hand nav -->    
    <div class="govuk-grid-column-one-third">
      {% include "../includes/useful_info_sidebar.html" %}
    </div>
  </div>

  {% endblock %}


