{% extends "layout.html" %}

 
{% block beforeContent %}
<a href="javascript:history.back();" class="govuk-back-link">Back</a>
{% endblock %}


{% block content %}
  
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-l">Cotswolds Academies Trusts</span>
    <h1 class="govuk-heading-l">School overviews</h1>
    <p class="govuk-body-m govuk-!-margin-bottom-8" ><a href="../related/application_newtab_voluntary" target="_blank">Open the application form for this project in a new tab</a></p>
    <br><br><br>
    <!--<p class="govuk-body-s">TRAMS last updated on: 23 March 2021</p>-->
  </div>
</div>


    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">



        <form action="../performance-data" method="post"> 
       
      
        <div class="govuk-summary-card">
          <div class="govuk-summary-card__title-wrapper"><h2 class="govuk-summary-card__title">Cheltenham Spa Primary School</h2></div>
      
          <div class="govuk-summary-card__content">  
            
            <dl class="govuk-summary-list">

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key govuk-!-width-two-thirds">
                    <span class="govuk-body-l">Short inspection</span>
                  </dt>
                  <dd class="govuk-summary-list__value"></dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Ofsted inspection date
                  </dt>
                  <dd class="govuk-summary-list__value">
                    1 February 2020
                  </dd>      
                </div>
             
      
    
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key govuk-!-width-two-thirds">
                <span class="govuk-body-l">Last full inspection <b>Good</b></span>
              </dt>
              <dd class="govuk-summary-list__value"></dd>
            </div>
          
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key govuk-width-two-thirds">
                Ofsted inspection date
              </dt>
              <dd class="govuk-summary-list__value">
                1 February 2017
              </dd>     
            </div>
            
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Effectiveness of leadership and management
              </dt>
              <dd class="govuk-summary-list__value">
                <p class="govuk-body">Good</p>
              </dd>    
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Quality of teaching, learning and assessment
              </dt>
              <dd class="govuk-summary-list__value">
                Good</p>
              </dd> 
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Personal development, behaviour and welfare
              </dt>
              <dd class="govuk-summary-list__value">
                <p class="govuk-body">Outstanding</p>
              </dd>
           
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Outcomes for pupils
              </dt>
              <dd class="govuk-summary-list__value">
                <p class="govuk-body">Good</p>
              </dd>
            
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
              Early years provision
              </dt>
              <dd class="govuk-summary-list__value">
                <p class="govuk-body">Good</p>
              </dd>
           
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
              Ofsted report
              </dt>
              <dd class="govuk-summary-list__value">
                <p class="govuk-body"><a href="https://reports.ofsted.gov.uk/provider/21/111315" target="blank">View latest inspection report on Ofsted's website (opens in a new tab)</a></p>
              </dd>
           
            </div>
            
      </dl> 
         
      
      
      </div>


        </div>



        


        <div class="govuk-summary-card">
          <div class="govuk-summary-card__title-wrapper"><h2 class="govuk-summary-card__title">Gloucester Primary School</h2></div>
      
          <div class="govuk-summary-card__content">  
            
            <dl class="govuk-summary-list">

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key govuk-!-width-two-thirds">
                    <span class="govuk-body-l">Short inspection</span>
                  </dt>
                  <dd class="govuk-summary-list__value"></dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Ofsted inspection date
                  </dt>
                  <dd class="govuk-summary-list__value">
                    1 February 2020
                  </dd>      
                </div>
             
      
    
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key govuk-!-width-two-thirds">
                <span class="govuk-body-l">Last full inspection <b>Good</b></span>
              </dt>
              <dd class="govuk-summary-list__value"></dd>
            </div>
          
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key govuk-width-two-thirds">
                Ofsted inspection date
              </dt>
              <dd class="govuk-summary-list__value">
                1 February 2017
              </dd>     
            </div>
            
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Effectiveness of leadership and management
              </dt>
              <dd class="govuk-summary-list__value">
                <p class="govuk-body">Good</p>
              </dd>    
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Quality of teaching, learning and assessment
              </dt>
              <dd class="govuk-summary-list__value">
                Good</p>
              </dd> 
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Personal development, behaviour and welfare
              </dt>
              <dd class="govuk-summary-list__value">
                <p class="govuk-body">Outstanding</p>
              </dd>
           
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Outcomes for pupils
              </dt>
              <dd class="govuk-summary-list__value">
                <p class="govuk-body">Good</p>
              </dd>
            
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
              Early years provision
              </dt>
              <dd class="govuk-summary-list__value">
                <p class="govuk-body">Good</p>
              </dd>
           
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
              Ofsted report
              </dt>
              <dd class="govuk-summary-list__value">
                <p class="govuk-body"><a href="https://reports.ofsted.gov.uk/provider/21/111315" target="blank">View latest inspection report on Ofsted's website (opens in a new tab)</a></p>
              </dd>
           
            </div>
            
      </dl> 
         
      
      
      </div>


        </div>




       
            
        <div class="govuk-summary-card">
          <div class="govuk-summary-card__title-wrapper"><h2 class="govuk-summary-card__title">Winchcombe Primary School</h2></div>
      
          <div class="govuk-summary-card__content">  
            
            <dl class="govuk-summary-list">

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key govuk-!-width-two-thirds">
                    <span class="govuk-body-l">Short inspection</span>
                  </dt>
                  <dd class="govuk-summary-list__value"></dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Ofsted inspection date
                  </dt>
                  <dd class="govuk-summary-list__value">
                    1 February 2020
                  </dd>      
                </div>
             
      
    
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key govuk-!-width-two-thirds">
                <span class="govuk-body-l">Last full inspection <b>Good</b></span>
              </dt>
              <dd class="govuk-summary-list__value"></dd>
            </div>
          
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key govuk-width-two-thirds">
                Ofsted inspection date
              </dt>
              <dd class="govuk-summary-list__value">
                1 February 2017
              </dd>     
            </div>
            
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Effectiveness of leadership and management
              </dt>
              <dd class="govuk-summary-list__value">
                <p class="govuk-body">Good</p>
              </dd>    
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Quality of teaching, learning and assessment
              </dt>
              <dd class="govuk-summary-list__value">
                Good</p>
              </dd> 
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Personal development, behaviour and welfare
              </dt>
              <dd class="govuk-summary-list__value">
                <p class="govuk-body">Outstanding</p>
              </dd>
           
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Outcomes for pupils
              </dt>
              <dd class="govuk-summary-list__value">
                <p class="govuk-body">Good</p>
              </dd>
            
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
              Early years provision
              </dt>
              <dd class="govuk-summary-list__value">
                <p class="govuk-body">Good</p>
              </dd>
           
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
              Ofsted report
              </dt>
              <dd class="govuk-summary-list__value">
                <p class="govuk-body"><a href="https://reports.ofsted.gov.uk/provider/21/111315" target="blank">View latest inspection report on Ofsted's website (opens in a new tab)</a></p>
              </dd>
           
            </div>
            
      </dl> 
         
      
      
      </div>


        </div>
          






<br><br>
    <!--
{{ govukButton({
  text: "Save and continue"
}) }}
-->

</form>

{% endblock %}
