
{% extends "layout.html" %}

{% block beforeContent %}
  
<a href="javascript:history.back();" class="govuk-back-link">Back</a>
{% endblock %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
  
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% if data['returnToSummary'] == 'yes' %}
        <form action="../generate/generate_summary#sponsor" method="post">
        {% else %}
        <form action="risks-and-issues-voluntary" method="post">
      {% endif %}
      <input hidden type="text" name="returnToSummary" value="no"/>
      <span class="govuk-caption-l">St Wilfrid's Primary School</span>
<h1 class="govuk-heading-l">Risks and issues</h1>

    <!-- Not MVP  <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Help with writing a trust or sponsor rationale
          </span>
        </summary>
        <div class="govuk-details__text">
          <p class="govuk-body">To write your rationale, you could include information about:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>if the school and the trust have a shared vision and values</li>
        <li>the services the trust can offer the school</li>
        <li>how the trust can help the school imporve (if needed)</li>
        <li>how the trust will run the school</li>
      </ul>
        </div>
      </details>-->
 
      <form action="risks-and-issues-voluntary" method="post" novalidate>

        {%- from "govuk/components/textarea/macro.njk" import govukTextarea -%}

{{ govukTextarea({
id: 'sponsor-risks',
name: 'sponsor-risks',
maxlength: 500,
rows: 15,
value: data["sponsor-risks"]
}) }} 

{% from "govuk/components/button/macro.njk" import govukButton %}

{{ govukButton({
  text: "Save and continue"
}) }}


</form>

</div>  

<!-- right hand nav -->    
<div class="govuk-grid-column-one-third">
  {% include "../includes/useful_info_sidebar_voluntary.html" %}
</div>
</div>

{% endblock %}
