{% extends "layout.html" %}

{% block beforeContent %}
<a href="javascript:history.back();" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
<span class="govuk-caption-l">St. Wilfrid's Primary School</span>
<h1 class="govuk-heading-l">
Confirm local authority information template dates</h1>
</div></div>
<dl class="govuk-summary-list">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key govuk-!-width-two-thirds">
      Date you sent the template
    </dt>
    <dd class="govuk-summary-list__value">
      {% if data['la-sent-date-day'] and data['la-sent-date-month'] and data['la-sent-date-year']%}
        <span>{{ data['la-sent-date-day'] }} </span>
        <span>{{ data['la-sent-date-month'] }} </span>
        <span>{{ data['la-sent-date-year'] }}</span>
        {% else %} 
        <span class="empty">Empty</span>
      {% endif %}
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="local-authority-template">
        Change<span class="govuk-visually-hidden">date LA proforma was sent to LA</span>
      </a>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Date you want the template returned
    </dt>
    <dd class="govuk-summary-list__value">
      {% if data['la-sent-back-day'] and data['la-sent-back-month'] and data['la-sent-back-year']%}
        <span>{{ data['la-sent-back-day'] }} </span>
        <span>{{ data['la-sent-back-month'] }} </span>
        <span>{{ data['la-sent-back-year'] }}</span>
        {% else %} 
        <span class="empty">Empty</span>
      {% endif %}
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="local-authority-template">
        Change<span class="govuk-visually-hidden">date LA proforma was sent back from LA</span>
      </a>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Comments (optional)
    </dt>
    <dd class="govuk-summary-list__value">
      {% if data['la-comments']%}
        {{data['la-comments']}}
        {% else %} 
        <span class="empty">Empty</span>
      {% endif %}
    </dd>

    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="local-authority-template">
        Change<span class="govuk-visually-hidden">comments</span>
      </a>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Add a link to where you have stored the template in Sharepoint
    </dt>
    <dd class="govuk-summary-list__value">
      {% if data["la-sharepoint-link"] %}
        {{ data["la-sharepoint-link"] }}
        {% else %} 
        <span class="empty">Empty</span>
      {% endif %}
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="local-authority-template">
        Change<span class="govuk-visually-hidden">sharepoint link</span>
      </a>
    </dd>
  </div>
</dl>

<form action="../task_list" method="post"> 
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{{ govukCheckboxes({
idPrefix: "la-proforma-status",
name: "la-proforma-status",

items: [
{
value: "Complete",
text: "Mark this section as complete, you can still make changes later"
}
]
}) }}

{{ govukButton({
text: "Confirm and continue"
}) }}

</form>


{% endblock %}
