{% extends "layout.html" %}


{% block beforeContent %}
<a href="javascript:history.back();" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}



<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-l">School details</span>
    <h1 class="govuk-heading-l">Budgets</h1>
    <p class="govuk-body-m govuk-!-margin-bottom-8" ><a href="../related/application_newtab_voluntary" target="_blank">Open the application form for this project in a new tab</a></p>
    <br><br><br>
    <!--<p class="govuk-body-s">TRAMS last updated on: 23 March 2021</p>-->
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <form action="../school-details" method="post">

    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">Cheltenham Spa Primary School</h2>
      </div>
    
        <div class="govuk-summary-card__content">
  
          <!-- REVENUE SUMMARY LIST START -->
  
          <dl class="govuk-summary-list">
      
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key govuk-heading-m govuk-!-width-full">
                Remaining revenue 31 March
              </dt>
              <dd class="govuk-summary-list__actions govuk-!-width-one-third">
              </dd>
              <dd class="govuk-summary-list__actions govuk-!-width-two-thirds">
              </dd>
            </div>
  
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Previous financial year
              </dt>
              <dd class="govuk-summary-list__value">
                £{{ data['revenue-previous-year'] }}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="revenue-voluntary">
                  Change<span class="govuk-visually-hidden"> data in the revenue section</span>
                </a>
              </dd>
            </div>
        
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Current financial year (forecasted)
              </dt>
              <dd class="govuk-summary-list__value">
                £{{ data['revenue-current-year']}}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="revenue-voluntary">
                  Change<span class="govuk-visually-hidden"> data in the revenue section</span>
                </a>
              </dd>
            </div>
        
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Next financial year (forecasted)
              </dt>
              <dd class="govuk-summary-list__value">
                £{{ data ['revenue-next-year']}}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="revenue-voluntary">
                  Change<span class="govuk-visually-hidden"> data in the revenue section</span>
                </a>
              </dd>
            </div>
        
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                If the school has a financial deficit, explain why?
              </dt>
              <dd class="govuk-summary-list__value">
                {% if data['revenue-reason-for-deficit'] %}
                  {{data['revenue-reason-for-deficit']}}
                {% else %}
                  <span class="empty">Empty</span>
                {% endif %}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="revenue-voluntary">
                  Change<span class="govuk-visually-hidden"> data in the revenue section</span>
                </a>
              </dd>
            </div>
          </dl>
  
          <!-- REVENUE SUMMARY LIST END -->
  
  
          <!-- CAPITAL SUMMARY LIST START -->
  
          <dl class="govuk-summary-list">
            
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key govuk-heading-m govuk-!-width-full">
                Remaining capital 31 March
              </dt>
              <dd class="govuk-summary-list__actions govuk-!-width-one-third">
              </dd>
              <dd class="govuk-summary-list__actions govuk-!-width-two-thirds">
              </dd>
            </div>
  
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Previous financial year
              </dt>
              <dd class="govuk-summary-list__value">
                £{{ data['capital-previous-year'] }}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="capital-voluntary">
                  Change<span class="govuk-visually-hidden"> data in the capital section</span>
                </a>
              </dd>
            </div>
        
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Current financial year (forecasted)
              </dt>
              <dd class="govuk-summary-list__value">
                £{{ data['capital-current-year']}}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="capital-voluntary">
                  Change<span class="govuk-visually-hidden"> data in the capital section</span>
                </a>
              </dd>
            </div>
  
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Next financial year (forecasted)
              </dt>
              <dd class="govuk-summary-list__value">
                <span class="deficit">£{{ data ['capital-next-year']}}</span>  
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="capital-voluntary">
                  Change<span class="govuk-visually-hidden"> data in the capital section</span>
                </a>
              </dd>
            </div>
  
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                If the school has a financial deficit, explain why?
              </dt>
              <dd class="govuk-summary-list__value">
                {% if data['reason-for-deficit'] %}
                  {{data['reason-for-deficit']}}
                {% else %}
                  <span class="empty">Empty</span>
                {% endif %}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="capital-voluntary">
                  Change<span class="govuk-visually-hidden"> data in the capital section</span>
                </a>
              </dd>
            </div>
      
          </dl>
  
          <!-- CAPITAL SUMMARY LIST END -->
  
  
          <!-- LOANS AND LEASES SUMMARY LIST START -->

          
  
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key govuk-heading-m govuk-!-width-full">
               Loans and financial leases
               <br><span class="govuk-body-s"><a href="../related/application_newtab#finances" target="_application">View full loans and financial leases information (opens in a new tab)</a></span>
              </dt>
              <dd class="govuk-summary-list__actions govuk-!-width-one-third">
              </dd>
              <dd class="govuk-summary-list__actions govuk-!-width-two-thirds">
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Total loan amount
              </dt>
              <dd class="govuk-summary-list__value ">
                £{{ data['total-loan-amounts'] }}
              </dd>
              <dd class="govuk-summary-list__actions ">
                <a class="govuk-link" href="loans-leases-voluntary">
                  Change<span class="govuk-visually-hidden"> data in the loans and leases section</span>
                </a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
              Purpose of the loans
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['purpose-of-loans']}}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="loans-leases-voluntary">
                  Change<span class="govuk-visually-hidden"> data in the loans and leases section</span>
                </a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
             Total annual lease repayment amount
              </dt>
              <dd class="govuk-summary-list__value">
                £{{ data ['total-lease-repayments']}}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="loans-leases-voluntary">
                  Change<span class="govuk-visually-hidden"> data in the loans and leases section</span>
                </a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
           Pupose of the leases
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data ['purpose-of-leases']}}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="loans-leases-voluntary">
                  Change<span class="govuk-visually-hidden"> data in the loans and leases section</span>
                </a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
           Have ESFA approved the loans and leases?
              </dt>
              <dd class="govuk-summary-list__value">
                {% if data['esfa-approved'] %}
                {{data['esfa-approved']}}
            {% else %}
                <span class="empty">Empty</span>
            {% endif %}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="loans-leases-voluntary">
                  Change<span class="govuk-visually-hidden"> data in the loans and leases section</span>
                </a>
              </dd>
            </div>
          </dl>

        {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
        {% from "govuk/components/button/macro.njk" import govukButton %}
    
        {{ govukCheckboxes({
          idPrefix: "school-budget-status",
          name: "school-budget-status",
          items: [
            {
              value: "Complete",
              text: "Mark the budget section for this school as complete, you can still make changes later",
              checked: true
            }
          ]
        }) }}

        <!-- LOANS AND LEASES SUMMARY LIST END -->

      </div>  
    
    </div>

    <!-- SUMMARY CARD ENDS -->




    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">Gloucester Primary School</h2>
      </div>
    
        <div class="govuk-summary-card__content">
  
          <!-- REVENUE SUMMARY LIST START -->
  
          <dl class="govuk-summary-list">
      
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key govuk-heading-m govuk-!-width-full">
                Remaining revenue 31 March
              </dt>
              <dd class="govuk-summary-list__actions govuk-!-width-one-third">
              </dd>
              <dd class="govuk-summary-list__actions govuk-!-width-two-thirds">
              </dd>
            </div>
  
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Previous financial year
              </dt>
              <dd class="govuk-summary-list__value">
                £{{ data['revenue-previous-year'] }}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">
                  Change<span class="govuk-visually-hidden"> data in the revenue section</span>
                </a>
              </dd>
            </div>
        
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Current financial year (forecasted)
              </dt>
              <dd class="govuk-summary-list__value">
                £{{ data['revenue-current-year']}}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">
                  Change<span class="govuk-visually-hidden"> data in the revenue section</span>
                </a>
              </dd>
            </div>
        
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Next financial year (forecasted)
              </dt>
              <dd class="govuk-summary-list__value">
                £{{ data ['revenue-next-year']}}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">
                  Change<span class="govuk-visually-hidden"> data in the revenue section</span>
                </a>
              </dd>
            </div>
        
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                If the school has a financial deficit, explain why?
              </dt>
              <dd class="govuk-summary-list__value">
                {% if data['revenue-reason-for-deficit'] %}
                  {{data['revenue-reason-for-deficit']}}
                {% else %}
                  <span class="empty">Empty</span>
                {% endif %}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">
                  Change<span class="govuk-visually-hidden"> data in the revenue section</span>
                </a>
              </dd>
            </div>
          </dl>
  
          <!-- REVENUE SUMMARY LIST END -->
  
  
          <!-- CAPITAL SUMMARY LIST START -->
  
          <dl class="govuk-summary-list">
            
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key govuk-heading-m govuk-!-width-full">
                Remaining capital 31 March
              </dt>
              <dd class="govuk-summary-list__actions govuk-!-width-one-third">
              </dd>
              <dd class="govuk-summary-list__actions govuk-!-width-two-thirds">
              </dd>
            </div>
  
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Previous financial year
              </dt>
              <dd class="govuk-summary-list__value">
                £{{ data['capital-previous-year'] }}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">
                  Change<span class="govuk-visually-hidden"> data in the capital section</span>
                </a>
              </dd>
            </div>
        
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Current financial year (forecasted)
              </dt>
              <dd class="govuk-summary-list__value">
                £{{ data['capital-current-year']}}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">
                  Change<span class="govuk-visually-hidden"> data in the capital section</span>
                </a>
              </dd>
            </div>
  
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Next financial year (forecasted)
              </dt>
              <dd class="govuk-summary-list__value">
                <span class="deficit">£{{ data ['capital-next-year']}}</span>  
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">
                  Change<span class="govuk-visually-hidden"> data in the capital section</span>
                </a>
              </dd>
            </div>
  
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                If the school has a financial deficit, explain why?
              </dt>
              <dd class="govuk-summary-list__value">
                {% if data['reason-for-deficit'] %}
                  {{data['reason-for-deficit']}}
                {% else %}
                  <span class="empty">Empty</span>
                {% endif %}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">
                  Change<span class="govuk-visually-hidden"> data in the capital section</span>
                </a>
              </dd>
            </div>
      
          </dl>
  
          <!-- CAPITAL SUMMARY LIST END -->
  
  
          <!-- LOANS AND LEASES SUMMARY LIST START -->

          
  
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key govuk-heading-m govuk-!-width-full">
               Loans and financial leases
               <br><span class="govuk-body-s"><a href="../related/application_newtab#finances" target="_application">View full loans and financial leases information (opens in a new tab)</a></span>
              </dt>
              <dd class="govuk-summary-list__actions govuk-!-width-one-third">
              </dd>
              <dd class="govuk-summary-list__actions govuk-!-width-two-thirds">
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Total loan amount
              </dt>
              <dd class="govuk-summary-list__value ">
                £{{ data['total-loan-amounts'] }}
              </dd>
              <dd class="govuk-summary-list__actions ">
                <a class="govuk-link" href="#">
                  Change<span class="govuk-visually-hidden"> data in the loans and leases section</span>
                </a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
              Purpose of the loans
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['purpose-of-loans']}}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">
                  Change<span class="govuk-visually-hidden"> data in the loans and leases section</span>
                </a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
             Total annual lease repayment amount
              </dt>
              <dd class="govuk-summary-list__value">
                £{{ data ['total-lease-repayments']}}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">
                  Change<span class="govuk-visually-hidden"> data in the loans and leases section</span>
                </a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
           Pupose of the leases
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data ['purpose-of-leases']}}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">
                  Change<span class="govuk-visually-hidden"> data in the loans and leases section</span>
                </a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
           Have ESFA approved the loans and leases?
              </dt>
              <dd class="govuk-summary-list__value">
                {% if data['esfa-approved'] %}
                {{data['esfa-approved']}}
            {% else %}
                <span class="empty">Empty</span>
            {% endif %}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">
                  Change<span class="govuk-visually-hidden"> data in the loans and leases section</span>
                </a>
              </dd>
            </div>
          </dl>

        {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
        {% from "govuk/components/button/macro.njk" import govukButton %}
    
        {{ govukCheckboxes({
          idPrefix: "school-budget-status",
          name: "school-budget-status",
          items: [
            {
              value: "Complete",
              text: "Mark the budget section for this school as complete, you can still make changes later",
              checked: true
            }
          ]
        }) }}

        <!-- LOANS AND LEASES SUMMARY LIST END -->

      </div>  
    
    </div>

    <!-- SUMMARY CARD ENDS -->




    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">Winchcombe Primary School</h2>
      </div>
    
        <div class="govuk-summary-card__content">
  
          <!-- REVENUE SUMMARY LIST START -->
  
          <dl class="govuk-summary-list">
      
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key govuk-heading-m govuk-!-width-full">
                Remaining revenue 31 March
              </dt>
              <dd class="govuk-summary-list__actions govuk-!-width-one-third">
              </dd>
              <dd class="govuk-summary-list__actions govuk-!-width-two-thirds">
              </dd>
            </div>
  
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Previous financial year
              </dt>
              <dd class="govuk-summary-list__value">
                £{{ data['revenue-previous-year'] }}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">
                  Change<span class="govuk-visually-hidden"> data in the revenue section</span>
                </a>
              </dd>
            </div>
        
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Current financial year (forecasted)
              </dt>
              <dd class="govuk-summary-list__value">
                £{{ data['revenue-current-year']}}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">
                  Change<span class="govuk-visually-hidden"> data in the revenue section</span>
                </a>
              </dd>
            </div>
        
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Next financial year (forecasted)
              </dt>
              <dd class="govuk-summary-list__value">
                £{{ data ['revenue-next-year']}}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">
                  Change<span class="govuk-visually-hidden"> data in the revenue section</span>
                </a>
              </dd>
            </div>
        
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                If the school has a financial deficit, explain why?
              </dt>
              <dd class="govuk-summary-list__value">
                {% if data['revenue-reason-for-deficit'] %}
                  {{data['revenue-reason-for-deficit']}}
                {% else %}
                  <span class="empty">Empty</span>
                {% endif %}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">
                  Change<span class="govuk-visually-hidden"> data in the revenue section</span>
                </a>
              </dd>
            </div>
          </dl>
  
          <!-- REVENUE SUMMARY LIST END -->
  
  
          <!-- CAPITAL SUMMARY LIST START -->
  
          <dl class="govuk-summary-list">
            
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key govuk-heading-m govuk-!-width-full">
                Remaining capital 31 March
              </dt>
              <dd class="govuk-summary-list__actions govuk-!-width-one-third">
              </dd>
              <dd class="govuk-summary-list__actions govuk-!-width-two-thirds">
              </dd>
            </div>
  
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Previous financial year
              </dt>
              <dd class="govuk-summary-list__value">
                £{{ data['capital-previous-year'] }}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">
                  Change<span class="govuk-visually-hidden"> data in the capital section</span>
                </a>
              </dd>
            </div>
        
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Current financial year (forecasted)
              </dt>
              <dd class="govuk-summary-list__value">
                £{{ data['capital-current-year']}}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">
                  Change<span class="govuk-visually-hidden"> data in the capital section</span>
                </a>
              </dd>
            </div>
  
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Next financial year (forecasted)
              </dt>
              <dd class="govuk-summary-list__value">
                <span class="deficit">£{{ data ['capital-next-year']}}</span>  
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">
                  Change<span class="govuk-visually-hidden"> data in the capital section</span>
                </a>
              </dd>
            </div>
  
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                If the school has a financial deficit, explain why?
              </dt>
              <dd class="govuk-summary-list__value">
                {% if data['reason-for-deficit'] %}
                  {{data['reason-for-deficit']}}
                {% else %}
                  <span class="empty">Empty</span>
                {% endif %}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">
                  Change<span class="govuk-visually-hidden"> data in the capital section</span>
                </a>
              </dd>
            </div>
      
          </dl>
  
          <!-- CAPITAL SUMMARY LIST END -->
  
  
          <!-- LOANS AND LEASES SUMMARY LIST START -->

          
  
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key govuk-heading-m govuk-!-width-full">
               Loans and financial leases
               <br><span class="govuk-body-s"><a href="../related/application_newtab#finances" target="_application">View full loans and financial leases information (opens in a new tab)</a></span>
              </dt>
              <dd class="govuk-summary-list__actions govuk-!-width-one-third">
              </dd>
              <dd class="govuk-summary-list__actions govuk-!-width-two-thirds">
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Total loan amount
              </dt>
              <dd class="govuk-summary-list__value ">
                £{{ data['total-loan-amounts'] }}
              </dd>
              <dd class="govuk-summary-list__actions ">
                <a class="govuk-link" href="#">
                  Change<span class="govuk-visually-hidden"> data in the loans and leases section</span>
                </a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
              Purpose of the loans
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['purpose-of-loans']}}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">
                  Change<span class="govuk-visually-hidden"> data in the loans and leases section</span>
                </a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
             Total annual lease repayment amount
              </dt>
              <dd class="govuk-summary-list__value">
                £{{ data ['total-lease-repayments']}}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">
                  Change<span class="govuk-visually-hidden"> data in the loans and leases section</span>
                </a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
           Pupose of the leases
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data ['purpose-of-leases']}}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">
                  Change<span class="govuk-visually-hidden"> data in the loans and leases section</span>
                </a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
           Have ESFA approved the loans and leases?
              </dt>
              <dd class="govuk-summary-list__value">
                {% if data['esfa-approved'] %}
                {{data['esfa-approved']}}
            {% else %}
                <span class="empty">Empty</span>
            {% endif %}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">
                  Change<span class="govuk-visually-hidden"> data in the loans and leases section</span>
                </a>
              </dd>
            </div>
          </dl>

        {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
        {% from "govuk/components/button/macro.njk" import govukButton %}
    
        {{ govukCheckboxes({
          idPrefix: "school-budget-status",
          name: "school-budget-status",
          items: [
            {
              value: "Complete",
              text: "Mark the budget section for this school as complete, you can still make changes later",
              checked: false
            }
          ]
        }) }}

        <!-- LOANS AND LEASES SUMMARY LIST END -->

      </div>  
    
    </div>

    <!-- SUMMARY CARD ENDS -->








    <!-- ADDITIONAL INFO -->

    <div>
      <a name="additional_info"></a>  <h3 class="govuk-heading-m govuk-!-margin-top-8">Add any additional information if you need to</h3>
      <p>This information will go into your project document under the school budget information section.</p>
      <br>
      <dl class="govuk-summary-list">
      <a name="additional_info"></a>
        <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Addtional information</dt>
        <dd class="govuk-summary-list__value">
        {% if data['budget-more-detail'] %}
        {{data['budget-more-detail']}}
        {% else %}
        <span class="empty">Empty</span>
        {% endif %}
        </dd>
        <dd class="govuk-summary-list__actions">
        <a class="govuk-link" href="#">
        Change<span class="govuk-visually-hidden">Change budget comments</span>
        </a>
        </dd>
        </div>
      </dl>
    </div>

  
    
    


    {{ govukButton({
      text: "Save and continue"
    }) }}

  </form>

  </div>
</div>

{% endblock %}