{% extends "layout.html" %}

{% block beforeContent %}
<a href="../trust-information.html" class="govuk-back-link">Back to trust information</a>
{% endblock %}
 
{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-l">Gloucester Academy Trust</span>
    <h1 class="govuk-heading-l">Governance structure</h1>
    <p>This information is pre-populated from TRAMS.</p>
    <p class="govuk-body-s">TRAMS last updated on: 23 March 2021</p>
    </div></div>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
    <dl class="govuk-summary-list">
      
      
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Row one label
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">Row one details</p>
        </dd>
        <dd class="govuk-summary-list__actions">
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Row two label
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">Row two details</p>
        </dd>
        <dd class="govuk-summary-list__actions">
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Row three label
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">Row three label</p>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="route-involuntary.html">
            Change<span class="govuk-visually-hidden">route"</span>
          </a>
        </dd>
      </div>

     

  </div>
</div>
{% endblock %}
