{% extends "layout.html" %}

{% block beforeContent %}
  <a href="../task_list1.html" class="govuk-back-link">Back to task list</a>
{% endblock %}

{% block content %}    
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <span class="govuk-caption-l">St. Wilfrid's Primary School</span>
      <h1 class="govuk-heading-l">Confirm status change</h1>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
      {% from "govuk/components/panel/macro.njk" import govukPanel %}

      {{ govukPanel({
        titleText: "Status changed",
        html: "This project has now has a declined status"
      }) }}

</div>
    </div>
        <form action="../task_list1" method="post"> 
          {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
          {% from "govuk/components/button/macro.njk" import govukButton %}

         
          {{ govukButton({
            text: "Continue"
          }) }}

        </form>
  
      </main>
    </main>   
    </div>
  </div>
{% endblock %}
