{% extends "layout.html" %}

{% block beforeContent %}
<a href="../task_list1" class="govuk-back-link">Back to tasklist</a>
{% endblock %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
  
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% if data['returnToSummary'] == 'yes' %}
        <form action="summary1" method="post">
        {% else %}
        <form action="/status-answer" method="post">
      {% endif %}
      <input hidden type="text" name="returnToSummary" value="no"/>
      <span class="govuk-caption-l">St. Wilfrid's Primary School</span>
        <h1 class="govuk-heading-l">Change the status for this project</h1>
      </legend>


      <!--radio buttons-->
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            
          </legend>
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="Status-status" name="Status-status" type="radio" value="Approved">
              <label class="govuk-label govuk-radios__label" for="Status-status">
                Approved
              </label>
              <div id="sign-in-item-hint" class="govuk-hint govuk-radios__hint">
                For projects approved by the regional schools commissioner (RSC). This status will move the project to your archive list and a new post HTB project will start.
              </div>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="Status-status" name="Status-status" type="radio" value="Declined">
              <label class="govuk-label govuk-radios__label" for="Status-status">
                Declined
              </label>
              <div id="sign-in-item-hint" class="govuk-hint govuk-radios__hint">
                For projects declined by the regional schools commissioner (RSC). This status will move this project to your archive project list.
              </div>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="Status-status" name="Status-status" type="radio" value="Deferred">
              <label class="govuk-label govuk-radios__label" for="Status-status">
                Deferred
              </label>
              <div id="sign-in-item-hint" class="govuk-hint govuk-radios__hint">
                *** copy which explains this option needs adding *** 
              </div>
            </div>
          
          </div>
      
        </fieldset>
      </div>
      
      <!-- nunjucks radio buttons
         {% from "govuk/components/radios/macro.njk" import govukRadios %}

      {{ govukRadios({
        idPrefix: "Status-status",
        name: "Status-status",

        fieldset: {
          legend: {

            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
    
        items: [
      

        {
            value: "Approved",
            checked:  data['Status-status'] === "Approved",
            text: "Approved",
            classes:"govuk-!-font-weight-bold",
            hint: {
              text: "For projects approved by the regional schools commissioner (RSC). This status will move the project to your archive list and a new post HTB project will start."
            }
          },
          {
            value: "Declined",
            checked:  data['Status-status'] === "Declined",
            text: "Declined",
             classes:"govuk-label govuk-radios__label govuk-label—s",
            hint: {
              text: "For projects declined by the regional schools commissioner (RSC). This status will move this project to your archive project list."
            }
          
         },
          
          {
            value: "Declined",
            checked:  data['Status-status'] === "Declined",
            text: "Declined",
             classes:"govuk-label govuk-radios__label govuk-label—s",
            hint: {
              text: "For projects declined by the regional schools commissioner (RSC). This status will move this project to your archive project list."
         }
          } 
        ]
      }) }} -->

        {{ govukButton({
          text: "Continue"
        }) }}
      </fieldset>   
    </form>

  </div>  
  </div>  
</div>
{% endblock %}
  
  
  
  
