{% extends "layout.html" %}

{% block beforeContent %}
  
<a href="javascript:history.back();" class="govuk-back-link">Back</a>
{% endblock %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
  
{% block content %}
 
      {% if data['returnToSummary'] == 'yes' %}
      <form action="../generate/generate_summary#performance5" method="post">
        {% else %}
        <form action="key-stage-5-performance-comments-sponsored#additional_info" method="post">
      {% endif %}
      <input hidden type="text" name="returnToSummary" value="no"/>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">Performance data</span>
  <h1 class="govuk-heading-l">Key stage 5 performance tables</h1> 
  <p class="govuk-body">This information comes from TRAMS and you can <a href="#additional_info">add additional information</a> if you need to. These performance tables and additional information will go into your project template.</p>
  
  <p class="govuk-body-s">TRAMS last updated on: 23 March 2021<br>
    <a href="https://www.compare-school-performance.service.gov.uk/school/<URN>" class="govuk-link" rel="noreferrer noopener" target="_blank">Source of data: Find and compare school performance (opens in new tab)</a>
  </p>
  <div class="govuk-inset-text">
    There is no 2019 to 2020 key stage data because of the pandemic. 2020 to 2021 data is limited.
  </div>

  </div></div>
  <div>
    <h2 class="govuk-heading-m">2021 to 2022 scores for academic and applied general qualifications</h2>
    <table class="govuk-table govuk-!-margin-bottom-9">
  
      <caption class="govuk-table__caption govuk-table__caption--s">Local authority: Gloucestershire</caption>
      
      
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
        
          <th scope="col" class="govuk-table__header">Status</br><strong class="govuk-tag govuk-tag--grey">Provisional</strong></th>
        
          <th scope="col" class="govuk-table__header">Academic progress</th>
        
          <th scope="col" class="govuk-table__header">Academic average</th>
        
          <th scope="col" class="govuk-table__header">Applied general progress</th>
        
          <th scope="col" class="govuk-table__header">Applied general average</th>
        
        </tr>
      </thead>
      
      <tbody class="govuk-table__body">
        
          
            <tr class="govuk-table__row">
            
              
              
              <th scope="row" class="govuk-table__header">Cheltenham Spa Primary School</th>
              
            
              
              
              <td class="govuk-table__cell"
              >-0.14</td>
              
            
              
              
              <td class="govuk-table__cell"
              >33.29</td>
              
            
              
              
              <td class="govuk-table__cell"
              >0.17</td>
              
            
              
              
              <td class="govuk-table__cell"
              >34.66</td>
              
            
            </tr>
          
        
          
            <tr class="govuk-table__row">
            
              
              
              <th scope="row" class="govuk-table__header"
              >National average</th>
              
            
              
              
              <td class="govuk-table__cell"
              >no data</td>
              
            
              
              
              <td class="govuk-table__cell"
              >no data</td>
              
            
              
              
              <td class="govuk-table__cell"
              >no data</td>
              
            
              
              
              <td class="govuk-table__cell"
              >-28.45</td>
              
         
              
            
            </tr>
          
        
          
            
          
        
      </tbody>
    </table>

    <h2 class="govuk-heading-m">2020 to 2021 scores for academic and applied general qualifications</h2>
    <table class="govuk-table govuk-!-margin-bottom-9">
  
      <caption class="govuk-table__caption govuk-table__caption--s">Local authority: Gloucestershire</caption>
      
      
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
        
          <th scope="col" class="govuk-table__header">Status</br><strong class="govuk-tag govuk-tag--orange">Revised</strong></th>
        
          <th scope="col" class="govuk-table__header">Academic progress</th>
        
          <th scope="col" class="govuk-table__header">Academic average</th>
        
          <th scope="col" class="govuk-table__header">Applied general progress</th>
        
          <th scope="col" class="govuk-table__header">Applied general average</th>
        
        </tr>
      </thead>
      
      <tbody class="govuk-table__body">
        
          
            <tr class="govuk-table__row">
            
              
              
              <th scope="row" class="govuk-table__header">Cheltenham Spa Primary School</th>
              
            
              
              
              <td class="govuk-table__cell"
              >-0.14</td>
              
            
              
              
              <td class="govuk-table__cell"
              >33.29</td>
              
            
              
              
              <td class="govuk-table__cell"
              >0.17</td>
              
            
              
              
              <td class="govuk-table__cell"
              >34.66</td>
              
            
            </tr>
          
        
          
            <tr class="govuk-table__row">
            
              
              
              <th scope="row" class="govuk-table__header"
              >National average</th>
              
            
              
              
              <td class="govuk-table__cell"
              >no data</td>
              
            
              
              
              <td class="govuk-table__cell"
              >no data</td>
              
            
              
              
              <td class="govuk-table__cell"
              >no data</td>
              
            
              
              
              <td class="govuk-table__cell"
              >-35.72</td>
              
         
              
            
            </tr>
 </tbody>
    </table>

    <h3 class="govuk-heading-m">2018 to 2019 scores for academic and applied general qualifications</h3>
    <table class="govuk-table govuk-!-margin-bottom-9">
  
      <caption class="govuk-table__caption govuk-table__caption--s">Local authority: Gloucestershire</caption>
      
      
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
        
          <th scope="col" class="govuk-table__header">Status</br><strong class="govuk-tag govuk-tag--green">Final</strong></th>
        
          <th scope="col" class="govuk-table__header">Academic progress</th>
        
          <th scope="col" class="govuk-table__header">Academic average</th>
        
          <th scope="col" class="govuk-table__header">Applied general progress</th>
        
          <th scope="col" class="govuk-table__header">Applied general average</th>
        
        </tr>
      </thead>
      
      <tbody class="govuk-table__body">
        
          
            <tr class="govuk-table__row">
            
              
              
              <th scope="row" class="govuk-table__header">Cheltenham Spa Primary School</th>
              
            
              
              
              <td class="govuk-table__cell"
              >-0.14</td>
              
            
              
              
              <td class="govuk-table__cell"
              >33.29</td>
              
            
              
              
              <td class="govuk-table__cell"
              >0.17</td>
              
            
              
              
              <td class="govuk-table__cell"
              >34.66</td>
              
            
            </tr>
          
        
          
            <tr class="govuk-table__row">
            
              
              
              <th scope="row" class="govuk-table__header"
              >National average</th>
              
            
              
              
              <td class="govuk-table__cell"
              >no data</td>
              
            
              
              
              <td class="govuk-table__cell"
              >no data</td>
              
            
              
              
              <td class="govuk-table__cell"
              >no data</td>
              
            
              
              
              <td class="govuk-table__cell"
              >-35.72</td>
              
         
              
            
            </tr>
 </tbody>
    </table>
    
    
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">



  {% from "govuk/components/textarea/macro.njk" import govukTextarea %}
<a name="additional_info"></a>
  {{ govukTextarea({
    name: "key-stage-5-more-detail",
    id: "key-stage-5-more-detail",
    value: data["key-stage-5-more-detail"],
    label: {
      text: "Add any additional information if you need to",
      classes: "govuk-label--m"
    },
    hint: {
      text:"This information will go into your project template under the key stage performance tables section."
    }
  }) }}

  {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
  {% from "govuk/components/button/macro.njk" import govukButton %}
  {{ govukButton({
    text: "Save and continue"
  }) }}
</form>

</div>
</div>
{% endblock %}
