{% extends "layout.html" %}

{% block pageTitle %}
  Check your answers
{% endblock %}

{% block beforeContent %}
<a href="javascript:history.back();" class="govuk-back-link">Back</a>
{% endblock %}
{% block content %}    
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <span class="govuk-caption-l">St. Wilfrid's Primary School</span>
      <h1 class="govuk-heading-l">Check your answers before recording this decision</h1>

        <dl class="govuk-summary-list">

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Decision
            </dt>
            <dd class="govuk-summary-list__value">
              {% if (data['decision-status'] == "Approved") and (data['approved-conditions'] == "Yes") %}
                <strong class="govuk-tag govuk-tag--green">Approved with conditions</strong>
              {% elseif (data['decision-status'] == "Approved") %}
                <strong class="govuk-tag govuk-tag--green">{{ data['decision-status']}}</strong>
              {% elseif (data['decision-status'] == "Declined") %}  
                <strong class="govuk-tag govuk-tag--red">{{ data['decision-status']}}</strong>
              {% elseif (data['decision-status'] == "Deferred") %} 
                <strong class="govuk-tag govuk-tag--orange">{{ data['decision-status']}}</strong>
              {% endif %} 
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="../list.html?returnToSummary=yes">
                Change<span class="govuk-visually-hidden">decision</span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Reasons
            </dt>
            <dd class="govuk-summary-list__value">
              {% for reason in data['declined-reasons'] %}

                {% if reason != "Other" %}
                    <div>{{ reason }}</div>
                {% else %}
                  {% if data['other-reason'] %} 
                    <div>{{data['other-reason']}} </div>
                  {% endif %}
                {% endif %}

              {% endfor %}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="declined-reasons.html?returnToSummary=yes">
                Change<span class="govuk-visually-hidden">rejected-reason</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
             Date of decision
            </dt>
            <dd class="govuk-summary-list__value">
              {% if data['declined-date-day'] and data['declined-date-month'] and data['declined-date-year']%}
                <span>{{ data['declined-date-day'] }} </span>
                <span>{{ data['declined-date-month'] }} </span>
                <span>{{ data['declined-date-year'] }}</span>
              {% else %} 
                <span class="empty">Empty</span>
              {% endif %}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="dates.html?returnToSummary=yes">
                Change<span class="govuk-visually-hidden">date rejected</span>
              </a>
            </dd>
          </div>

        </dl>



  
        <form action="../../task_list?justRecorded=yes" method="post"> 

          {{ govukButton({
            text: "Record this decision",
            classes: "govuk-button"
          }) }}

        </form>
  
      </main>
    </main>   
    </div>
  </div>
{% endblock %}
