{% extends "layout.html" %}

{% block pageTitle %}
  Cheltenham Spa Primary School - task list
{% endblock %}

{% block beforeContent %}
<a href="javascript:history.back();" class="govuk-back-link">Back</a>
{% endblock %}


{% block content %}






<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <span class="govuk-caption-xl govuk-!-margin-top-6" >
      {% if (data['decision-status-sponsored'] == "Approved") and (data['approved-conditions'] == "Yes")%}
      <strong class="govuk-tag govuk-tag--green">Approved with conditions</strong>
      {% elseif (data['decision-status-sponsored'] == "Approved") %}
      <strong class="govuk-tag govuk-tag--green">{{ data['decision-status-sponsored']}}</strong>
      {% elseif (data['decision-status-sponsored'] == "Declined") %}  
      <strong class="govuk-tag govuk-tag--red">{{ data['decision-status-sponsored']}}</strong>
      {% elseif (data['decision-status-sponsored'] == "Deferred") %} 
      <strong class="govuk-tag govuk-tag--orange">{{ data['decision-status-sponsored']}}</strong>
      {% else %}
      <strong class="govuk-tag govuk-tag--yellow">Pre advisory board</strong>
      {% endif %} 


    </span>
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-2">
      Cotswolds Academies Trust
    </h1>
    <p class="govuk-body govuk-!-margin-bottom-6">
      Project created date: 18 February 2023</br>
      Assigned to: <strong>Zara Laney</strong>
      <a class="govuk-link" href="project-assignment/project-assignment" style="margin-left: 1em;">Change</a>
     
   
    </p>
    <p class="govuk-body govuk-!-margin-bottom-4">
     
      <a class="govuk-link" href="#">Open the application form for this project in a new tab</a>

    </p>
    </div>

  <div class="govuk-grid-column-full">
    <nav class="app-sub-navigation" aria-label="sub menu">

      <ul class="app-sub-navigation__list govuk-!-margin-top-6">
        <li class="app-sub-navigation__item">
          <a class="app-sub-navigation__link" href="schools-in-this-trust">Schools in this trust</a>
        </li>
        <li class="app-sub-navigation__item">
          <a class="app-sub-navigation__link" href="school-details">School details</a>
        </li>
        <li class="app-sub-navigation__item">
          <a class="app-sub-navigation__link" href="trust-details">Trust details</a>
        </li>
        <li class="app-sub-navigation__item">
          <a class="app-sub-navigation__link" href="performance-data">Performance data</a>
        </li>
        <li class="app-sub-navigation__item">
          <a class="app-sub-navigation__link" aria-current="page" href="create-project-document">Create project document</a>
        </li>
    </ul>

    </nav>
  </div>

  <div class="govuk-grid-column-two-thirds">
   
    <h2 class="govuk-heading-l govuk-!-margin-bottom-6">Create your project document</h2>

    <p class="govuk-body">You can create a project document for the advisory board.</p>
    <p class="govuk-body">It will contain:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>the information given about each school</li>
        <li>the information given about the trust</li>
        <li>performance data for each school</li>
        <li>any other information you have added</li>
      </ul>

      <div class="govuk-inset-text govuk-!-margin-top-0">
        Project documents are in Microsoft Word format and can be edited after you create them. 
      </div>
      <br>

    <div class="govuk-button-group">
      <a href="generate/generate_summary_sponsored.html" role="button" draggable="false" class="govuk-button govuk-button--secondary">
        Preview project document
      </a>
      <a href="generate/generate_documents_sponsored" role="button" draggable="false" data-module="govuk-button" class="govuk-button">
        Create project document
      </a>
     
    </div>

         


         
         
     
    



   

         


    


    

         

      <!--
      <h2 class="govuk-heading-l">Create your project document</h2>
      <p>Project documents are in Microsoft Word format. You can make changes to documents after you create them.</p>

      <div class="govuk-button-group">
        <a href="generate/generate_summary_voluntary.html" role="button" draggable="false" class="govuk-button govuk-button--secondary">
          Preview project document
        </a>
        <a href="generate/generate_documents_voluntary" role="button" draggable="false" data-module="govuk-button" class="govuk-button">
          Create project document
        </a>
       
      </div>
    </ul>
  -->


  </div>
</div>
{% endblock %}
