
{% extends "layout.html" %}

{% block pageTitle %}
  Project list
{% endblock %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}


{% block beforeContent %}
<a href="javascript:history.back();" class="govuk-back-link">Back</a>
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl">
     <!-- <span class="govuk-caption-l">{{data['userName']}}, {{data['userRole']}}</span> -->
      Form a MAT projects
    </h1>

    <!--<p class="govuk-body">Use this service to start a new involuntary conversion project or update an existing conversion project.</p>


    <a href="#" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
      Start a new involuntary conversion project
      
      <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
        <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
      </svg></a>-->

    </br></br></br></br>

    <h2 class="govuk-heading-l govuk-!-margin-bottom-2 govuk-!-font-size-27">3 projects found</h2>

    <details class="govuk-details prepare-project-listing__filters-container" data-module="govuk-details">
      <summary class="govuk-details__summary prepare-project-listing__fitlers-details-summary">
        <span class="govuk-details__summary-text govuk-button govuk-button--secondary prepare-project-listing__button--main">
          Filter projects
        </span>
      </summary>
      <div class="govuk-details__text prepare-project-listing__filters-details">
        <form action="projects-list-do-filter-by-regions-results" method="post" class="form">

          <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-quarter">
              {{ govukInput({
                label: {
                  text: "Project title",
                  classes: "govuk-label--s",
                  isPageHeading: true
                },
                classes: "",
                hint: {
                  text: "For example, Bolton Spa Primary"
                },
                id: "filter-project-title",
                name: "filter-project-title",
                value: data['filter-project-title']
              }) }}
            </div>

            <div class="govuk-grid-column-one-quarter">
              {{ govukCheckboxes({
                idPrefix: "filter-regions",
                name: "filter-regions",
                classes: "govuk-checkboxes--small prepare-project-listing__filter",
                fieldset: {
                  legend: {
                    text: "Regions",
                    isPageHeading: true,
                    classes: "govuk-fieldset__legend--s"
                  }
                },
                hint: {
                  text: "Select all that apply."
                },
                items: [
                  {
                    value: "East Midlands",
                    text: "East Midlands",
                    checked: checked("filter-regions", "East Midlands")
                  },
                  {
                    value: "East of England",
                    text: "East of England",
                    checked: checked("filter-regions", "East of England")
                  },
                  {
                    value: "London",
                    text: "London",
                    checked: checked("filter-regions", "London")
                  },
                  {
                    value: "North East",
                    text: "North East",
                    checked: checked("filter-regions", "North East")
                  },
                  {
                    value: "North West",
                    text: "North West",
                    checked: checked("filter-regions", "North West")
                  },
                  {
                    value: "South East",
                    text: "South East",
                    checked: checked("filter-regions", "South East")
                  },
                  {
                    value: "South West",
                    text: "South West",
                    checked: checked("filter-regions", "South West")
                  },
                  {
                    value: "West Midlands",
                    text: "West Midlands",
                    checked: checked("filter-regions", "West Midlands")
                  },
                  {
                    value: "Yorkshire and the Humber",
                    text: "Yorkshire and the Humber",
                    checked: checked("filter-regions", "Yorkshire and the Humber")
                  }
                ]
              }) }}
            </div>

            <div class="govuk-grid-column-one-quarter">
              {{ govukCheckboxes({
                idPrefix: "filter-delivery-officers",
                name: "filter-delivery-officers",
                classes: "govuk-checkboxes--small prepare-project-listing__filter",
                fieldset: {
                  legend: {
                    text: "Delivery officers",
                    isPageHeading: true,
                    classes: "govuk-fieldset__legend--s"
                  }
                },
                hint: {
                  text: "Select all that apply."
                },
                items: [
                  {
                    value: "Alex James",
                    text: "Alex James",
                    checked: checked("filter-delivery-officers", "Alex James")
                  },
                  {
                    value: "Paul Michaels",
                    text: "Paul Michaels",
                    checked: checked("filter-delivery-officers", "Paul Michaels")
                  },
                  {
                    value: "Zara Laney",
                    text: "Zara Laney",
                    checked: checked("filter-delivery-officers", "Zara Laney")
                  },
                  {
                    value: "",
                    text: "Not assigned",
                    checked: checked("filter-delivery-officers", "")
                  }
                ]
              }) }}
            </div>

            <div class="govuk-grid-column-one-quarter">
              {{ govukCheckboxes({
                idPrefix: "filter-project-status",
                name: "filter-project-status",
                classes: "govuk-checkboxes--small prepare-project-listing__filter",
                fieldset: {
                  legend: {
                    text: "Project status",
                    isPageHeading: true,
                    classes: "govuk-fieldset__legend--s"
                  }
                },
                hint: {
                  text: "Select all that apply."
                },
                items: [
                  {
                    value: "Pre advisory board",
                    text: "Pre advisory board",
                    checked: checked("filter-project-status", "Pre advisory board")
                  },
                  {
                    value: "Approved",
                    text: "Approved",
                    checked: checked("filter-project-status", "Approved")
                  },
                  {
                    value: "Approved with conditions",
                    text: "Approved with conditions",
                    checked: checked("filter-project-status", "Approved with conditions")
                  },
                  {
                    value: "Declined",
                    text: "Declined",
                    checked: checked("filter-project-status", "Declined")
                  },
                  {
                    value: "Deferred",
                    text: "Deferred",
                    checked: checked("filter-project-status", "Deferred")
                  }
                ]
              }) }}
            </div>




          </div>

          <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
              <div class="govuk-button-group">
                <button class="govuk-button govuk-button--secondary prepare-project-listing__button--apply" data-module="govuk-button ">
                  Apply filters
                </button>
              
                <a class="govuk-link" href="projects-list-do-filter-by-regions?filter-project-title=&filter-regions=null&filter-local-authorities=null&filter-delivery-officers=null&filter-project-status=null">Clear filters</a>
              </div>
            </div>
          </div>

        </form>
      </div>
    </details>

    <div class="sort-component">
      <nav class="govuk-body sort-component__nav">
        <span class="govuk-!-font-weight-bold">Sorted by:</span>
        <ul class="sort-component__list">
          <li class="sort-component__list-item">Project created date</li>
          <!--li class="sort-component__list-item"><a class="govuk-link" href="projects-list-sorting-2"><span class="govuk-visually-hidden">Sort by </span>Project title</a></li-->
        </ul>
      </nav>
    </div>

    <table class="govuk-table">
      <caption class="govuk-table__caption govuk-table__caption--m govuk-visually-hidden">Projects (3)</caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-table__header app-!-width-three-fifths">
            Prospective trusts
          </th>
          <th class="govuk-table__header prepare-text-align-right app-!-width-two-fifths">
            Project status
          </th>  
        </tr>
      </thead>

      <tbody class="govuk-table__body">

        <tr class="govuk-table__row">
            <td class="govuk-table__cell"><h2 class="govuk-caption-l govuk-!-margin-bottom-0 govuk-!-margin-top-1"><strong><a href="schools-in-this-trust">Cotswolds Academies Trust</a></strong></h2>
              <p class="govuk-!-margin-top-3">
              <strong>Regions: </strong>West Midlands, South West</br>
              Cheltenham Spa Primary School</br>
              Gloucester Primary School</br>
              Winchcombe Primary School
              </p>
            </td>
            <td class="govuk-table__cell govuk-table__cell prepare-text-align-right">
              <p class="govuk-!-margin-top-0">
                <strong class="govuk-tag govuk-tag--yellow">Pre Advisory Board</strong>
              </p>
              <p class="govuk-hint  govuk-!-margin-top-0">
                Created on: 18 February 2023</br>
                Assigned to: Zara Laney
              </p>
            </td>   
          </tr>

          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><h2 class="govuk-caption-l govuk-!-margin-bottom-0 govuk-!-margin-top-1"><strong><a href="#">Groovy Eduction Trust</a></strong></h2>
              <p class="govuk-!-margin-top-3">
              <strong>Regions: </strong>West Midlands, South West</br>
              Seymour Road Infants School</br>
              Cathcart Primary School</br>
              Battledown Primary School<br>
              And 3 more...
              </p>
            </td>
            <td class="govuk-table__cell govuk-table__cell prepare-text-align-right">
              <p class="govuk-!-margin-top-0">
                <strong class="govuk-tag govuk-tag--yellow">Pre Advisory Board</strong>
              </p>
              <p class="govuk-hint  govuk-!-margin-top-0">
                Created on: 11 February 2023</br>
                Assigned to: Bob Roberts
              </p>
            </td>   
          </tr>

          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><h2 class="govuk-caption-l govuk-!-margin-bottom-0 govuk-!-margin-top-1"><strong><a href="#">Shoestring Budget Trust</a></strong></h2>
              <p class="govuk-!-margin-top-3">
              <strong>Regions: </strong>West Midlands, South West</br>
              Shawlands Primary School</br>
              Bishopbriggs Primary School</br>
              Bearsden Primary School
              </p>
            </td>
            <td class="govuk-table__cell govuk-table__cell prepare-text-align-right">
              <p class="govuk-!-margin-top-0">
                <strong class="govuk-tag govuk-tag--yellow">Pre Advisory Board</strong>
              </p>
              <p class="govuk-hint  govuk-!-margin-top-0">
                Created on: 7 February 2023</br>
                Assigned to: Bob Smith
              </p>
            </td>   
          </tr>
          

      </tbody>
    </table>

    <nav class="govuk-pagination" role="navigation" aria-label="results">
      <!--<div class="govuk-pagination__prev">
        <a class="govuk-link govuk-pagination__link" href="#" rel="prev">
          <svg class="govuk-pagination__icon govuk-pagination__icon--prev" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
            <path d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
          </svg>
          <span class="govuk-pagination__link-title">Previous</span></a>
      </div>-->
      <ul class="govuk-pagination__list">
        <li class="govuk-pagination__item govuk-pagination__item--current">
          <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 1">
            1
          </a>
        </li>
        <li class="govuk-pagination__item">
          <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 2" aria-current="page">
            2
          </a>
        </li>
        <li class="govuk-pagination__item">
          <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 3">
            3
          </a>
        </li>
      </ul>
      <div class="govuk-pagination__next">
        <a class="govuk-link govuk-pagination__link" href="#" rel="next"> <span class="govuk-pagination__link-title">Next</span> <svg class="govuk-pagination__icon govuk-pagination__icon--next" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
            <path d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
          </svg></a>
      </div>
    </nav>

  </div>
</div>
{% endblock %}