{% extends "layout.html" %}


{% block beforeContent %}

<a href="javascript:history.back();" class="govuk-back-link">Back</a>
{% endblock %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
  
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% if data['returnToSummary'] == 'yes' %}
        <form action="../generate/generate_summary#author" method="post">
        {% else %}
        <form action="../trust-overview/trust-overview-sponsored" method="post">
      {% endif %}
      <input hidden type="text" name="returnToSummary" value="no"/>
      <span class="govuk-caption-l">Trust overview</span>
      <h1 class="govuk-heading-l">Does the trust have any pre-pipeline academies?</h1>

      {% from "govuk/components/radios/macro.njk" import govukRadios %}
      {% from "govuk/components/input/macro.njk" import govukInput %}

        {% set noHtml %}
        {{ govukInput({
          classes: "govuk-input--width-5",
          id: "sponsor-pre-pipeline-number",
          name: "sponsor-pre-pipeline-number",
          value: '',
          label: {
            text: "How many academies does the trust have in the pipeline?",
            classes: "govuk-label--m"
            },
            value: data["sponsor-pre-pipeline-number"]
        }) }}

      
        {% endset -%}
  
        {{ govukRadios({
          idPrefix: "sponsor-pre-pipeline",
          name: "sponsor-pre-pipeline",
          
          items: [
            {
              value: "No",
              checked:  data['sponsor-pre-pipeline'] === "No",
              text: "No"
            },
            {
              value: "Yes",
              checked:  data['sponsor-pre-pipeline'] === "Yes",
              text: "Yes",
              conditional: {
                html: noHtml
              }
            }
          ]
        }) }}

        {{ govukButton({
          text: "Save and continue"
        }) }}

      </form>

    </div>

    <!-- right hand nav -->
    <div class="govuk-grid-column-one-third">
      {% include "../includes/useful_info_sidebar.html" %}
    </div>
  </div>
{% endblock %}
