{% extends "layout.html" %}

{% block beforeContent %}
<a href="javascript:history.back();" class="govuk-back-link">Back</a>
{% endblock %}
{% block content %}    
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <span class="govuk-caption-l">St. Wilfrid's Primary School</span>
      <h1 class="govuk-heading-l">Confirm status change</h1>

        <dl class="govuk-summary-list">

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Status
            </dt>
            <dd class="govuk-summary-list__value">{{ data['Status-status']}} </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/status/list.html?returnToSummary=yes">
                Change<span class="govuk-visually-hidden">status</span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
            Withdrawn reason
            </dt>
            <dd class="govuk-summary-list__value">               
              {% if data['withdrawn_reasons']%}
              {% else %} 
              <span class="empty">Empty</span>
            {% endif %}
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="withdrawn_reasons.html?returnToSummary=yes">
                Change<span class="govuk-visually-hidden">rejected-reason</span>
              </a>
            </dd>
          </div>
          
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
             Withdrawn date
            </dt>
            <dd class="govuk-summary-list__value">
              {% if data['withdrawn-date-day'] and data['withdrawn-date-month'] and data['withdrawn-date-year']%}
              <span>{{ data['withdrawn-date-day'] }} </span>
              <span>{{ data['withdrawn-date-month'] }} </span>
              <span>{{ data['withdrawn-date-year'] }}</span>
              {% else %} 
              <span class="empty">Empty</span>
            {% endif %}
              </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="dates.html?returnToSummary=yes">
                Change<span class="govuk-visually-hidden">date rejected</span>
              </a>
            </dd>
          </div>

        </dl>



  
        <form action="task_list2" method="post"> 
          {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
          {% from "govuk/components/button/macro.njk" import govukButton %}

       
          {{ govukButton({
            text: "Withdraw this project"
          }) }}

        </form>
  
      </main>
    </main>   
    </div>
  </div>
{% endblock %}
