{% extends "layout.html" %}

{% block beforeContent %}
<a href="javascript:history.back();" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
<!-- <div class="govuk-notification-banner govuk-notification-banner--success" role="alert"
  aria-labelledby="govuk-notification-banner-title"
  data-module="govuk-notification-banner">
  <div class="govuk-notification-banner__header">
    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title" >
      Success
    </h2>
  </div>
  <div class="govuk-notification-banner__content"><h2 class="govuk-heading-m">Additional information added</h2>
  <p><a href="/task_list1">Back to task list</a></p></div>
</div>
<div> -->
  <span class="govuk-caption-l">St. Wilfrid's Primary School</span>
    <h1 class="govuk-heading-l">School performance (Ofsted information)</h1>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <p class="govuk-body">This information comes from TRAMS. The table will populate into your headteacher board (HTB) template.</p> 
        <p>You can add <a href="#additional_info">additional information</a> if you need to, this will also go into your HTB template.</p>    
        <p class="govuk-body-s">TRAMS last updated on: 23 March 2021</p><br>
      </div>
    </div>
  <div>
    <table>
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-width-two-thirds">
          Ofsted judgement date
        </dt>
        <dd class="govuk-summary-list__value">
          1 February 2017
        </dd>      <dd class="govuk-summary-list__actions">
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Outcome for pupils
        </dt>
        <dd class="govuk-summary-list__value">
        Good</p>
        </dd>      <dd class="govuk-summary-list__actions">
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Quality of teaching, learning and assessment
        </dt>
        <dd class="govuk-summary-list__value">
          Good</p>
        </dd>      <dd class="govuk-summary-list__actions">
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Effectiveness of leadership and management
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">Good</p>
        </dd>      <dd class="govuk-summary-list__actions">
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Personal development, behaviour and welfare
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">Outstanding</p>
        </dd>
        <dd class="govuk-summary-list__actions">
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
        Early years provision, 11 to 18, 16 to 19
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">Good</p>
        </dd>
        <dd class="govuk-summary-list__actions">
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Overall effectiveness
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">Good</p>
        </dd>
        <dd class="govuk-summary-list__actions">
        </dd>
      </div>
  </dl> 
</table>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <a name="additional_info"></a>  <h3 class="govuk-heading-m govuk-!-margin-top-8">Additional information (optional)</h3>
        <p>This information will populate into your HTB template under the school performance (Ofsted information) section.</p>
      </div></div>
      <div>
        <br>
        <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Addtional information</dt>
                <dd class="govuk-summary-list__value">
                    {% if data['ofsted-more-detail'] %}
                        {{data['ofsted-more-detail']}}
                    {% else %}
                        <span class="empty">Empty</span>
                    {% endif %}
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="ofsted-information">
                      Change<span class="govuk-visually-hidden">Ofsted additional information</span>
                    </a>
                </dd>
            </div>
        </dl>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <form action="/task_list1" method="post"> 
          <a href="#" name="additional_info"></a>
          
          {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
          {% from "govuk/components/button/macro.njk" import govukButton %}
          {{ govukButton({
            text: "Confirm and continue"
          }) }}
        </form>
   
      </div>
    </div>
    {% endblock %}

