{% extends "layout.html" %}

{% block beforeContent %}
<a href="javascript:history.back();" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-notification-banner govuk-notification-banner--success" role="alert"
  aria-labelledby="govuk-notification-banner-title"
  data-module="govuk-notification-banner">
  <div class="govuk-notification-banner__header">
    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title" >
      Success
    </h2>
  </div>
  <div class="govuk-notification-banner__content"><h2 class="govuk-heading-m">Additional information added</h2></div>
</div>
<div>

    <h1 class="govuk-heading-l">School performance (Ofsted information)</h1>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <p class="govuk-body govuk-!-margin-bottom-7">This information comes from TRAMS. The table will populate into your HTB template. You can add <a href="#additional_info">additional information</a> if you need to but it is optional.</p></p>
      </div>
    </div>
  <div>
    <table>
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Ofsted judgement date
        </dt>
        <dd class="govuk-summary-list__value">
          1 February 2017
        </dd>      <dd class="govuk-summary-list__actions">
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Outcome for pupils
        </dt>
        <dd class="govuk-summary-list__value">
        Good</p>
        </dd>      <dd class="govuk-summary-list__actions">
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Quality of teaching, learning and assessment
        </dt>
        <dd class="govuk-summary-list__value">
          Good</p>
        </dd>      <dd class="govuk-summary-list__actions">
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Effectiveness of leadership and management
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">Good</p>
        </dd>      <dd class="govuk-summary-list__actions">
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Personal development, behaviour and welfare
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">Outstanding</p>
        </dd>
        <dd class="govuk-summary-list__actions">
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
        Early years provision /11-18/16-19
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">Good</p>
        </dd>
        <dd class="govuk-summary-list__actions">
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Overall effectiveness
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">Good</p>
        </dd>
        <dd class="govuk-summary-list__actions">
        </dd>
      </div>
  </dl> 
</table>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <a name="additional_info"></a>  <h3 class="govuk-heading-m govuk-!-margin-top-8">Additional information (optional)</h3>
        <p>This additional information will accompany the school performance information in the HTB template. </p>
      </div></div>
      <div>
        <br>
        <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <a href="#" name="additional_info"></a> <dt class="govuk-summary-list__key">Addtional Information</dt>
                <dd class="govuk-summary-list__value">
                    {% if data['ofsted-more-detail'] %}
                        {{data['ofsted-more-detail']}}
                    {% else %}
                        <span class="empty">Empty</span>
                    {% endif %}
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="ofsted-information">
                      Change<span class="govuk-visually-hidden">change ofsted comments</span>
                    </a>
                </dd>
            </div>
        </dl>
    </div>

  <form action="/task_list1" method="post"> 
  {% from "govuk/components/button/macro.njk" import govukButton %}
  {{ govukButton({
    text: "Save and continue"
  }) }}

  </form>
  <p><a href="javascript:history.back();">Cancel</a></p>

</div>
{% endblock %}
