{% extends "layout.html" %}

{% block beforeContent %}
<a href="../trust-information.html" class="govuk-back-link">Back to trust information</a>
{% endblock %}
 
{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-l govuk-!-margin-top-6" >Gloucester Academy Trust</span>
    <h1 class="govuk-heading-l">Reasons for forming the trust</h1>
    <p>This information is pre-populated from TRAMS.</p>
    <p class="govuk-body-s">TRAMS last updated on: 23 March 2021</p>
    </div></div>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
    <dl class="govuk-summary-list">
      
      
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Why are the schools forming the trust?
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">Details about this here...</p>
        </dd>
        <dd class="govuk-summary-list__actions">
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          What vision and aspirations have the schools agreed to for the trust?
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">Vision and aspirations info here...</p>
        </dd>
        <dd class="govuk-summary-list__actions">
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          What geographical areas and communities will the trust serve?
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">Geographical information here...</p>
        </dd>
        <dd class="govuk-summary-list__actions">
          <!--
          <a class="govuk-link" href="route-involuntary.html">
            Change<span class="govuk-visually-hidden">route"</span>
          </a>
        -->
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          How will the schools make the most of the freedom that academies have?
        </dt>
        <dd class="govuk-summary-list__value">
          Details about academy freedoms here...
        </dd>
        <dd class="govuk-summary-list__actions">
          <!--
          <a class="govuk-link" href="set-form-7.html">
            Change<span class="govuk-visually-hidden">form 7 received</span>
          </a>
        -->
        </dd>
      </div>

     
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          How will the schools work together to improve teaching and learning
        </dt>
        <dd class="govuk-summary-list__value">
          Information about teaching and learning here...
        </dd>
        <dd class="govuk-summary-list__actions">
          <!--
          <a class="govuk-link" href="set-form-7-date.html">
            Change<span class="govuk-visually-hidden">form 7 received</span>
          </a>
        -->
        </dd>
      </div>
      

   

     

    

     

      
     

      
      


  </div>
</div>
{% endblock %}
