{% extends "layout.html" %}

{% block beforeContent %}
<a href="javascript:history.back();" class="govuk-back-link">Back to project details</a>
{% endblock %}
 
{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-l">Cheltenham Spa Primary School</span>
    <h1 class="govuk-heading-l">
    Confirm risks and issues</h1>
   <!--<p>This information is pre-populated from TRAMS.</p>
    <p class="govuk-body-s">TRAMS last updated on: 23 March 2021</p>-->
    </div></div>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
    <dl class="govuk-summary-list">
    



      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-width-one-third">
          Risks and issues
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">
          {% if data['sponsor-risks'] %}
          {{ data['sponsor-risks']}}
          {% else %} 
          <span class="empty">Empty</span>
          {% endif %}
          </p>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="risks-and-issues-sponsored-update.html">
            Change<span class="govuk-visually-hidden">risks and issues"</span>
          </a>
        </dd>
      </div>

      
     

      
      
     
    </dl>
    <form action="../task_list_sponsor_template_new" method="post"> 
  {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
  {% from "govuk/components/button/macro.njk" import govukButton %}

  {{ govukCheckboxes({
    idPrefix: "overview-status",
    name: "overview-status",
    
    items: [
    
      {
        value: "Complete",
        text: "Mark this section as complete, you can still make changes later"
      }
      ]
    }) }}

  
        

  {{ govukButton({
    text: "Confirm and continue"
  }) }}

    </form>

  </div>
</div>
{% endblock %}
