{% extends "layout.html" %}

{% block beforeContent %}
<a href="javascript:history.back();" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% if data['returnToSummary'] == 'yes' %}
        <form action="../generate/generate_summary#legal-consultation-checked" method="post">
        {% else %}
        <form action="legal-requirements-voluntary" method="post">
      {% endif %}
      <input hidden type="text" name="returnToSummary" value="no"/>
      <span class="govuk-caption-l">St Wilfrid's Primary School</span>
      <h1 class="govuk-heading-l">Has a consultation been done?</h1>

        {{ govukRadios({
          idPrefix: "legal-consultation-checked",
          name: "legal-consultation-checked",
    
          items: [
      
            {
              value: "Yes",
              checked:  data['legal-consultation-checked'] === "Yes",
              text: "Yes"
            },
            {
              value: "No",
              checked:  data['legal-consultation-checked'] === "No",
              text: "No"
            },
            {
              value: "Not applicable",
              checked:  data['legal-consultation-checked'] === "Not applicable",
              text: "Not applicable"
            }
            
          ]
        }) }}

        {{ govukButton({
          text: "Save and continue"
        }) }}
      </form>
    </div>  
  
  <!-- right hand nav -->    
  <div class="govuk-grid-column-one-third">
    {% include "../includes/useful_info_sidebar_voluntary.html" %}
  </div>
</div>
{% endblock %}
