
{% extends "layout.html" %}

{% block beforeContent %}
  
<a href="javascript:history.back();" class="govuk-back-link">Back</a>
{% endblock %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
  
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% if data['returnToSummary'] == 'yes' %}
        <form action="../generate/generate_summary#opening" method="post">
        {% else %}
        <form action="../conversion-details/conversion-details" method="post">
      {% endif %}
      <input hidden type="text" name="returnToSummary" value="no"/>
      <span class="govuk-caption-l">Cheltenham Spa Primary School</span>
      <h1 class="govuk-heading-l">Choose the opening date for the academy</h1>
      <p>Acadamies must open on the first day of every month. You should tell the school and the trust what the opening date will be if you change their preferred date.</p>

        {{ govukRadios({
          idPrefix: "opening-date",
          name: "opening-date",
    
          items: [
      
            {
              value: "Sunday 1 October 2023",
              checked:  data['opening-date'] === "Sunday 1 October 2023",
              text: "Sunday 1 October 2023"
            },
            {
              value: "Wednesday 1 November 2023",
              checked:  data['opening-date'] === "Wednesday 1 November 2023",
              text: "Wednesday 1 November 2023"
            },
            {
              value: "Friday 1 December 2023",
              checked:  data['opening-date'] === "Friday 1 December 2023",
              text: "Friday 1 December 2023"
            },
            {
              value: "Monday 1 January 2024",
              checked:  data['opening-date'] === "Monday 1 January 2024",
              text: "Monday 1 January 2024"
            },
            {
              value: "Thursday 1 February 2024",
              checked:  data['opening-date'] === "Thursday 1 February 2024",
              text: "Thursday 1 February 2024"
            },
            {
              value: "Friday 1 March 2024",
              checked:  data['opening-date'] === "Friday 1 March 2024",
              text: "Friday 1 March 2024"
            },
            {
              value: "Monday 1 April 2024",
              checked:  data['opening-date'] === "Monday 1 April 2024",
              text: "Monday 1 April 2024"
            },
            {
              value: "Wednesday 1 May 2024",
              checked:  data['opening-date'] === "Wednesday 1 May 2024",
              text: "Wednesday 1 May 2024"
            },
            {
              value: "Saturday 1 June 2024",
              checked:  data['opening-date'] === "Saturday 1 June 2024",
              text: "Saturday 1 June 2024"
            },
            {
              value: "Monday 1 July 2024",
              checked:  data['opening-date'] === "Monday 1 July 2024",
              text: "Monday 1 July 2024"
            },
            {
              value: "Thursday 1 August 2024",
              checked:  data['opening-date'] === "Thursday 1 August 2024",
              text: "Thursday 1 August 2024"
            },
            {
              value: "Sunday 1 September 2024",
              checked:  data['opening-date'] === "Sunday 1 September 2024",
              text: "Sunday 1 September 2024"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Save and continue"
        }) }}
        
      </form>
      
    </div>  
    
    <!-- right hand nav -->    
    <div class="govuk-grid-column-one-third">
      {% include "../includes/useful_info_sidebar_voluntary.html" %}
    </div>
  </div>
  
{% endblock %}

