{% extends "layout.html" %}


{% block beforeContent %}

<a href="javascript:history.back();" class="govuk-back-link">Back</a>
{% endblock %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
  
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% if data['returnToSummary'] == 'yes' %}
        <form action="../generate/generate_summary#previousHTB" method="post">
        {% else %}
        <form action="../conversion-details/conversion-details" method="post">
      {% endif %}
      <input hidden type="text" name="returnToSummary" value="no"/>
      <span class="govuk-caption-l">Cheltenham Spa Primary School</span>
      <h1 class="govuk-heading-l"> Has this project been to a previous Advisory Board?</h1>

      <div class="govuk-form-group">
    
        {{ govukRadios({
          idPrefix: "Conditions3",
          name: "Conditions3",

          items: [

            {
              value: "Yes",
              checked:  data['Conditions3'] === "Yes",
              text: "Yes"
            },
            {
              value: "No",
              checked:  data['Conditions3'] === "No",
              text: "No"
            }

          ]
        }) }}
        </div>
     <div class="govuk-form-group">

     

          <!--    <label class="govuk-label govuk-label--m" for="recommendation">
            Enter the full name of the author of this headteacher board (HTB) template
          </label>
   

        {% from "govuk/components/input/macro.njk" import govukInput %}
  
        {{ govukInput({
         
          classes: "govuk-input--width-20",
          id: "author",
          name: "author",
      
          value: data["author"]
        }) }}-->
         
          {{ govukButton({
            text: "Save and continue"
          }) }}

 <div>

      </form>

    </div>

  </div>
</div>
    <!-- right hand nav -->
    <div class="govuk-grid-column-one-third">
      {% include "../includes/useful_info_sidebar_voluntary.html" %}
    </div>
  </div>
{% endblock %}
