
{% extends "layout.html" %}

{% block beforeContent %}
  
<a href="javascript:history.back();" class="govuk-back-link">Back</a>
{% endblock %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
  
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% if data['returnToSummary'] == 'yes' %}
        <form action="../generate/generate_summary#aorequired" method="post">
        {% else %}
        <form action="../conversion-details/conversion-details-voluntary" method="post">
      {% endif %}
      <input hidden type="text" name="returnToSummary" value="no"/>
      <span class="govuk-caption-l">Conversion details</span>
      <h1 class="govuk-heading-l">Is an academy order required for this conversion?</h1>

        {{ govukRadios({
          idPrefix: "aorequired",
          name: "aorequired",
    
          items: [
      
            {
              value: "Yes",
              checked:  data['aorequired'] === "Yes",
              text: "Yes"
            },
            {
              value: "No",
              checked:  data['aorequired'] === "No",
              text: "No"
            }
            
          ]
        }) }}

        {{ govukButton({
          text: "Save and continue"
        }) }}
      </form>
    </div>  
    
    <!-- right hand nav -->    
    <div class="govuk-grid-column-one-third">
      {% include "../includes/useful_info_sidebar_voluntary.html" %}
    </div>

  </div>
{% endblock %}


