{% extends "layout.html" %}


{% block beforeContent %}
  <a href="../task_list_voluntary_new.html" class="govuk-back-link">Back to project details</a>
{% endblock %}

{% block content %}

<form action="../task_list_voluntary_new" method="post">



<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-l">St Wilfrid's Primary School</span>
    <h1 class="govuk-heading-l">Budget</h1>
    <p class="govuk-body">This table will go into your project document.</p>
    <p>You can<a href="#additional_info"> add additional information</a> if you need to, this will also go into your project document.</p>
 <br>
  </div>
</div>

  
<dl class="govuk-summary-list">
   

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key govuk-heading-m govuk-!-width-one-half">
      Remaining revenue 31 March
  </dt>
 
  <dd class="govuk-summary-list__actions govuk-!-width-one-half">
    <a class="govuk-link" href="revenue-voluntary">
      Change remaining revenue<span class="govuk-visually-hidden"> Change data in the revenue section</span>
    </a>
  </dd>
</div>

    
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Previous financial year
      </dt>
      <dd class="govuk-summary-list__value">
        £{{ data['revenue-previous-year'] }}
      </dd>
      <dd class="govuk-summary-list__actions">
      
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
      Current financial year (forecasted)
      </dt>
      <dd class="govuk-summary-list__value">
        £{{ data['revenue-current-year']}}
      </dd>
      <dd class="govuk-summary-list__actions">
      
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
       Next financial year (forecasted)
      </dt>
      <dd class="govuk-summary-list__value">
        £{{ data ['revenue-next-year']}}
      </dd>
      <dd class="govuk-summary-list__actions">
  
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
       If the school has a financial deficit, explain why?
      </dt>
      <dd class="govuk-summary-list__value">
        {% if data['revenue-reason-for-deficit'] %}
        {{data['revenue-reason-for-deficit']}}
    {% else %}
        <span class="empty">Empty</span>
    {% endif %}
      </dd>
      <dd class="govuk-summary-list__actions">
  
      </dd>
    </div>
  </dl>

  <dl class="govuk-summary-list">


    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key govuk-heading-m govuk-!-width-one-half">
        Remaining capital 31 March
    </dt>
   
    <dd class="govuk-summary-list__actions govuk-!-width-one-half">
      <a class="govuk-link" href="capital-voluntary">
        Change remaining capital<span class="govuk-visually-hidden"> Change data in the capital section</span>
      </a>
    </dd>
  </div>




    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Previous financial year
      </dt>
      <dd class="govuk-summary-list__value">
        £{{ data['capital-previous-year'] }}
      </dd>
      <dd class="govuk-summary-list__actions">
      
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
      Current financial year (forecasted)
      </dt>
      <dd class="govuk-summary-list__value">
        £{{ data['capital-current-year']}}
      </dd>
      <dd class="govuk-summary-list__actions">
      
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
       Next financial year (forecasted)
      </dt>
      <dd class="govuk-summary-list__value">
      <span class="deficit">£{{ data ['capital-next-year']}}</span>  
      </dd>
      <dd class="govuk-summary-list__actions">
  
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
       If the school has a financial deficit, explain why?
      </dt>
      <dd class="govuk-summary-list__value">
        {% if data['reason-for-deficit'] %}
        {{data['reason-for-deficit']}}
    {% else %}
        <span class="empty">Empty</span>
    {% endif %}
      </dd>
      <dd class="govuk-summary-list__actions">
  
      </dd>
    </div>
  </dl>




  <dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key govuk-heading-m govuk-!-width-two-thirds">
       Loans and financial leases
       <br><span class="govuk-body-s"><a href="../related/application_newtab_voluntary#finances" target="_application">View full loans and financial leases information (opens in a new tab)</a></span>
      </dt>
      <dd class="govuk-summary-list__actions govuk-!-width-two-thirds">
       <a class="govuk-link" href="loans-leases-voluntary">
          Change loans AND leases<span class="govuk-visually-hidden"> Change data in the loans and leases section</span>
        </a>
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Total loan amount
      </dt>
      <dd class="govuk-summary-list__value">
        £{{ data['total-loan-amounts'] }}
      </dd>
      <dd class="govuk-summary-list__actions">
      
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
      Purpose of the loans
      </dt>
      <dd class="govuk-summary-list__value">
        {{ data['purpose-of-loans']}}
      </dd>
      <dd class="govuk-summary-list__actions">
      
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
     Total annual lease repayment amount
      </dt>
      <dd class="govuk-summary-list__value">
        £{{ data ['total-lease-repayments']}}
      </dd>
      <dd class="govuk-summary-list__actions">
  
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
   Pupose of the leases
      </dt>
      <dd class="govuk-summary-list__value">
        {{ data ['purpose-of-leases']}}
      </dd>
      <dd class="govuk-summary-list__actions">
  
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
   Have ESFA approved the loans and leases?
      </dt>
      <dd class="govuk-summary-list__value">
        {% if data['esfa-approved'] %}
        {{data['esfa-approved']}}
    {% else %}
        <span class="empty">Empty</span>
    {% endif %}
      </dd>
      <dd class="govuk-summary-list__actions">
  
      </dd>
    </div>
  </dl>



  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <a name="additional_info"></a>  <h3 class="govuk-heading-m govuk-!-margin-top-8">Add any additional information if you need to</h3>
        <p>This information will go into your project document under the school budget information section.</p>
      </div></div>
      <div>
        <br>
        <dl class="govuk-summary-list">
          <a name="additional_info"></a>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Addtional information</dt>
                <dd class="govuk-summary-list__value">
                    {% if data['budget-more-detail'] %}
                        {{data['budget-more-detail']}}
                    {% else %}
                        <span class="empty">Empty</span>
                    {% endif %}

                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="budget-comments-voluntary#additional_info">
                      Change<span class="govuk-visually-hidden">Change budget comments</span>
                    </a>
                </dd>
            </div>
        </dl>
    </div>

 
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
     
      {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
      {% from "govuk/components/button/macro.njk" import govukButton %}

      {{ govukCheckboxes({
        idPrefix: "school-budget-status",
        name: "school-budget-status",
        items: [
          {
            value: "Complete",
            text: "Mark this section as complete, you can still make changes later"
          }
        ]
      }) }}


      {{ govukButton({
        text: "Confirm and continue"
      }) }}

    </form>

    </div>
    </div>

  {% endblock %}