
{% extends "layout.html" %}

{% block beforeContent %}
  
<a href="javascript:history.back();" class="govuk-back-link">Back</a>
{% endblock %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
  
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% if data['returnToSummary'] == 'yes' %}
        <form action="../generate/generate_summary#opening" method="post">
        {% else %}
        <form action="../overview/summary1" method="post">
      {% endif %}
      <input hidden type="text" name="returnToSummary" value="no"/>
      <span class="govuk-caption-l">St. Wilfrid's Primary School</span>
      <h1 class="govuk-heading-l">Choose the opening date for the academy</h1>
      <p>Acadamies must open on the first day of every month. You should tell the school and the trust what the opening date will be if you change their preferred date.</p>

      <!-- {% from "govuk/components/date-input/macro.njk" import govukDateInput %}

      {{ govukDateInput({
        id: "opening-date",
        namePrefix: "opening-date",
        value: data['opening-date'],
        fieldset: {
          legend: {
            text: "Academy opening date",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        hint: {
          text: "For example, 27 3 2007"
        }
      }) }} -->

        {{ govukRadios({
          idPrefix: "opening-date",
          name: "opening-date",
    
          items: [
      
            {
              value: "Monday 1 March 2021",
              checked:  data['opening-date'] === "Monday 1 March 2021",
              text: "Monday 1 March 2021"
            },
            {
              value: "Thursday 1 April 2021",
              checked:  data['opening-date'] === "Thursday 1 April 2021",
              text: "Thursday 1 April 2021"
            },
            {
              value: "Saturday 1 May 2021",
              checked:  data['opening-date'] === "Saturday 1st May 2021",
              text: "Saturday 1 May 2021"
            },
            {
              value: "Tuesday 1 June 2021",
              checked:  data['opening-date'] === "Tuesday 1 June 2021",
              text: "Tuesday 1 June 2021"
            },
            {
              value: "Thursday 1 July 2021",
              checked:  data['opening-date'] === "Thursday 1 July 2021",
              text: "Thursday 1 July 2021"
            },
            {
              value: "Sunday 1 August 2021",
              checked:  data['opening-date'] === "Sunday 1 August 2021",
              text: "Sunday 1 August 2021"
            },
            {
              value: "Wednesday 1 September 2021",
              checked:  data['opening-date'] === "Wednesday 1 September 2021",
              text: "Wednesday 1 September 2021"
            },
            {
              value: "Friday 1 October 2021",
              checked:  data['opening-date'] === "Friday 1 October 2021",
              text: "Friday 1 October 2021"
            },
            {
              value: "Monday 1 November 2021",
              checked:  data['opening-date'] === "Monday 1 November 2021",
              text: "Monday 1 November 2021"
            },
            {
              value: "Wednesday 1 December 2021",
              checked:  data['opening-date'] === "Wednesday 1 December 2021",
              text: "Wednesday 1 December 2021"
            },
            {
              value: "Saturday 1 January 2022",
              checked:  data['opening-date'] === "Saturday 1 January 2021",
              text: "Saturday 1 January 2022"
            },
            {
              value: "Monday 1 February 2022",
              checked:  data['opening-date'] === "Monday 1 February 2021",
              text: "Monday 1 February 2022"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Save and continue"
        }) }}
        
      </form>
      
    </div>  
    
    <!-- right hand nav -->    
    <div class="govuk-grid-column-one-third">
      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-s" id="subsection-title">
          Useful information
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a class="govuk-link" href="#">
                
              </a>
            </li>
            <li>
              <p class="govuk-body-s"><a href="../related/application_newtab" target="application">School application form (opens in a new tab)</a></p>
            </li>
            
          </ul>
        </nav>
        
      </aside>
    </div>
  </div>
  
{% endblock %}

