{% extends "layout.html" %}

{% block beforeContent %}
<a href="../task_list_involuntary_conversions.html" class="govuk-back-link">Back to task list</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {% if data['returnToSummary'] == 'yes' %}
    <form action="../generate/generate_summary#forecasts" method="post">
      {% else %}
      <form action="../task_list_involuntary_conversions" method="post">
    {% endif %}
      </div></div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-l">Cheltenham Spa Primary School</span>
    <h1 class="govuk-heading-l">School pupil forecasts</h1>
    <p class="govuk-body">This information is taken from GIAS (Get Information About Schools) and will go into your template. You can add more from the school's Annex B form.</p>
    <p>Published on GIAS: <strong>June 2022</strong>.</p>
  </div>
</div>
<div>
  <table class="govuk-table">
      <thead class="govuk-table__head">
      <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header govuk-!-width-one-half">Year</th>
          <th scope="col" class="govuk-table__header govuk-table__header--numeric">Capacity</th>
          <th scope="col" class="govuk-table__header govuk-table__header--numeric">Total pupil numbers</th>
          <th scope="col" class="govuk-table__header govuk-table__header--numeric">Percentage full</th>
          <th scope="col" class="govuk-table__header govuk-table__header--numeric"></th>
      </tr>
      </thead>
      <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header ">2022</th>
        <td class="govuk-table__cell govuk-table__cell--numeric">
          236
        </td>
        <td class="govuk-table__cell govuk-table__cell--numeric">
          {% if data['total-pupil-numbers'] %}
          {{ data['total-pupil-numbers']}}
          {% else %} 
          <span class="empty">Empty</span>
          {% endif %}
        </td>
        <td class="govuk-table__cell govuk-table__cell--numeric">
          {% if data['total-pupil-numbers'] %}
          CALC %
          {% else %} 
          <span class="empty">Empty</span>
          {% endif %}
        </td>
        <td class="govuk-table__cell govuk-table__cell--numeric"> 
          <a class="govuk-link" href="update-projected-pupil-data">
          Change<span class="govuk-visually-hidden"> current pupil data</span>
          </a>
      </td>
      </tr>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">Projected pupil numbers on roll in the year the academy opens (year 1)</th>
        <td class="govuk-table__cell govuk-table__cell--numeric"></td>
        <td class="govuk-table__cell govuk-table__cell--numeric">
          {% if data['projected-pupils-year-1'] %}
          {{ data['projected-pupils-year-1']}}
          {% else %} 
          <span class="empty">Empty</span>
          {% endif %}
        </td>
        <td class="govuk-table__cell govuk-table__cell--numeric"></td>
        <td class="govuk-table__cell govuk-table__cell--numeric">
          <a class="govuk-link" href="update-projected-pupil-data">
          Change<span class="govuk-visually-hidden">projected pupil data</span>
          </a>
        </td>
      </tr>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">Projected pupil numbers on roll in the year the academy opens (year 2)</th>
        <td class="govuk-table__cell govuk-table__cell--numeric"></td>
        <td class="govuk-table__cell govuk-table__cell--numeric">
          {% if data['projected-pupils-year-2'] %}
          {{ data['projected-pupils-year-2']}}
          {% else %} 
          <span class="empty">Empty</span>
          {% endif %}
        </td>
        <td class="govuk-table__cell govuk-table__cell--numeric"></td>
        <td class="govuk-table__cell govuk-table__cell--numeric">
          <a class="govuk-link" href="update-projected-pupil-data">
          Change<span class="govuk-visually-hidden">projected pupil data</span>
          </a>
        </td>
      </tr>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">Projected pupil numbers on roll in the year the academy opens (year 3)</th>
        <td class="govuk-table__cell govuk-table__cell--numeric"></td>
        <td class="govuk-table__cell govuk-table__cell--numeric">
          {% if data['projected-pupils-year-3'] %}
          {{ data['projected-pupils-year-3']}}
          {% else %} 
          <span class="empty">Empty</span>
          {% endif %}
        </td>
        <td class="govuk-table__cell govuk-table__cell--numeric"></td>
        <td class="govuk-table__cell govuk-table__cell--numeric">
          <a class="govuk-link" href="update-projected-pupil-data">
          Change<span class="govuk-visually-hidden">projected pupil data</span>
          </a>
        </td>
      </tr>
      </tbody>
  </table>           
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
      <h3 class="govuk-heading-m">Add any additional information if you need to</h3>
      <p>This information will go into your project template under the school pupil forecasts section.</p>
      <br>
  </div>
</div>
<div>
  <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Additional information</dt>
          <dd class="govuk-summary-list__value">
              {% if data['pupil-more-detail'] %}
                  {{data['pupil-more-detail']}}
              {% else %}
                  <span class="empty">Empty</span>
              {% endif %}
          </dd>
          <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="school-pupil-forecasts-involuntary#additional_info">
                Change<span class="govuk-visually-hidden">pupil forecast additional information</span>
              </a>
          </dd>
      </div>
  </dl>
</div>
                
<form action="../task_list_involuntary_conversions" method="post"> 
  <a href="#" name="additional_info"></a> 

{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{{ govukButton({
text: "Confirm and continue"
}) }}

{% endblock %}
