{% extends "version-4/includes/form-template.html" %}

{% set pageTitle = "When was the transfer first discussed with a trust? – Manage an academy transfer" %}

{% set projectData = data['records'][0] %}

{# {% set relatedNavigation = 'false' %} #}


{% block formQuestions %}
  <form action="../expected-transfer-dates" method="post" novalidate>
    <!--page heading with caption include-->
    {% set pageHeading %}
      <span class="govuk-caption-l">
          {{ projectData.name }}
      </span>
      When was the transfer first discussed with a trust?
    {% endset %}

    {% set transferFirstDiscussedHint %}
      <div class="govuk-inset-text">
        This is the date the transfer was first discussed with any trust, either outgoing or incoming.
      </div>

      <div id="passport-issued-hint" class="govuk-hint">
        For example, 23 03 2007
      </div>
    {% endset %}
    

    {{ govukDateInput({
      id: "transfer-first-discussed-date",
      namePrefix: "transfer-first-discussed-date",
      fieldset: {
        legend: {
          html: pageHeading,
          isPageHeading: true,
          classes: "govuk-fieldset__legend--l"
        }
      },
      hint: {
        html: transferFirstDiscussedHint
      }
    }) }}

    {{ govukButton({
      text: "Save and continue"
    }) }}
  </form>

{% endblock %}