{% extends "layout.html" %}

{% block beforeContent %}
<a href="../task_list" class="govuk-back-link">Back to task list</a>
{% endblock %}

{% block content %}
          
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <span class="govuk-caption-xl">URN 100006</span>
        <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">
        Cheltenham Spa Primary School</h1>
        {% if data['htb-date']%}
        <div class="govuk-inset-text"><h4 class="govuk-heading-m">HTB date</h4>
        <p>HTB date for this project is {{ data['htb-date']}}</p></div> 
        {% else %} 
        {% endif %}
        <nav class="app-sub-navigation" aria-label="sub menu">
        <ul class="app-sub-navigation__list">
            <li class="app-sub-navigation__item">
              <a class="app-sub-navigation__link" href="../task_list_involuntary_conversions">Task list</a>
            </li>
            <li class="app-sub-navigation__item">
              <a class="app-sub-navigation__link"   aria-current="page"  href="#">Annex B form</a>
            </li>
            <!-- Not MVP <li class="app-sub-navigation__item">
            <a class="app-sub-navigation__link"  href="dates">Project dates</a>
            </li> -->
            <li class="app-sub-navigation__item">
            <a class="app-sub-navigation__link"  href="notes_involuntary_conversions">Project notes</a>
            </li>
          </ul>
        </nav>
    
    </div>

    {% if data['application-form-url'] or data['annexBsaved'] =="No"%}
    <div class="govuk-grid-column-full">
      <dl class="govuk-summary-list">

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-third">
            Have you received a completed Annex B form from the school
          </dt>
          <dd class="govuk-summary-list__value">
            {% if data['application-form-url']%}
            Yes,<br>
            <a href="{{data['application-form-url']}}" target="_blank" aria-label="School application form (opens in a new tab)">{{data['application-form-url']}}</a>
             

          
            {% elseif data['annexBsaved'] =="No"%} 
            <span>No</span>

              {% else %} 
              <span>No</span>
             
            {% endif %}

          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="application_form_url.html">
              Change<span class="govuk-visually-hidden">school application form url</span>
            </a>
          </dd>
        </div>
    </div>
  </div>
  {% else %} 
  <div class="govuk-grid-column-two-thirds">
      {% if data['returnToSummary'] == 'yes' %}
        <form action="../generate/generate_summary#application-form-url" method="post">
        {% else %}
        <form action="../related/annexb-answer" method="post">
        {% endif %}
          <input hidden type="text" name="returnToSummary" value="no"/>
          <h1 class="govuk-heading-l">Have you saved the school's completed
            Annex B form in SharePoint?</h1>

            
            {{data['annexBsaved']}}

            {% from "govuk/components/details/macro.njk" import govukDetails %}
            {{ govukDetails({
              summaryText: "What is the Annex B form?",
              text: "The Annex B form was sent in the directive academy order (DAO) pack to the school. You'll need the completed Annex B form to get the project template ready for advisory board."
            }) }}

          
          {{ govukRadios({
            idPrefix: "annexBsaved",
            name: "annexBsaved",
  
            items: [
  
              {
                value: "Yes",
                checked:  data['annexBsaved'] === "Yes",
                text: "Yes"
              },
              {
                value: "No",
                checked:  data['annexBsaved'] === "No",
                text: "No"
              }
  
            ]
          }) }}

          {{ govukButton({
            text: "Save and continue"
          }) }}
       </form>
  </div>
{% endif %}

{% endblock %}
