
{% extends "layout.html" %}

{% block beforeContent %}
<a href="javascript:history.back();" class="govuk-back-link">Back</a>
{% endblock %}


{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
  
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% if data['returnToSummary'] == 'yes' %}
        <form action="../generate/generate_summary#diocesan" method="post">
        {% else %}
        <form action="../general-info/summary1" method="post">
      {% endif %}
      <input hidden type="text" name="returnToSummary" value="no"/>
      <span class="govuk-caption-l">St. Wilfrid's Primary School</span>
      <h1 class="govuk-heading-l">Is this a diocesan multi-academy trust (MAT)?</h1>



        {{ govukRadios({
          idPrefix: "diocesan",
          name: "diocesan",
    
          items: [
      
            {
              value: "Yes",
              checked:  data['diocesan'] === "Yes",
              text: "Yes"
            },
            {
              value: "No",
              checked:  data['diocesan'] === "No",
              text: "No"
            }
            
          ]
        }) }}

        {{ govukButton({
          text: "Save and continue"
        }) }}
      </form>

    </div>  
    
    <!-- right hand nav -->    
    <div class="govuk-grid-column-one-third">
      {% include "../includes/useful_info_sidebar.html" %}
    </div>
  </div>

  {% endblock %}
