{% extends "layout.html" %}

 
{% block beforeContent %}
<a href="javascript:history.back();" class="govuk-back-link">Back</a>
{% endblock %}


{% block content %}
  
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-l">Cotswolds Acadcemies Trusts</span>
    <h1 class="govuk-heading-l">School overviews</h1>
    <p class="govuk-body-m govuk-!-margin-bottom-8" ><a href="../related/application_newtab_voluntary" target="_blank">Open the application form for this project in a new tab</a></p>
    <br><br><br>
    <!--<p class="govuk-body-s">TRAMS last updated on: 23 March 2021</p>-->
    </div></div>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">



        <form action="../school-details" method="post"> 
       
      
        <div class="govuk-summary-card">
          <div class="govuk-summary-card__title-wrapper"><h2 class="govuk-summary-card__title">Cheltenham Spa Primary School</h2></div>
      
          <div class="govuk-summary-card__content">  
            
            
            <dl class="govuk-summary-list">
              
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key govuk-!-width-one-half">School type</dt>
                <dd class="govuk-summary-list__value">Voluntary aided school</dd>
                <dd class="govuk-summary-list__actions"></dd>
              </div>
      
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key govuk-!-width-two-thirds">School phase</dt>
                <dd class="govuk-summary-list__value">Primary</dd>
                <dd class="govuk-summary-list__actions"></dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Age range</dt>
                <dd class="govuk-summary-list__value">3 to 11</dd>
                <dd class="govuk-summary-list__actions"></dd>
              </div>
            
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                Capacity
                </dt>
                <dd class="govuk-summary-list__value">
                  <p class="govuk-body">236</p>
                </dd>
                <dd class="govuk-summary-list__actions">
                </dd>
              </div>
      
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                Published admission number (PAN)
                </dt>
                <dd class="govuk-summary-list__value">
                  {% if data['PAN']%}
                  {{data['PAN']}}
                  {% else %} 
                  <span class="empty">Empty</span>
                {% endif %}
                </dd>
                <dd class="govuk-summary-list__actions"> <a class="govuk-link" href="PAN-voluntary">
                  Change<span class="govuk-visually-hidden">published admission numbers</span>
                </a>
                </dd>
              </div>
      
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Number on roll (NOR)</dt>
                <dd class="govuk-summary-list__value">226</dd>
                <dd class="govuk-summary-list__actions"></dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Percentage the school is full</dt>
                <dd class="govuk-summary-list__value">
                  <p class="govuk-body">95.7%</p>
                </dd>
                <dd class="govuk-summary-list__actions"></dd>
              </div>
              
              
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                Percentage of free school meals at the school (%FSM)
                </dt>
                <dd class="govuk-summary-list__value">
                23.8%
                </dd>
                <dd class="govuk-summary-list__actions">
                </dd>
              </div>
      
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                Viability issues
                </dt>
                <dd class="govuk-summary-list__value">
                  {% if data['viability']%}
                  {{data['viability']}}
                  {% else %} 
                  <span class="empty">Empty</span>
                {% endif %}
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="viability-voluntary">
                    Change<span class="govuk-visually-hidden">viability issues</span>
                  </a>
                </dd>
              </div>
              
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                Financial deficit
                </dt>
                <dd class="govuk-summary-list__value">
                  {% if data['deficit']%}
                  {{data['deficit']}}
                  {% else %} 
                  <span class="empty">Empty</span>
                {% endif %}
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="deficit-voluntary">Change<span class="govuk-visually-hidden">financial surplus or deficit</span>
                  </a>
                </dd>
              </div>
      
                 
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                Part of a PFI (Private Finance Initiative) scheme
                </dt>
                <dd class="govuk-summary-list__value">
                  {% if data['pfi-scheme']%}
                    {{data['pfi-scheme']}}
                    {% else %} 
                    No
                    {% endif %}
                </dd>
                <dd class="govuk-summary-list__actions">
                  {% if data['pfi-scheme']%}
                  <a class="govuk-link" href="pfi-voluntary?pfi-scheme=Yes">Change<span class="govuk-visually-hidden">private finance initiative scheme</span>
                  {% else %} 
                  <a class="govuk-link" href="pfi-voluntary?pfi-scheme">Change<span class="govuk-visually-hidden">private finance initiative scheme</span>
                  {% endif %}
                  </a>
                </dd>
              </div>
      
              {%  if(data['pfi-scheme-details']) %}
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                Private finance initiative (PFI) scheme
                </dt>
                <dd class="govuk-summary-list__value">
                  {{data['pfi-scheme-details']}}
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="pfi-voluntary">Change<span class="govuk-visually-hidden">private finance initiative scheme</span>
                  </a>
                </dd>
              </div>
              {% endif %}
      
      
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                Is the school linked to a diocese?
                </dt>
                <dd class="govuk-summary-list__value">
                  Yes, Diocese of Goucestershire
                  </dd>
                  <dd class="govuk-summary-list__actions">
                  </dd>
              </div>
      
      
      
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                Distance from the converting school to the trust, or other schools in the trust
                </dt>
              
                  <dd class="govuk-summary-list__value">
                    {% if data['distance']%}
                    {{data['distance'] | safe }} Miles
                    {% else %} 
                    <span class="empty">Empty</span>
                    {% endif %}</br>
                    {{data['distance-more-detail']}}
                  </dd>
              
                    
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="distance-voluntary">Change<span class="govuk-visually-hidden">distance to trust headquarters</span>
                  </a>
                </dd>
              </div>
      
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                Parlimentary consituency
                </dt>
                <dd class="govuk-summary-list__value">
                Cheltenham
                </dd>
                <dd class="govuk-summary-list__actions">
                </dd>
              </div>
      
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                MP name and political party
                </dt>
                <dd class="govuk-summary-list__value">
                    {% if data['local-mp']%}
                    {{data['local-mp']}}<br>{{data['party']}}
                    {% else %} 
                    <span class="empty">Empty</span>
                  {% endif %}
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="local-mp-voluntary">Change<span class="govuk-visually-hidden">MP name and political party</span></a>
                </dd>
              </div>
            
            </dl>
      
      
      
       
          {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
          {% from "govuk/components/button/macro.njk" import govukButton %}
        
          {{ govukCheckboxes({
            idPrefix: "general-info-status",
            name: "general-info-status",
            items: [
              {
                value: "Complete",
                text: "Mark the overview section for this school as complete, you can still make changes later",
                checked: true
              }
              ]
            }) }}
         
      
      </div>


        </div>



        






        <div class="govuk-summary-card">
          <div class="govuk-summary-card__title-wrapper"><h2 class="govuk-summary-card__title">Gloucester Primary School</h2></div>
      
          <div class="govuk-summary-card__content">  
            
            
            <dl class="govuk-summary-list">
              
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key govuk-!-width-one-half">School type</dt>
                <dd class="govuk-summary-list__value">Voluntary aided school</dd>
                <dd class="govuk-summary-list__actions"></dd>
              </div>
      
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key govuk-!-width-two-thirds">School phase</dt>
                <dd class="govuk-summary-list__value">Primary</dd>
                <dd class="govuk-summary-list__actions"></dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Age range</dt>
                <dd class="govuk-summary-list__value">3 to 11</dd>
                <dd class="govuk-summary-list__actions"></dd>
              </div>
            
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                Capacity
                </dt>
                <dd class="govuk-summary-list__value">
                  <p class="govuk-body">185</p>
                </dd>
                <dd class="govuk-summary-list__actions">
                </dd>
              </div>
      
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                Published admission number (PAN)
                </dt>
                <dd class="govuk-summary-list__value">
                  <p class="govuk-body">170</p>
                </dd>
                <dd class="govuk-summary-list__actions"> <a class="govuk-link" href="#">
                  Change<span class="govuk-visually-hidden">published admission numbers</span>
                </a>
                </dd>
              </div>
      
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Number on roll (NOR)</dt>
                <dd class="govuk-summary-list__value">175</dd>
                <dd class="govuk-summary-list__actions"></dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Percentage the school is full</dt>
                <dd class="govuk-summary-list__value">
                  <p class="govuk-body">94.6%</p>
                </dd>
                <dd class="govuk-summary-list__actions"></dd>
              </div>
              
              
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                Percentage of free school meals at the school (%FSM)
                </dt>
                <dd class="govuk-summary-list__value">
                27.6%
                </dd>
                <dd class="govuk-summary-list__actions">
                </dd>
              </div>
      
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                Viability issues
                </dt>
                <dd class="govuk-summary-list__value">
                  <span class="empty">Empty</span>
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#">
                    Change<span class="govuk-visually-hidden">viability issues</span>
                  </a>
                </dd>
              </div>
              
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                Financial deficit
                </dt>
                <dd class="govuk-summary-list__value">
                  <span class="empty">Empty</span>
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden">financial surplus or deficit</span>
                  </a>
                </dd>
              </div>
      
                 
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                Part of a PFI (Private Finance Initiative) scheme
                </dt>
                <dd class="govuk-summary-list__value">
                  Yes
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden">private finance initiative scheme</span>
                  </a>
                </dd>
              </div>
      
              {%  if(data['pfi-scheme-details']) %}
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                Private finance initiative (PFI) scheme
                </dt>
                <dd class="govuk-summary-list__value">
              
                  {{data['pfi-scheme-details']}}
                
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="pfi-voluntary">Change<span class="govuk-visually-hidden">private finance initiative scheme</span>
                  </a>
                </dd>
              </div>
              {% endif %}
      
      
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                Is the school linked to a diocese?
                </dt>
                <dd class="govuk-summary-list__value">
                  Yes, Diocese of Goucestershire
                  </dd>
                  <dd class="govuk-summary-list__actions">
                  </dd>
              </div>
      
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                Distance from the converting school to the trust, or other schools in the trust
                </dt>
                  <dd class="govuk-summary-list__value">
                    <span class="empty">Empty</span>
                  </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> distance from the converting school to the trust, or other schools in the trust</span>
                  </a>
                </dd>
              </div>
      
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                Parlimentary consituency
                </dt>
                <dd class="govuk-summary-list__value">
                Central Gloucestershire
                </dd>
                <dd class="govuk-summary-list__actions">
                </dd>
              </div>
      
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                MP name and political party
                </dt>
                <dd class="govuk-summary-list__value">
                    <span class="empty">Empty</span>
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden">MP name and political party</span></a>
                </dd>
              </div>
            
            </dl>
      
      
      
       
          {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
          {% from "govuk/components/button/macro.njk" import govukButton %}
        
          {{ govukCheckboxes({
            idPrefix: "general-info-status",
            name: "general-info-status",
            items: [
              {
                value: "Complete",
                text: "Mark the overview section for this school as complete, you can still make changes later",
                checked: true
              }
              ]
            }) }}
         
      
      </div>


  </div>




 

  <div class="govuk-summary-card">
    <div class="govuk-summary-card__title-wrapper"><h2 class="govuk-summary-card__title">Winchcombe Primary School</h2></div>

    <div class="govuk-summary-card__content">  
      
      
      <dl class="govuk-summary-list">
        
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-half">School type</dt>
          <dd class="govuk-summary-list__value">Voluntary aided school</dd>
          <dd class="govuk-summary-list__actions"></dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-two-thirds">School phase</dt>
          <dd class="govuk-summary-list__value">Primary</dd>
          <dd class="govuk-summary-list__actions"></dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Age range</dt>
          <dd class="govuk-summary-list__value">3 to 11</dd>
          <dd class="govuk-summary-list__actions"></dd>
        </div>
      
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
          Capacity
          </dt>
          <dd class="govuk-summary-list__value">
            <p class="govuk-body">210</p>
          </dd>
          <dd class="govuk-summary-list__actions">
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
          Published admission number (PAN)
          </dt>
          <dd class="govuk-summary-list__value">
            <p class="govuk-body">205</p>
          </dd>
          <dd class="govuk-summary-list__actions"> <a class="govuk-link" href="#">
            Change<span class="govuk-visually-hidden">published admission numbers</span>
          </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Number on roll (NOR)</dt>
          <dd class="govuk-summary-list__value">210</dd>
          <dd class="govuk-summary-list__actions"></dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Percentage the school is full</dt>
          <dd class="govuk-summary-list__value">
            <p class="govuk-body">100%</p>
          </dd>
          <dd class="govuk-summary-list__actions"></dd>
        </div>
        
        
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
          Percentage of free school meals at the school (%FSM)
          </dt>
          <dd class="govuk-summary-list__value">
          25.2%
          </dd>
          <dd class="govuk-summary-list__actions">
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
          Viability issues
          </dt>
          <dd class="govuk-summary-list__value">
            <span class="empty">Empty</span>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden">viability issues</span>
            </a>
          </dd>
        </div>
        
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
          Financial deficit
          </dt>
          <dd class="govuk-summary-list__value">
            <span class="empty">Empty</span>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden">financial surplus or deficit</span>
            </a>
          </dd>
        </div>

           
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
          Part of a PFI (Private Finance Initiative) scheme
          </dt>
          <dd class="govuk-summary-list__value">
            No
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden">private finance initiative scheme</span>
            </a>
          </dd>
        </div>

        {%  if(data['pfi-scheme-details']) %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
          Private finance initiative (PFI) scheme
          </dt>
          <dd class="govuk-summary-list__value"></dd>
            No
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="pfi-voluntary">Change<span class="govuk-visually-hidden">private finance initiative scheme</span>
            </a>
          </dd>
        </div>
        {% endif %}


        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
          Is the school linked to a diocese?
          </dt>
          <dd class="govuk-summary-list__value">
            Yes, Diocese of Goucestershire
            </dd>
            <dd class="govuk-summary-list__actions">
            </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
          Distance from the converting school to the trust, or other schools in the trust
          </dt>
            <dd class="govuk-summary-list__value">
              <span class="empty">Empty</span>
            </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> distance from the converting school to the trust, or other schools in the trust</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
          Parlimentary consituency
          </dt>
          <dd class="govuk-summary-list__value">
          Central Gloucestershire
          </dd>
          <dd class="govuk-summary-list__actions">
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
          MP name and political party
          </dt>
          <dd class="govuk-summary-list__value">
              <span class="empty">Empty</span>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden">MP name and political party</span></a>
          </dd>
        </div>
      
      </dl>



 
    {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
    {% from "govuk/components/button/macro.njk" import govukButton %}
  
    {{ govukCheckboxes({
      idPrefix: "general-info-status",
      name: "general-info-status",
      items: [
        {
          value: "Complete",
          text: "Mark the overview section for this school as complete, you can still make changes later",
          checked: true
        }
        ]
      }) }}
   

</div>


</div>



<br><br>
     
{{ govukButton({
  text: "Confirm and continue"
}) }}

</form>

{% endblock %}
