<!DOCTYPE html>
<html lang="en" class="govuk-template ">
  <head>
    <meta charset="utf-8">
    <title>
 Application
</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <meta name="theme-color" content="#0b0c0c"> 
    
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    
      <link rel="shortcut icon" sizes="16x16 32x32 48x48" href="/govuk/assets/images/favicon.ico" type="image/x-icon">
      <link rel="mask-icon" href="/govuk/assets/images/govuk-mask-icon.svg" color="#0b0c0c"> 
      <link rel="apple-touch-icon" sizes="180x180" href="/govuk/assets/images/govuk-apple-touch-icon-180x180.png">
      <link rel="apple-touch-icon" sizes="167x167" href="/govuk/assets/images/govuk-apple-touch-icon-167x167.png">
      <link rel="apple-touch-icon" sizes="152x152" href="/govuk/assets/images/govuk-apple-touch-icon-152x152.png">
      <link rel="apple-touch-icon" href="/govuk/assets/images/govuk-apple-touch-icon.png">
    

    
  <meta name="description" content="Use the GOV.UK Prototype Kit to quickly make realistic HTML prototypes of GOV.UK services.">

<!--[if lte IE 8]><link href="/public/stylesheets/application-ie8.css" rel="stylesheet" type="text/css" /><![endif]-->
<!--[if gt IE 8]><!--><link href="/public/stylesheets/application.css" media="all" rel="stylesheet" type="text/css" /><!--<![endif]-->



    
    
    <meta property="og:image" content="/govuk/assets/images/govuk-opengraph-image.png">
  </head>
  <body class="govuk-template__body ">
    <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>
    

    
      <a href="#main-content" class="govuk-skip-link">Skip to main content</a>

  
  
  <header class="govuk-header " role="banner" data-module="govuk-header">
  <div class="govuk-header__container govuk-width-container">
    
    
    <div class="govuk-header__content">
    
    <a href="/" class="govuk-header__link govuk-header__link--service-name">
      Manage trusts and academy schools
    </a>
    
    
    <button type="button" class="govuk-header__menu-button govuk-js-header-toggle" aria-controls="navigation" aria-label="Show or hide navigation menu">Menu</button>
 
    
    </div>
    
  </div>
</header>


<div class="app-phase-banner__wrapper">

  <div class="govuk-phase-banner app-phase-banner govuk-width-container">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      prototype
    </strong>
    <span class="govuk-phase-banner__text">
      This is a prototype of a new service – Some parts of this prototype do not work yet.
    </span>
    </p>
  </div>

</div>





<div class="app-primary-navigation">

  <div class="app-primary-navigation__container">

    <div class="app-primary-navigation__nav">

      <nav class="app-primary-navigation" aria-label="main menu">

        <ul class="app-primary-navigation__list">
          <li class="app-primary-navigation__item">
            <a class="app-primary-navigation__link" aria-current="index" href="/">Academy conversions (4)</a>
          </li>
        
          <li class="app-primary-navigation__item">
            <a class="app-primary-navigation__link"  href="/management">Academy transfers (2)</a>
          </li>
        
          <li class="app-primary-navigation__item"> 
            <a class="app-primary-navigation__link"  href="/concerns">Significant change (1)</a>
          </li>         <li class="app-primary-navigation__item"> 
            <a class="app-primary-navigation__link"  href="/concerns">Trust management</a>
          </li>

        </ul>

      </nav>

    </div></div>
</div>

<div class="govuk-width-container"><a href="/index" class="govuk-back-link">Back to all conversion projects</a>
<main class="govuk-main-wrapper gov-main-wrapper--auto-spacing" id="main-content" role="main">
          
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <span class="govuk-caption-xl">AS_102062</span>
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">
        St. Wilfrid's Primary School
         <strong class="govuk-tag govuk-tag--blue govuk-!-margin-bottom-0">Pre HTB</strong></h1>
        {% if data['htb-date']%}
        <div class="govuk-inset-text"><h4 class="govuk-heading-m">HTB date</h4>
        <p>HTB date for this project is {{ data['htb-date']}}</p></div> 
         {% else %} 
         {% endif %}
<nav class="app-sub-navigation" aria-label="sub menu">

  <ul class="app-sub-navigation__list">

    <li class="app-sub-navigation__item">
      <a class="app-sub-navigation__link" href="/task_list1">Task list</a>
    </li>
        <li class="app-sub-navigation__item">
          <a class="app-sub-navigation__link"   aria-current="page"  href="#">Application form</a>
        </li>
        <li class="app-sub-navigation__item">
          <a class="app-sub-navigation__link"  href="dates">Project dates</a>
        </li>
        <li class="app-sub-navigation__item">
          <a class="app-sub-navigation__link"  href="notes">Project notes</a>
        </li>
    </ul>

</nav>
</div>
<div class="govuk-grid-column-full">
  <h2 class="govuk-heading-l govuk-!-margin-bottom govuk-!-font-size-36">Application form</h2>
  <dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Application to join
      </dt>
      <dd class="govuk-summary-list__value">
        Dynamics trust with St. Wilfrid's Primary School
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Lead applicant
      </dt>
      <dd class="govuk-summary-list__value">
        Garth Brown
      </dd>
    </div>
  </dl>

  <h3 class="govuk-heading-m govuk-!-margin-bottom govuk-!-font-size-24">Details</h3>
  <dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Upload evidence that the trust consents to the school joining
      </dt>
      <dd class="govuk-summary-list__value">
        <a href="#">consent_dynamics.docx</a>
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Will there be any changes to the governance of the trust due to the school joining?
      </dt>
      <dd class="govuk-summary-list__value">
        Yes
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        What are the changes going to be?
      </dt>
      <dd class="govuk-summary-list__value">
        We will be appointing a new CEO and CFO for the trust.
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Will there be any changes at a local level due to this school joining?
      </dt>
      <dd class="govuk-summary-list__value">
        Yes
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        What are the changes and how do they fit into the current lines of accountability in the trust?
      </dt>
      <dd class="govuk-summary-list__value">
        We will set up a sub-regional hub.
      </dd>
    </div>
  </dl>
  


  <h2 class="govuk-heading-l govuk-!-margin-bottom govuk-!-font-size-36">About the conversion</h2>
  <h3 class="govuk-heading-m govuk-!-margin-bottom govuk-!-font-size-24">The school joining the trust</h3>
  <dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        The name of the school
      </dt>
      <dd class="govuk-summary-list__value">
        St. Wilfrid's Primary School
      </dd>
    </div>
  </dl>

    <h3 class="govuk-heading-m govuk-!-margin-bottom govuk-!-font-size-24">Contact details</h3>
    <dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Name of headteacher
      </dt>
      <dd class="govuk-summary-list__value">
       Garth Brown
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Headteacher's email address
      </dt>
      <dd class="govuk-summary-list__value">
        garth.brown@stwilfridsprimary.edu.uk
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Headteacher's telephone number
      </dt>
      <dd class="govuk-summary-list__value">
       09876 64547563
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Name of the chair of the Governing Body
      </dt>
      <dd class="govuk-summary-list__value">
        Arna Siggurdottier
      </dd>
    </div>
<div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Chair's email address
      </dt>
      <dd class="govuk-summary-list__value">
       arna.siggurdottier@dynamicstrust.co.uk
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Chair's phone number
      </dt>
      <dd class="govuk-summary-list__value">
       0972 345 119
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Approver's name
      </dt>
      <dd class="govuk-summary-list__value">
       Jeremy Vine
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Approver's email address
      </dt>
      <dd class="govuk-summary-list__value">
       jeremy.vine@dynamicstrust.co.uk
      </dd>
    </div>
  </dl>


  <h3 class="govuk-heading-m govuk-!-margin-bottom govuk-!-font-size-24">Date for conversion</h3>
  <dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Do you want the conversion to happen on a particular date
      </dt>
      <dd class="govuk-summary-list__value">
        Yes
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Preferred date
      </dt>
      <dd class="govuk-summary-list__value">
       01/07/2021
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
       Explain why you want to convert on this date?
      </dt>
      <dd class="govuk-summary-list__value">
        It fits with our plan to convert before we break up for the summer.
      </dd>
    </div>
  </dl>

  <h3 class="govuk-heading-m govuk-!-margin-bottom govuk-!-font-size-24">Reasons for joining</h3>
  <dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Why does the school want to join this trust in particular?
      </dt>
      <dd class="govuk-summary-list__value">
        <p>St Wilfrid's is a small primary school in Warrington which is facing a financially challenging future should it remain on its own. Low pupil numbers and the high level of staffing costs due to the school being supported by an Agency Interim Head Teacher have contributed to this.</p>
              </p>The Chair of St Wilfrid's and Dynamics Trust have agreed to a Memorandum of Understanding which will allow Dynamics Trust to oversee all operational aspects of the school with immediate effect. Central services provided will include school imporvement, finance and operational support and HR support. Dynamics Trust have also apponted Garth Brown, Head Teacher of Angel Primary School, to the role of interim Executive Head Teacher, he assumed full responsibility for Wilfrid's on 2nd Novemeber 2020.</p>    
      </dd>
    </div></dl>

    <h3 class="govuk-heading-m govuk-!-margin-bottom govuk-!-font-size-24">Name changes</h3>
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Is the school planning to change its name when it becomesan academy?
        </dt>
        <dd class="govuk-summary-list__value">
          No
        </dd>
      </div>
    </dl>
  

    <h2 class="govuk-heading-l govuk-!-margin-bottom govuk-!-font-size-36">Further information</h2>
    <h3 class="govuk-heading-m govuk-!-margin-bottom govuk-!-font-size-24">Additional details</h3>
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          What will the school bring to the trust thy are joing?
        </dt>
        <dd class="govuk-summary-list__value">
          Strong financial expertise to help the school recover from a financial deficit. </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Have Ofsted inspected the school but not published the report yet?
        </dt>
        <dd class="govuk-summary-list__value">
          Yes</dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Provide the inspection date
        </dt>
        <dd class="govuk-summary-list__value">
          13/01/2021 - The school had a short Ofsted inspection and the outcome was 'Good'.</dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Are there any safeguarding investigations ongoing at the school?
        </dt>
        <dd class="govuk-summary-list__value">
          No</dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Is the school part of a local authority reorganisation?
        </dt>
        <dd class="govuk-summary-list__value">
          No</dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Is the school part of any local authority closure plans?
        </dt>
        <dd class="govuk-summary-list__value">
          No</dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Is your school linked to a diocese?
        </dt>
        <dd class="govuk-summary-list__value">
          Yes</dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Name of diocese?
        </dt>
        <dd class="govuk-summary-list__value">
          Diocese of Warrington</dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
         Upload a letter of consent from the diocese
        </dt>
        <dd class="govuk-summary-list__value">
          <a href="#">constent-from-diocese.docx</a></dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Is your school part of a federation?
        </dt>
        <dd class="govuk-summary-list__value">
          No</dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Is the school supported by a foundation, trust or other body (e.g. parish council) that appoints foundation governors?
        </dt>
        <dd class="govuk-summary-list__value">
          No</dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Does the school currently have an exemption from providing broadly Christian collective worship issued by the local Standing Committee on Religious Education (SACRE)?
        </dt>
        <dd class="govuk-summary-list__value">
          No</dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Please provide a list of your main feeder schools
        </dt>
        <dd class="govuk-summary-list__value">
          St Mary's Primary School, St. Patrick's Primary School</dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          The school's Governing Body must have passed a resolution to apply to convert to academy status. Upload a copy of the school’s consent to converting and joining the trust.
        </dt>
        <dd class="govuk-summary-list__value">
        <a href="#"> consent.docx</a></dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
        Has an equalities impact assessment been carried out and considered by the governing body?
        </dt>
        <dd class="govuk-summary-list__value">
          Yes</dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
        Outcome of assessment
        </dt>
        <dd class="govuk-summary-list__value">
          The equalities duty has been considered and the Secretary of State's decision is unlikely to affect disproportionately any particular person or group who share protected characteristics.</dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Do you want to add any further information?</dt>
        <dd class="govuk-summary-list__value">
        No</dd>
      </div>
    </dl>


    <h2 class="govuk-heading-l govuk-!-margin-bottom govuk-!-font-size-36">Finances</h2>
    <h3 class="govuk-heading-m govuk-!-margin-bottom govuk-!-font-size-24">Previous financial year</h3>
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          End of previous financial year

        </dt>
        <dd class="govuk-summary-list__value">
          31/03/2019
        </dd>
      </div>
    </dl>


    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
        Revenue carry forward at the end of the previous financial year (31 March)
      </dt>
      <dd class="govuk-summary-list__value">
        100 000
      </dd>
    </div>
  </dl>

    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
        Surplus or deficit?
      </dt>
      <dd class="govuk-summary-list__value">
        Deficit
      </dd>
    </div>
  </dl>
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">

        Explain the reasons for the deficit, how the school plans todeal with it, and the recovery plan
      </dt>
      <dd class="govuk-summary-list__value">
        The school has been accepting low pupil numbers over the previous financial year and has had to deal with a high cost of teaching staff which has caused a financial deficit.
      </dd>
    </div>
  </dl>

  <h3 class="govuk-heading-m govuk-!-margin-bottom govuk-!-font-size-24">Current financial year</h3>
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          End of current financial year

        </dt>
        <dd class="govuk-summary-list__value">
          31/03/2020
        </dd>
      </div>
    </dl>


    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
        Forecasted revenue carry forward at the end of the current financial year (31 March)
      </dt>
      <dd class="govuk-summary-list__value">
        200 000
      </dd>
    </div>
  </dl>

    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
        Surplus or deficit?
      </dt>
      <dd class="govuk-summary-list__value">
        Surplus
      </dd>
    </div>
  </dl>
  <dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
      Forecasted capital carry forward at the end of the current financial year (31 March)
    </dt>
    <dd class="govuk-summary-list__value">
      55 000
    </dd>
  </div>
</dl>

  <dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
      Surplus or deficit?
    </dt>
    <dd class="govuk-summary-list__value">
      Surplus
    </dd>
  </div>
</dl>
<h3 class="govuk-heading-m govuk-!-margin-bottom govuk-!-font-size-24">Next financial year</h3>
<dl class="govuk-summary-list">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      End of current financial year

    </dt>
    <dd class="govuk-summary-list__value">
      31/03/2021
    </dd>
  </div>
</dl>


<dl class="govuk-summary-list">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
    Forecasted revenue carry forward at the end of the next financial year (31 March)
  </dt>
  <dd class="govuk-summary-list__value">
    40 000
  </dd>
</div>
</dl>

<dl class="govuk-summary-list">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
    Surplus or deficit?
  </dt>
  <dd class="govuk-summary-list__value">
    Surplus
  </dd>
</div>
</dl>
<dl class="govuk-summary-list">
<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
  Forecasted capital carry forward at the end of the next financial year (31 March)
</dt>
<dd class="govuk-summary-list__value">
  20 000
</dd>
</div>
</dl>

<dl class="govuk-summary-list">
<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
  Surplus or deficit?
</dt>
<dd class="govuk-summary-list__value">
  Surplus
</dd>
</div>
</dl>
<h3 class="govuk-heading-m govuk-!-margin-bottom govuk-!-font-size-24">Loans</h3>
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Are there any exisitng loans?

        </dt>
        <dd class="govuk-summary-list__value">
          No
        </dd>
      </div>
    </dl>
    <h3 class="govuk-heading-m govuk-!-margin-bottom govuk-!-font-size-24">Financial leases</h3>
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Are there any exisitng leases?

        </dt>
        <dd class="govuk-summary-list__value">
          No
        </dd>
      </div>
    </dl>

    <h3 class="govuk-heading-m govuk-!-margin-bottom govuk-!-font-size-24">Financial investigations</h3>
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Are there any financial investigations ongoing at the school?

        </dt>
        <dd class="govuk-summary-list__value">
          No
        </dd>
      </div>
    </dl>
  

        <h2 class="govuk-heading-l govuk-!-margin-bottom govuk-!-font-size-36">Future pupil numbers</h2>
        <h3 class="govuk-heading-m govuk-!-margin-bottom govuk-!-font-size-24">Details</h3>
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Projected pupil numbers on roll in the year the academy opens (year 1)
    
            </dt>
            <dd class="govuk-summary-list__value">
              115
            </dd>
          </div>
        </dl>
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Projected pupil numbers on roll in the following year after the academy has opened (year 2)
    
            </dt>
            <dd class="govuk-summary-list__value">
              100
            </dd>
          </div>
        </dl>
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Projected pupil numbers on roll in the following year (year 3)
    
            </dt>
            <dd class="govuk-summary-list__value">
              100
            </dd>
          </div>
        </dl>
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              What do you base these projected numbers on?
    
            </dt>
            <dd class="govuk-summary-list__value">
            Good feeder links into the school and a high demand in the area for a primary academy.
            </dd>
          </div>
        </dl>
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              What is the school's published admissions number (PAN)?
    
            </dt>
            <dd class="govuk-summary-list__value">
            30
            </dd>
          </div>
        </dl>

        <h2 class="govuk-heading-l govuk-!-margin-bottom govuk-!-font-size-36">Land and buildings</h2>
        <h3 class="govuk-heading-m govuk-!-margin-bottom govuk-!-font-size-24">Details</h3>
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              As far as you're aware, who owns or holds the school's buildings and land?
    
            </dt>
            <dd class="govuk-summary-list__value">
              The local authority
            </dd>
          </div>
        </dl>
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Are there any current planned building works?
    
            </dt>
            <dd class="govuk-summary-list__value">
              No
            </dd>
          </div>
        </dl>
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Are there any shared facilities on site?
    
            </dt>
            <dd class="govuk-summary-list__value">
              No
            </dd>
          </div>
        </dl>
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Has the school had any grants from Sport England, the Big Lottery Fund, or the Football Federation?
    
            </dt>
            <dd class="govuk-summary-list__value">
            No
            </dd>
          </div>
        </dl>
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
            Is the school part of a Private Finance Intiative (PFI) scheme?
    
            </dt>
            <dd class="govuk-summary-list__value">
            No
            </dd>
          </div>
        </dl>
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
            Is the school part of a Priority School Building Programme?
    
            </dt>
            <dd class="govuk-summary-list__value">
            No
            </dd>
          </div>
        </dl>
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
            Is the school part of a Building Schools for the Future Programme?
    
            </dt>
            <dd class="govuk-summary-list__value">
            No
            </dd>
          </div>
        </dl>
        <h2 class="govuk-heading-l govuk-!-margin-bottom govuk-!-font-size-36">Pre-opening support grant</h2>
        <h3 class="govuk-heading-m govuk-!-margin-bottom govuk-!-font-size-24">Details</h3>
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Do you want these funds paid to the school or the trust?
    
            </dt>
            <dd class="govuk-summary-list__value">
              To the trust the school is joining
            </dd>
          </div>
        </dl>
        <h2 class="govuk-heading-l govuk-!-margin-bottom govuk-!-font-size-36">Consultation</h2>
        <h3 class="govuk-heading-m govuk-!-margin-bottom govuk-!-font-size-24">Details</h3>
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Has the governing body consulted the relevant stakeholders?
    
            </dt>
            <dd class="govuk-summary-list__value">
              Yes
            </dd>
          </div>
        </dl>
        <h2 class="govuk-heading-l govuk-!-margin-bottom govuk-!-font-size-36">Declaration</h2>
        <h3 class="govuk-heading-m govuk-!-margin-bottom govuk-!-font-size-24">Details</h3>
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              I agree with all of these statements, and belive that the facts stated in this application are true
    
            </dt>
            <dd class="govuk-summary-list__value">
              Yes
            </dd>
          </div>
        </dl>
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Signed by
    
            </dt>
            <dd class="govuk-summary-list__value">
              Garth Brown
            </dd>
          </div>
        </dl>
        </main>
      </div>
    

    
  <footer class="govuk-footer " role="contentinfo">
  <div class="govuk-width-container ">
    
    <div class="govuk-footer__meta">
      <div class="govuk-footer__meta-item govuk-footer__meta-item--grow">
        
          <h2 class="govuk-visually-hidden">Support links</h2>
          
            <ul class="govuk-footer__inline-list">
              
                <li class="govuk-footer__inline-list-item">
                  <a class="govuk-footer__link" href="/prototype-admin/clear-data">
                    Clear data
                  </a>
                </li>
              
                <li class="govuk-footer__inline-list-item">
                  <a class="govuk-footer__link" href="/docs/cookies">
                    Cookies
                  </a>
                </li>
              
                <li class="govuk-footer__inline-list-item">
                  <a class="govuk-footer__link" href="/docs/privacy-policy">
                    Privacy policy
                  </a>
                </li>
              
            </ul>
          
          
        
        <svg
          aria-hidden="true"
          focusable="false"
          class="govuk-footer__licence-logo"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 483.2 195.7"
          height="17"
          width="41"
        >
          <path
            fill="currentColor"
            d="M421.5 142.8V.1l-50.7 32.3v161.1h112.4v-50.7zm-122.3-9.6A47.12 47.12 0 0 1 221 97.8c0-26 21.1-47.1 47.1-47.1 16.7 0 31.4 8.7 39.7 21.8l42.7-27.2A97.63 97.63 0 0 0 268.1 0c-36.5 0-68.3 20.1-85.1 49.7A98 98 0 0 0 97.8 0C43.9 0 0 43.9 0 97.8s43.9 97.8 97.8 97.8c36.5 0 68.3-20.1 85.1-49.7a97.76 97.76 0 0 0 149.6 25.4l19.4 22.2h3v-87.8h-80l24.3 27.5zM97.8 145c-26 0-47.1-21.1-47.1-47.1s21.1-47.1 47.1-47.1 47.2 21 47.2 47S123.8 145 97.8 145"
          />
        </svg>
        <span class="govuk-footer__licence-description">
          All content is available under the
          <a
            class="govuk-footer__link"
            href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/"
            rel="license"
          >Open Government Licence v3.0</a>, except where otherwise stated
        </span>
      </div>
      <div class="govuk-footer__meta-item">
        <a
          class="govuk-footer__link govuk-footer__copyright-logo"
          href="https://www.nationalarchives.gov.uk/a href="#">School information on TRAMS (opens in a new tabs)</a>-management/re-using-public-sector-a href="#">School information on TRAMS (opens in a new tabs)</a>/uk-government-licensing-framework/crown-copyright/"
        >© Crown copyright</a>
      </div>
    </div>
  </div>
</footer>



    
  
    <!-- Javascript -->
<script src="/public/javascripts/jquery-1.11.3.js"></script>
<script src="/extension-assets/govuk-frontend/govuk/all.js"></script>
<script src="/public/javascripts/docs.js"></script>


  <script src="/public/javascripts/auto-store-data.js"></script>


    
  

  </body>
</html>

