{% extends "layout.html" %}

{% block beforeContent %}
<a href="/index" class="govuk-back-link">Back to all conversion projects</a>
{% endblock %}

{% block content %}
          
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <span class="govuk-caption-xl">AS_102062</span>
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">
        St. Wilfrid's Primary School
         <strong class="govuk-tag govuk-tag--yellow govuk-!-margin-bottom-0">Pre HTB</strong></h1>
        {% if data['htb-date']%}
        <div class="govuk-inset-text"><h4 class="govuk-heading-m">HTB date</h4>
        <p>HTB date for this project is {{ data['htb-date']}}</p></div> 
         {% else %} 
         {% endif %}
<nav class="app-sub-navigation" aria-label="sub menu">

  <ul class="app-sub-navigation__list">

    <li class="app-sub-navigation__item">
      <a class="app-sub-navigation__link" href="/task_list1">Task list</a>
    </li>
        <li class="app-sub-navigation__item">
          <a class="app-sub-navigation__link"   aria-current="page"  href="#">School application form</a>
        </li>
       <!-- Not MVP <li class="app-sub-navigation__item">
          <a class="app-sub-navigation__link"  href="dates">Project dates</a>
        </li> -->
        <li class="app-sub-navigation__item">
          <a class="app-sub-navigation__link"  href="notes">Project notes</a>
        </li>
    </ul>

</nav>
</div>
<div class="govuk-grid-column-full">
  <h2 class="govuk-heading-l govuk-!-margin-bottom govuk-!-font-size-36">School application form</h2>

<p><a href="application_newtab" target="application">Open school application form in a new tab</a></p>

<dl class="govuk-summary-list">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Application to join
    </dt>
    <dd class="govuk-summary-list__value">
      Dynamics trust with St. Wilfrid's Primary School
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Lead applicant
    </dt>
    <dd class="govuk-summary-list__value">
      Garth Brown
    </dd>
  </div>
</dl>

<h3 class="govuk-heading-m govuk-!-margin-top-8 govuk-!-font-size-24">Details</h3>
<dl class="govuk-summary-list">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Upload evidence that the trust consents to the school joining
    </dt>
    <dd class="govuk-summary-list__value">
      <a href="#">consent_dynamics.docx</a>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Will there be any changes to the governance of the trust due to the school joining?
    </dt>
    <dd class="govuk-summary-list__value">
      Yes
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      What are the changes going to be?
    </dt>
    <dd class="govuk-summary-list__value">
      We will be appointing a new CEO and CFO for the trust.
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Will there be any changes at a local level due to this school joining?
    </dt>
    <dd class="govuk-summary-list__value">
      Yes
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      What are the changes and how do they fit into the current lines of accountability in the trust?
    </dt>
    <dd class="govuk-summary-list__value">
      We will set up a sub-regional hub.
    </dd>
  </div>
</dl>



<h2 class="govuk-heading-l govuk-!-margin-top-8 govuk-!-font-size-36">About the conversion</h2>
<h3 class="govuk-heading-m  govuk-!-font-size-24">The school joining the trust</h3>
<dl class="govuk-summary-list">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      The name of the school
    </dt>
    <dd class="govuk-summary-list__value">
      St. Wilfrid's Primary School
    </dd>
  </div>
</dl>

  <h3 class="govuk-heading-m govuk-!-margin-top-8 govuk-!-font-size-24">Contact details</h3>
  <dl class="govuk-summary-list">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Name of headteacher
    </dt>
    <dd class="govuk-summary-list__value">
     Garth Brown
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Headteacher's email address
    </dt>
    <dd class="govuk-summary-list__value">
      garth.brown@stwilfridsprimary.edu.uk
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Headteacher's telephone number
    </dt>
    <dd class="govuk-summary-list__value">
     09876 64547563
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Name of the chair of the Governing Body
    </dt>
    <dd class="govuk-summary-list__value">
      Arna Siggurdottier
    </dd>
  </div>
<div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Chair's email address
    </dt>
    <dd class="govuk-summary-list__value">
     arna.siggurdottier@dynamicstrust.co.uk
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Chair's phone number
    </dt>
    <dd class="govuk-summary-list__value">
     0972 345 119
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Approver's name
    </dt>
    <dd class="govuk-summary-list__value">
     Jeremy Vine
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Approver's email address
    </dt>
    <dd class="govuk-summary-list__value">
     jeremy.vine@dynamicstrust.co.uk
    </dd>
  </div>
</dl>


<h3 class="govuk-heading-m govuk-!-margin-top-8 govuk-!-font-size-24">Date for conversion</h3>
<dl class="govuk-summary-list">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Do you want the conversion to happen on a particular date
    </dt>
    <dd class="govuk-summary-list__value">
      Yes
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Preferred date
    </dt>
    <dd class="govuk-summary-list__value">
     01/07/2021
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
     Explain why you want to convert on this date?
    </dt>
    <dd class="govuk-summary-list__value">
      It fits with our plan to convert before we break up for the summer.
    </dd>
  </div>
</dl>

<h3 class="govuk-heading-m govuk-!-margin-top-8 govuk-!-font-size-24">Reasons for joining</h3>
<dl class="govuk-summary-list">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Why does the school want to join this trust in particular?
    </dt>
    <dd class="govuk-summary-list__value">
      <p>St Wilfrid's is a small primary school in Warrington which is facing a financially challenging future should it remain on its own. Low pupil numbers and the high level of staffing costs due to the school being supported by an Agency Interim Head Teacher have contributed to this.</p>
            </p>The Chair of St Wilfrid's and Dynamics Trust have agreed to a Memorandum of Understanding which will allow Dynamics Trust to oversee all operational aspects of the school with immediate effect. Central services provided will include school imporvement, finance and operational support and HR support. Dynamics Trust have also apponted Garth Brown, Head Teacher of Angel Primary School, to the role of interim Executive Head Teacher, he assumed full responsibility for Wilfrid's on 2nd Novemeber 2020.</p>    
    </dd>
  </div></dl>

  <h3 class="govuk-heading-m govuk-!-margin-top-8 govuk-!-font-size-24">Name changes</h3>
  <dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Is the school planning to change its name when it becomesan academy?
      </dt>
      <dd class="govuk-summary-list__value">
        No
      </dd>
    </div>
  </dl>


  <h2 class="govuk-heading-l govuk-!-margin-top-8 govuk-!-font-size-36">Further information</h2>
  <h3 class="govuk-heading-m  govuk-!-font-size-24">Additional details</h3>
  <dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        What will the school bring to the trust thy are joing?
      </dt>
      <dd class="govuk-summary-list__value">
        Strong financial expertise to help the school recover from a financial deficit. </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Have Ofsted inspected the school but not published the report yet?
      </dt>
      <dd class="govuk-summary-list__value">
        Yes</dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Provide the inspection date
      </dt>
      <dd class="govuk-summary-list__value">
        13/01/2021 - The school had a short Ofsted inspection and the outcome was 'Good'.</dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Are there any safeguarding investigations ongoing at the school?
      </dt>
      <dd class="govuk-summary-list__value">
        No</dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Is the school part of a local authority reorganisation?
      </dt>
      <dd class="govuk-summary-list__value">
        No</dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Is the school part of any local authority closure plans?
      </dt>
      <dd class="govuk-summary-list__value">
        No</dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Is your school linked to a diocese?
      </dt>
      <dd class="govuk-summary-list__value">
        Yes</dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Name of diocese?
      </dt>
      <dd class="govuk-summary-list__value">
        Diocese of Warrington</dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
       Upload a letter of consent from the diocese
      </dt>
      <dd class="govuk-summary-list__value">
        <a href="#">constent-from-diocese.docx</a></dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Is your school part of a federation?
      </dt>
      <dd class="govuk-summary-list__value">
        No</dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Is the school supported by a foundation, trust or other body (e.g. parish council) that appoints foundation governors?
      </dt>
      <dd class="govuk-summary-list__value">
        No</dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Does the school currently have an exemption from providing broadly Christian collective worship issued by the local Standing Committee on Religious Education (SACRE)?
      </dt>
      <dd class="govuk-summary-list__value">
        No</dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Please provide a list of your main feeder schools
      </dt>
      <dd class="govuk-summary-list__value">
        St Mary's Primary School, St. Patrick's Primary School</dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        The school's Governing Body must have passed a resolution to apply to convert to academy status. Upload a copy of the school’s consent to converting and joining the trust.
      </dt>
      <dd class="govuk-summary-list__value">
      <a href="#"> consent.docx</a></dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
      Has an equalities impact assessment been carried out and considered by the governing body?
      </dt>
      <dd class="govuk-summary-list__value">
        Yes</dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
      Outcome of assessment
      </dt>
      <dd class="govuk-summary-list__value">
        The equalities duty has been considered and the Secretary of State's decision is unlikely to affect disproportionately any particular person or group who share protected characteristics.</dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Do you want to add any further information?</dt>
      <dd class="govuk-summary-list__value">
      No</dd>
    </div>
  </dl>


  <h2 class="govuk-heading-l govuk-!-margin-top-8 govuk-!-font-size-36">Finances</h2>
  <h3 class="govuk-heading-m  govuk-!-font-size-24">Previous financial year</h3>
  <dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        End of previous financial year

      </dt>
      <dd class="govuk-summary-list__value">
        31/03/2019
      </dd>
    </div>
  </dl>


  <dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
      Revenue carry forward at the end of the previous financial year (31 March)
    </dt>
    <dd class="govuk-summary-list__value">
      100 000
    </dd>
  </div>
</dl>

  <dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
      Surplus or deficit?
    </dt>
    <dd class="govuk-summary-list__value">
      Deficit
    </dd>
  </div>
</dl>
  <dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">

      Explain the reasons for the deficit, how the school plans todeal with it, and the recovery plan
    </dt>
    <dd class="govuk-summary-list__value">
      The school has been accepting low pupil numbers over the previous financial year and has had to deal with a high cost of teaching staff which has caused a financial deficit.
    </dd>
  </div>
</dl>

<h3 class="govuk-heading-m govuk-!-margin-top-8 govuk-!-font-size-24">Current financial year</h3>
  <dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        End of current financial year

      </dt>
      <dd class="govuk-summary-list__value">
        31/03/2020
      </dd>
    </div>
  </dl>


  <dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
      Forecasted revenue carry forward at the end of the current financial year (31 March)
    </dt>
    <dd class="govuk-summary-list__value">
      200 000
    </dd>
  </div>
</dl>

  <dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
      Surplus or deficit?
    </dt>
    <dd class="govuk-summary-list__value">
      Surplus
    </dd>
  </div>
</dl>
<dl class="govuk-summary-list">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
    Forecasted capital carry forward at the end of the current financial year (31 March)
  </dt>
  <dd class="govuk-summary-list__value">
    55 000
  </dd>
</div>
</dl>

<dl class="govuk-summary-list">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
    Surplus or deficit?
  </dt>
  <dd class="govuk-summary-list__value">
    Surplus
  </dd>
</div>
</dl>
<h3 class="govuk-heading-m govuk-!-margin-top-8 govuk-!-font-size-24">Next financial year</h3>
<dl class="govuk-summary-list">
<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
    End of current financial year

  </dt>
  <dd class="govuk-summary-list__value">
    31/03/2021
  </dd>
</div>
</dl>


<dl class="govuk-summary-list">
<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
  Forecasted revenue carry forward at the end of the next financial year (31 March)
</dt>
<dd class="govuk-summary-list__value">
  40 000
</dd>
</div>
</dl>

<dl class="govuk-summary-list">
<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
  Surplus or deficit?
</dt>
<dd class="govuk-summary-list__value">
  Surplus
</dd>
</div>
</dl>
<dl class="govuk-summary-list">
<div class="govuk-summary-list__row">
<dt class="govuk-summary-list__key">
Forecasted capital carry forward at the end of the next financial year (31 March)
</dt>
<dd class="govuk-summary-list__value">
20 000
</dd>
</div>
</dl>

<dl class="govuk-summary-list">
<div class="govuk-summary-list__row">
<dt class="govuk-summary-list__key">
Surplus or deficit?
</dt>
<dd class="govuk-summary-list__value">
Surplus
</dd>
</div>
</dl>
<h3 class="govuk-heading-m govuk-!-margin-top-8 govuk-!-font-size-24">Loans</h3>
  <dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Are there any exisitng loans?

      </dt>
      <dd class="govuk-summary-list__value">
        No
      </dd>
    </div>
  </dl>
  <h3 class="govuk-heading-m govuk-!-margin-top-8 govuk-!-font-size-24">Financial leases</h3>
  <dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Are there any exisitng leases?

      </dt>
      <dd class="govuk-summary-list__value">
        No
      </dd>
    </div>
  </dl>

  <h3 class="govuk-heading-m govuk-!-margin-bottom govuk-!-font-size-24">Financial investigations</h3>
  <dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Are there any financial investigations ongoing at the school?

      </dt>
      <dd class="govuk-summary-list__value">
        No
      </dd>
    </div>
  </dl>


      <h2 class="govuk-heading-l govuk-!-margin-top-8 govuk-!-font-size-36">Future pupil numbers</h2>
      <h3 class="govuk-heading-m  govuk-!-font-size-24">Details</h3>
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Projected pupil numbers on roll in the year the academy opens (year 1)
  
          </dt>
          <dd class="govuk-summary-list__value">
            115
          </dd>
        </div>
      </dl>
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Projected pupil numbers on roll in the following year after the academy has opened (year 2)
  
          </dt>
          <dd class="govuk-summary-list__value">
            100
          </dd>
        </div>
      </dl>
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Projected pupil numbers on roll in the following year (year 3)
  
          </dt>
          <dd class="govuk-summary-list__value">
            100
          </dd>
        </div>
      </dl>
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            What do you base these projected numbers on?
  
          </dt>
          <dd class="govuk-summary-list__value">
          Good feeder links into the school and a high demand in the area for a primary academy.
          </dd>
        </div>
      </dl>
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            What is the school's published admissions number (PAN)?
  
          </dt>
          <dd class="govuk-summary-list__value">
          30
          </dd>
        </div>
      </dl>

      <h2 class="govuk-heading-l govuk-!-margin-top-8 govuk-!-font-size-36">Land and buildings</h2>
      <h3 class="govuk-heading-m  govuk-!-font-size-24">Details</h3>
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            As far as you're aware, who owns or holds the school's buildings and land?
  
          </dt>
          <dd class="govuk-summary-list__value">
            The local authority
          </dd>
        </div>
      </dl>
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Are there any current planned building works?
  
          </dt>
          <dd class="govuk-summary-list__value">
            No
          </dd>
        </div>
      </dl>
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Are there any shared facilities on site?
  
          </dt>
          <dd class="govuk-summary-list__value">
            No
          </dd>
        </div>
      </dl>
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Has the school had any grants from Sport England, the Big Lottery Fund, or the Football Federation?
  
          </dt>
          <dd class="govuk-summary-list__value">
          No
          </dd>
        </div>
      </dl>
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
          Is the school part of a Private Finance Intiative (PFI) scheme?
  
          </dt>
          <dd class="govuk-summary-list__value">
          No
          </dd>
        </div>
      </dl>
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
          Is the school part of a Priority School Building Programme?
  
          </dt>
          <dd class="govuk-summary-list__value">
          No
          </dd>
        </div>
      </dl>
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
          Is the school part of a Building Schools for the Future Programme?
  
          </dt>
          <dd class="govuk-summary-list__value">
          No
          </dd>
        </div>
      </dl>
      <h2 class="govuk-heading-l govuk-!-margin-top-8 govuk-!-font-size-36">Pre-opening support grant</h2>
      <h3 class="govuk-heading-m  govuk-!-font-size-24">Details</h3>
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Do you want these funds paid to the school or the trust?
  
          </dt>
          <dd class="govuk-summary-list__value">
            To the trust the school is joining
          </dd>
        </div>
      </dl>
      <h2 class="govuk-heading-l govuk-!-margin-top-8 govuk-!-font-size-36">Consultation</h2>
      <h3 class="govuk-heading-m  govuk-!-font-size-24">Details</h3>
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Has the governing body consulted the relevant stakeholders?
  
          </dt>
          <dd class="govuk-summary-list__value">
            Yes
          </dd>
        </div>
      </dl>
      <h2 class="govuk-heading-l govuk-!-margin-top-8 govuk-!-font-size-36">Declaration</h2>
      <h3 class="govuk-heading-m  govuk-!-font-size-24">Details</h3>
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            I agree with all of these statements, and belive that the facts stated in this application are true
  
          </dt>
          <dd class="govuk-summary-list__value">
            Yes
          </dd>
        </div>
      </dl>
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Signed by
  
          </dt>
          <dd class="govuk-summary-list__value">
            Garth Brown
          </dd>
        </div>
      </dl>
      </main>
    </div>
  

    {% endblock %}