{% extends "layout.html" %}

{% block beforeContent %}
<a href="index" class="govuk-back-link">Back to all conversion projects</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <span class="govuk-caption-xl">AS_102062</span>
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">
        St. Wilfrid's Primary School
        <strong class="govuk-tag govuk-tag--blue">Pre HTB</strong></h1>
        {% if data['htb-date']%}
        <div class="govuk-inset-text">
          <h4 class="govuk-heading-m">HTB date</h4>
          <p>HTB date for this project is {{ data['htb-date']}}</p>
        </div> 
        {% else %} 
        {% endif %}
      <nav class="app-sub-navigation" aria-label="sub menu">
          <ul class="app-sub-navigation__list">
              <li class="app-sub-navigation__item">
                <a class="app-sub-navigation__link" href="/task_list1">Task list</a>
              </li>
              <li class="app-sub-navigation__item">
                <a class="app-sub-navigation__link"  href="/related/application">Application form</a>
              </li>
            <!-- Not MVP   <li class="app-sub-navigation__item">
                <a class="app-sub-navigation__link" href="/related/dates">Project dates</a>
              </li> -->
              <li class="app-sub-navigation__item">
                <a class="app-sub-navigation__link"  aria-current="page" href="/related/project-notes">Project notes</a>
              </li>
          </ul>
        </nav>
  </div>
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-l govuk-!-margin-bottom govuk-!-font-size-36">Project notes</h2>
    <a href="notes-new.html" role="button" draggable="false" class="govuk-button govuk-button--secondary" data-module="govuk-button">Add note</a>
      <div class="app-notes">
        <div class="app-notes__note">
          <h2 class="govuk-heading-s govuk-!-margin-bottom-1"><a class="govuk-link govuk-link--no-visited-state" href="/applications/O6WVPBZ/notes/2a53e32a-be77-4daf-b89f-44246a936878">Update on what's happened so far</a></h2>
          <p class="govuk-!-margin-bottom-1">Apologies for this last minute handover. There are a few things to note. I've not updated the task list with the school's preferred opening date. There could also be a possible viability issue so we should highlight that too. The school's rationale seems thorough but I've not edited it to add my own narrative yet.</p>
          <p class="govuk-body-s">Aleah Khan, 1 April 2021 at 4:31pm</p>
        </div>
      </div>
  </div>
</div>

{% endblock %}

