{% extends "layout.html" %}

{% block beforeContent %}
<a href="javascript:history.back();" class="govuk-back-link">Back</a>
{% endblock %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
  
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% if data['returnToSummary'] == 'yes' %}
        <form action="summary1" method="post">
        {% else %}
        <form action="/conditions-answer" method="post">
      {% endif %}
      <input hidden type="text" name="returnToSummary" value="no"/>
      <span class="govuk-caption-l">St. Wilfrid's Primary School</span>
        <h1 class="govuk-heading-l">Were any conditions set?</h1>
      </legend>
      


      <!--radio buttons-->
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            
          </legend>
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="conditions-yes" name="conditions" {{checked("conditions", "Yes")}} type="radio" value="Yes">
              <label class="govuk-label govuk-radios__label" for="Conditions">
                Yes
              </label>
              
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="conditions-no" name="conditions" {{checked("conditions", "No")}} type="radio" value="No">
              <label class="govuk-label govuk-radios__label" for="Conditions">
                No
              </label>
              
            </div>
           
          
          </div>
      
        </fieldset>
      </div>
      <!-- {% from "govuk/components/radios/macro.njk" import govukRadios %}

      {{ govukRadios({
        idPrefix: "Conditions",
        name: "Conditions",

        fieldset: {
          legend: {

            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
    
        items: [
      

        {
            value: "Yes",
            checked:  data['Conditions'] === "Yes",
            text: "Yes",
            classes:"govuk-!-font-weight-bold"
            
          },
          {
            value: "None",
            checked:  data['Conditions'] === "No",
            text: "No",
             classes:"govuk-label govuk-radios__label govuk-label—s"
   
          }
          
        ]
      }) }} -->

        {{ govukButton({
          text: "Continue"
        }) }}
      </fieldset>   
    </form>

  </div>  
  </div>  
</div>
{% endblock %}
  
  
  
  
