{% extends "layout.html" %}

{% block beforeContent %}
<a href="javascript:history.back();" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}    
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <span class="govuk-caption-l">St. Wilfrid's Primary School</span>
      <h1 class="govuk-heading-l">Confirm status change</h1>

        <dl class="govuk-summary-list">

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Status
            </dt>
            <dd class="govuk-summary-list__value">{{ data['Status-status']}} </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="list.html">
                Change<span class="govuk-visually-hidden">risks and issues</span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
             Reason for status change
            </dt>
            <dd class="govuk-summary-list__value">               
{{ data['status-reasons']}} 
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="rejected.html">
                Change<span class="govuk-visually-hidden">risks and issues</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
             Date of status change
            </dt>
            <dd class="govuk-summary-list__value"> 
              
+  {{ data['status-date']}} 
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="dates.html">
                Change<span class="govuk-visually-hidden">risks and issues</span>
              </a>
            </dd>
          </div>

        </dl>



  
        <form action="/task_list2" method="post"> 
          {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
          {% from "govuk/components/button/macro.njk" import govukButton %}

         <p>This action cannot be reversed.</p>
          {{ govukButton({
            text: "Reject project",
            classes: "govuk-button--warning"
          }) }}

        </form>
  
      </main>
    </main>   
    </div>
  </div>
{% endblock %}
