{% extends "layout.html" %}

{% block beforeContent %}
        
<a href="javascript:history.back();" class="govuk-back-link">Back</a>
{% endblock %}
<form action="budget-information2#additional_info" method="post"></form>
{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-l">St. Wilfrid's Primary School</span>
    <h1 class="govuk-heading-l">Confirm school budget information</h1>
    <p class="govuk-body">This information comes from the <a href="../related/application_newtab" target="_application">school's application form (opens in a new tab)</a>. The table will populate into your project template.</p>
    <p>You can add <a href="#additional_info">additional information</a> if you need to, this will also go into your project template.</p>
 <br>
  </div>
</div>
  <dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key  govuk-!-width-two-thirds">
        <h3 class="govuk-heading-m govuk-!-margin-bottom-0">Remaining revenue on 31 March</h3></dt>
      <dd class="govuk-summary-list__actions govuk-!-width-two-thirds">
        <a class="govuk-link" href="revenue">
          Change remaining revenue<span class="govuk-visually-hidden"> Change data in the revenue section</span>
        </a>
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Previous financial year
      </dt>
      <dd class="govuk-summary-list__value">
        £{{ data['revenue-previous-year'] }}
      </dd>
   
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
      Current financial year (forecasted)
      </dt>
      <dd class="govuk-summary-list__value">
        £{{ data['revenue-current-year']}}
      </dd>
   
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
       Next financial year (forecasted)
      </dt>
      <dd class="govuk-summary-list__value">
        £{{ data ['revenue-next-year']}}
      </dd>
   
    </div>
  </dl>

  <dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key  govuk-!-width-two-thirds">
        <h3 class="govuk-heading-m govuk-!-margin-bottom-0">Remaining capital on 31 March</h3>
      </dt>
      <dd class="govuk-summary-list__actions govuk-!-width-two-thirds">
        <a class="govuk-link" href="capital">
          Change remaining capital<span class="govuk-visually-hidden"> Change data in the capital section</span>
        </a>
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Previous financial year
      </dt>
   
    
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
      Current financial year (forecasted)
      </dt>
      <dd class="govuk-summary-list__value">
        £{{ data['capital-current-year']}}
      </dd>
    
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
       Next financial year (forecasted)
      </dt>
      <dd class="govuk-summary-list__value">
        £{{ data ['capital-next-year']}}
      </dd>
   
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
       Reason for deficit
      </dt>
      <dd class="govuk-summary-list__value">
        {% if data['reason-for-deficit'] %}
        {{data['reason-for-deficit']}}
    {% else %}
        <span class="empty">Empty</span>
    {% endif %}
      </dd>
     
    </div>
  </dl>

  <dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key  govuk-!-width-two-thirds">
        <h3 class="govuk-heading-m govuk-!-margin-bottom-1">Loans and financial leases</h3>
        <p class="govuk-body-s govuk-!-margin-bottom-0"><a href="../related/application_newtab#finances" target="_application">View full loans and financial leases information (opens in a new tab)</a></p>
      </dt>
      <dd class="govuk-summary-list__actions govuk-!-width-two-thirds">
       <br><a class="govuk-link" href="loans-leases">
          Change loans and leases<span class="govuk-visually-hidden"> Change data in the loans and leases section</span>
        </a>
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Total loan amount
      </dt>
      <dd class="govuk-summary-list__value">
        £{{ data['total-loan-amounts'] }}
      </dd>

    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
      Purpose of the loans
      </dt>
      <dd class="govuk-summary-list__value">
        {{ data['purpose-of-loans']}}
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
     Total annual lease repayment amount
      </dt>
      <dd class="govuk-summary-list__value">
        £{{ data ['total-lease-repayments']}}
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
   Pupose of the leases
      </dt>
      <dd class="govuk-summary-list__value">
        {{ data ['purpose-of-leases']}}
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
   Have ESFA approved the loans and leases?
      </dt>
      <dd class="govuk-summary-list__value">
        {% if data['esfa-approved'] %}
        {{data['esfa-approved']}}
    {% else %}
        <span class="empty">Empty</span>
    {% endif %}
</dd>
</div>
</dl>



<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds">
  <form action="budget-information2" method="post">
      <a name="additional_info"></a>
      {% from "govuk/components/textarea/macro.njk" import govukTextarea %}
    
      {{ govukTextarea({
        name: "budget-more-detail",
        id: "budget-more-detail",
        value: data["budget-more-detail"],
        label: {
          text: "Add any additional information if you need to",
          classes: "govuk-label--m"
        },
        hint: {
          text:"This information will populate into your project template under the school budget section."
        }
      }) }}
    
      {{ govukButton({
        text: "Confirm and continue"
      }) }}
    </form>

  </div>
  </div>


  {% endblock %}