{% extends "layout.html" %}

{% block beforeContent %}
        
<a href="javascript:history.back();" class="govuk-back-link">Back</a>
{% endblock %}

{% if data['returnToSummary'] == 'yes' %}
<form action="budget-information2" method="post">
{% else %}
<form action="../task_list1" method="post">
{% endif %}
{% block content %}
<!-- <div class="govuk-notification-banner govuk-notification-banner--success" role="alert"
  aria-labelledby="govuk-notification-banner-title"
  data-module="govuk-notification-banner">
  <div class="govuk-notification-banner__header">
    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title" >
      Success
    </h2>
  </div>
  <div class="govuk-notification-banner__content"><h2 class="govuk-heading-m">Additional information added</h2>
    <p><a href="/task_list1">Return to task list</a></p></div>
</div>
<div> -->

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-l">St. Wilfrid's Primary School</span>
    <h1 class="govuk-heading-l">Confirm school budget information</h1>
    <p class="govuk-body">This information comes from the <a href="../related/application_newtab" target="_application">school's application form (opens in a new tab)</a>. The table will populate into your project template.</p>
    <p>You can add <a href="#additional_info">additional information</a> if you need to, this will also go into your project template.</p>
 <br>
  </div>
</div>

  <dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key  govuk-!-width-two-thirds">
        <h3 class="govuk-heading-m govuk-!-margin-bottom-0">Remaining revenue on 31st March</h3></dt>
      <dd class="govuk-summary-list__actions govuk-!-width-two-thirds">
        <a class="govuk-link" href="revenue">
          Change remaining revenue<span class="govuk-visually-hidden"> Change data in the revenue section</span>
        </a>
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Previous financial year
      </dt>
      <dd class="govuk-summary-list__value">
        £{{ data['revenue-previous-year'] }}
      </dd>
      <dd class="govuk-summary-list__actions">
      
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
      Current financial year (forecasted)
      </dt>
      <dd class="govuk-summary-list__value">
        £{{ data['revenue-current-year']}}
      </dd>
      <dd class="govuk-summary-list__actions">
      
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
       Next financial year (forecasted)
      </dt>
      <dd class="govuk-summary-list__value">
        £{{ data ['revenue-next-year']}}
      </dd>
      <dd class="govuk-summary-list__actions">
  
      </dd>
    </div>
  </dl>

  <dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key  govuk-!-width-two-thirds">
        <h3 class="govuk-heading-m govuk-!-margin-bottom-0">Remaining capital on 31st March</h3>
      </dt>
      <dd class="govuk-summary-list__actions govuk-!-width-two-thirds">
        <a class="govuk-link" href="capital">
          Change remaining capital<span class="govuk-visually-hidden"> Change data in the capital section</span>
        </a>
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Previous financial year
      </dt>
      <dd class="govuk-summary-list__value">
        £{{ data['capital-previous-year'] }}
      </dd>
      <dd class="govuk-summary-list__actions">
      
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
      Current financial year (forecasted)
      </dt>
      <dd class="govuk-summary-list__value">
        £{{ data['capital-current-year']}}
      </dd>
      <dd class="govuk-summary-list__actions">
      
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
       Next financial year (forecasted)
      </dt>
      <dd class="govuk-summary-list__value">
      <span class="deficit">£{{ data ['capital-next-year']}}</span>  
      </dd>
      <dd class="govuk-summary-list__actions">
  
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
       Reason for deficit
      </dt>
      <dd class="govuk-summary-list__value">
        {% if data['reason-for-deficit'] %}
        {{data['reason-for-deficit']}}
    {% else %}
        <span class="empty">Empty</span>
    {% endif %}
      </dd>
      <dd class="govuk-summary-list__actions">
  
      </dd>
    </div>
  </dl>

  <dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key  govuk-!-width-two-thirds">
        <h3 class="govuk-heading-m govuk-!-margin-bottom-1">Loans and financial leases</h3>
        <p class="govuk-link govuk-!-margin-bottom-0 govuk-body-s"><a href="../related/application_newtab#finances" target="_application">View full loans and financial leases information (opens in a new tab)</a></p>
      </dt>
      <dd class="govuk-summary-list__actions govuk-!-width-two-thirds">
       <br><a class="govuk-link" href="loans-leases">
          Change loans and leases<span class="govuk-visually-hidden"> Change data in the loans and leases section</span>
        </a>
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Total loan amounts
      </dt>
      <dd class="govuk-summary-list__value">
        £{{ data['total-loan-amounts'] }}
      </dd>
      <dd class="govuk-summary-list__actions">
      
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
      Purpose of the loans
      </dt>
      <dd class="govuk-summary-list__value">
        {{ data['purpose-of-loans']}}
      </dd>
      <dd class="govuk-summary-list__actions">
      
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
     Total annual lease repayment amount
      </dt>
      <dd class="govuk-summary-list__value">
        £{{ data ['total-lease-repayments']}}
      </dd>
      <dd class="govuk-summary-list__actions">
  
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
   Pupose of the leases
      </dt>
      <dd class="govuk-summary-list__value">
        {{ data ['purpose-of-leases']}}
      </dd>
      <dd class="govuk-summary-list__actions">
  
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
   Have ESFA approved the loans and leases?
      </dt>
      <dd class="govuk-summary-list__value">
        {% if data['esfa-approved'] %}
        {{data['esfa-approved']}}
    {% else %}
        <span class="empty">Empty</span>
    {% endif %}
      </dd>
      <dd class="govuk-summary-list__actions">
  
      </dd>
    </div>
  </dl>



  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <a name="additional_info"></a>  <h3 class="govuk-heading-m govuk-!-margin-top-8">Add any additional information if you need to</h3>
        <p>This information will populate into your project template under the school budget information section.</p>
      </div></div>
      <div>
        <br>
        <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Addtional information</dt>
                <dd class="govuk-summary-list__value">
                    {% if data['budget-more-detail'] %}
                        {{data['budget-more-detail']}}
                    {% else %}
                        <span class="empty">Empty</span>
                    {% endif %}

                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="budget-information-comments#additional_info">
                      Change<span class="govuk-visually-hidden">Change budget comments</span>
                    </a>
                </dd>
            </div>
        </dl>
    </div>

 
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
    
    
  
      <!--  <form action="/task_list1" method="post"> 
          {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
          {% from "govuk/components/button/macro.njk" import govukButton %}
    
          {{ govukCheckboxes({
            idPrefix: "budget-status-htb",
            name: "budget-status-htb",
            items: [
              {
                value: "Complete",
                text: "Mark this section as complete, you can still make changes later"
              }
            ]
          }) }}
    
          {{ govukButton({
            text: "Save and continue"
          }) }}
    
        </form>
    <p><a href="javascript:history.back();">Cancel</a></p>-->
    <form action="../task_list1" method="post"> 


      {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
      {% from "govuk/components/button/macro.njk" import govukButton %}

      {{ govukCheckboxes({
        idPrefix: "school-budget-status",
        name: "school-budget-status",
        items: [
          {
            value: "Complete",
            text: "Mark this section as complete, you can still make changes later"
          }
        ]
      }) }}


      {{ govukButton({
        text: "Confirm and continue"
      }) }}

    </form>

    </div>
    </div>

  {% endblock %}