{% extends "layout.html" %}

{% block beforeContent %}
<a href="../task_list_involuntary_conversions" class="govuk-back-link">Back to task list</a>
{% endblock %}
 
{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-l">Cheltenham Spa Primary School</span>
    <h1 class="govuk-heading-l">
    Financial and resource management</h1>
    <p>This information is pre-populated from TRAMS.</p>
    <p class="govuk-body-s">TRAMS last updated on: 23 March 2021</p>
    </div></div>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
    <dl class="govuk-summary-list">
   
      
      


      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Has the MAT/Sponsor received MDIF/other funding?
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">
          {% if data['sponsor-mdif'] %}
          {{ data['sponsor-mdif']}}
          {% else %} 
          <span class="empty">Empty</span>
          {% endif %}
          </p>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="route-type-involuntary.html">
            Change<span class="govuk-visually-hidden">MDIF funding"</span>
          </a>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          How much and what was it for?
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">
          {% if data['sponsor-mdif-amount'] %}
          {{ data['sponsor-mdif-amount']}}
          {% else %} 
          <span class="empty">Empty</span>
          {% endif %}
          </p>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="route-type-involuntary.html">
            Change<span class="govuk-visually-hidden">MDIF funding amount"</span>
          </a>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Integrated Curriculum Financial Planning (ICFP) information
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">
          {% if data['sponsor-icfp'] %}
          {{ data['sponsor-icfp']}}
          {% else %} 
          <span class="empty">Empty</span>
          {% endif %}
          </p>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="route-type-involuntary.html">
            Change<span class="govuk-visually-hidden">ICFP information"</span>
          </a>
        </dd>
      </div>

      
  

            

    
      


      
     

      
      
     
    </dl>
    <form action="../task_list" method="post"> 
  {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
  {% from "govuk/components/button/macro.njk" import govukButton %}

  {{ govukCheckboxes({
    idPrefix: "overview-status",
    name: "overview-status",
    
    items: [
    
      {
        value: "Complete",
        text: "Mark this section as complete, you can still make changes later"
      }
      ]
    }) }}

  
        

  {{ govukButton({
    text: "Confirm and continue"
  }) }}

    </form>

  </div>
</div>
{% endblock %}
