{% extends "layout.html" %}

{% block pageTitle %}
  Cheltenham Spa Primary School - other schools in this MAT
{% endblock %}

{% block beforeContent %}
<a href="projects-list-mat" class="govuk-back-link">Back to all conversion projects</a>
{% endblock %}


{% block content %}

{% if data['justRecorded'] == 'yes' %}
<div class="govuk-notification-banner govuk-notification-banner--success" role="region" aria-labelledby="govuk-notification-banner-success" data-module="govuk-notification-banner">
  <div class="govuk-notification-banner__header">
    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
     Done
    </h2>
  </div>
  <div class="govuk-notification-banner__content">
    <p class="govuk-notification-banner__heading">Decision recorded</p>
  </div>
</div>
{% endif %}
<input hidden type="text" name="justRecorded" value="no"/>

{% if data['justAssigned'] == 'yes' %}
<div class="govuk-notification-banner govuk-notification-banner--success" role="region" aria-labelledby="govuk-notification-banner-success" data-module="govuk-notification-banner">
  <div class="govuk-notification-banner__header">
    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
     Done
    </h2>
  </div>
  <div class="govuk-notification-banner__content">
    <p class="govuk-notification-banner__heading">Project is assigned</p>
  </div>
</div>
{% endif %}
<input hidden type="text" name="justAssigned" value="no"/>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <div class="govuk-notification-banner" role="region"
  aria-labelledby="govuk-notification-banner-title"
  data-module="govuk-notification-banner">
  <div class="govuk-notification-banner__header">
    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
      Important
    </h2>
  </div>
  <div class="govuk-notification-banner__content">
    <p class="govuk-notification-banner__heading">
      You cannot currently use this service to create project templates for Form a MAT applications. You should use KIM instead.
    </p>
  </div>
</div>


    <span class="govuk-caption-xl govuk-!-margin-top-6" >URN: 100006</span>
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-2">
      Cheltenham Spa Primary School 
    </h1>
    <p class="govuk-body govuk-!-margin-bottom-8">
      Route: Form a MAT</br>
      Delivery officer: 
      {% if (data['delivery-officer-assigned']) %}
        <strong>{{ data['delivery-officer-assigned'] }}</strong>
      {% else %}
        <span class="empty">Empty</span>
      {% endif %}
      <a class="govuk-link" href="project-assignment/project-assignment" style="margin-left: 1em;">Change</a>
    </p>
  </div>

  <!--
  <div class="govuk-grid-column-two-thirds">

    {% if (data['decision-status'] == "Approved") %}
      <dl class="govuk-summary-list">

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Decision
          </dt>
          <dd class="govuk-summary-list__value">
            {% if (data['decision-status'] == "Approved") and (data['approved-conditions'] == "Yes") %}
            <strong class="govuk-tag govuk-tag--green">Approved with conditions</strong>
            {% else %}
              <strong class="govuk-tag govuk-tag--green">{{ data['decision-status']}}</strong>
            {% endif %} 
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Who made this decision
          </dt>
          <dd class="govuk-summary-list__value">               
            {% if data['who-decided'] != "Other" %}
              <div>{{ data['who-decided']}} </div>
            {% else %}
              {% if data['who-decided-other-details'] %} 
                <div>{{data['who-decided-other-details']}} </div>
              {% endif %}
            {% endif %}
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Were any conditions set
          </dt>
          <dd class="govuk-summary-list__value">               
            {% if data['approved-conditions'] == "Yes" %}
            <p>Yes:</p>
              {% if data['approved-conditions-yes-details'] %} 
                <p class="govuk-!-margin-bottom-2">{{ data['approved-conditions-yes-details'] }} </p>
              {% endif %}
            {% else %}
            <p>No</p>
            {% endif %}
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
          Date of decision
          </dt>
          <dd class="govuk-summary-list__value">
            {% if data['decision-date-day'] and data['decision-date-month'] and data['decision-date-year']%}
              <span>{{ data['decision-date-day'] }} </span>
              <span>{{ data['decision-date-month'] }} </span>
              <span>{{ data['decision-date-year'] }}</span>
            {% else %} 
              <span class="empty">Empty</span>
            {% endif %}
          </dd>
        </div>

      </dl>      
    {% elseif (data['decision-status'] == "Declined") %}  
      <dl class="govuk-summary-list">

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Decision
          </dt>
          <dd class="govuk-summary-list__value">
            <strong class="govuk-tag govuk-tag--red">{{ data['decision-status']}}</strong>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Who made this decision
          </dt>
          <dd class="govuk-summary-list__value">               
            {% if data['who-decided'] != "Other" %}
              <div>{{ data['who-decided']}} </div>
            {% else %}
              {% if data['who-decided-other-details'] %} 
                <div>{{data['who-decided-other-details']}} </div>
              {% endif %}
            {% endif %}
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
         Why was this project deferred
          </dt>
          <dd class="govuk-summary-list__value">               
            {% for reason in data['declined-reasons'] %}

              {% if reason == "Finance" %} 
                <div>{{ reason }}:</div>
                <div class="govuk-!-margin-bottom-2">{{data['finance-reason']}} </div>
              {% endif %}

              {% if reason == "Performance" %} 
                <div>{{ reason }}:</div>
                <div class="govuk-!-margin-bottom-2">{{data['performance-reason']}} </div>
              {% endif %}

              {% if reason == "Governance" %} 
                <div>{{ reason }}:</div>
                <div class="govuk-!-margin-bottom-2">{{data['governance-reason']}} </div>
              {% endif %}

              {% if reason == "Choice of trust" %} 
                <div>{{ reason }}:</div>
                <div class="govuk-!-margin-bottom-2">{{data['choice-of-trust-reason']}} </div>
              {% endif %}
              
              {% if reason == "Other" %} 
                <div>{{ reason }}:</div>
                <div class="govuk-!-margin-bottom-2">{{data['other-reason']}} </div>
              {% endif %}

            {% endfor %}
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
          Date of decision
          </dt>
          <dd class="govuk-summary-list__value">
            {% if data['decision-date-day'] and data['decision-date-month'] and data['decision-date-year']%}
              <span>{{ data['decision-date-day'] }} </span>
              <span>{{ data['decision-date-month'] }} </span>
              <span>{{ data['decision-date-year'] }}</span>
            {% else %} 
              <span class="empty">Empty</span>
            {% endif %}
          </dd>
        </div>

      </dl>

    {% elseif (data['decision-status'] == "Deferred") %} 
      <dl class="govuk-summary-list">

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Decision
          </dt>
          <dd class="govuk-summary-list__value">
            {% if (data['decision-status'] == "Approved") %}
              <strong class="govuk-tag govuk-tag--green">{{ data['decision-status']}}</strong>
            {% elseif (data['decision-status'] == "Declined") %}  
              <strong class="govuk-tag govuk-tag--red">{{ data['decision-status']}}</strong>
            {% elseif (data['decision-status'] == "Deferred") %} 
              <strong class="govuk-tag govuk-tag--orange">{{ data['decision-status']}}</strong>
            {% endif %} 
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Who made this decision
          </dt>
          <dd class="govuk-summary-list__value">               
            {% if data['who-decided'] != "Other" %}
              <div>{{ data['who-decided']}} </div>
            {% else %}
              {% if data['who-decided-other-details'] %} 
                <div>{{data['who-decided-other-details']}} </div>
              {% endif %}
            {% endif %}
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Why was this project deferred
          </dt>
          <dd class="govuk-summary-list__value">               
            {% for reason in data['deferred-reasons'] %}

              {% if reason == "Additional information needed" %} 
                <div>{{ reason }}:</div>
                <div class="govuk-!-margin-bottom-2">{{data['additional-information-reason']}} </div>
              {% endif %}

              {% if reason == "Awaiting next Ofsted report" %} 
                <div>{{ reason }}:</div>
                <div class="govuk-!-margin-bottom-2">{{data['awaiting-ofsted-reason']}} </div>
              {% endif %}

              {% if reason == "Performance concerns" %} 
                <div>{{ reason }}:</div>
                <div class="govuk-!-margin-bottom-2">{{data['performance-concerns-reason']}} </div>
              {% endif %}
              
              {% if reason == "Other" %} 
                <div>{{ reason }}:</div>
                <div class="govuk-!-margin-bottom-2">{{data['other-reason']}} </div>
              {% endif %}

            {% endfor %}
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
          Date of decision
          </dt>
          <dd class="govuk-summary-list__value">
            {% if data['decision-date-day'] and data['decision-date-month'] and data['decision-date-year']%}
              <span>{{ data['decision-date-day'] }} </span>
              <span>{{ data['decision-date-month'] }} </span>
              <span>{{ data['decision-date-year'] }}</span>
            {% else %} 
              <span class="empty">Empty</span>
            {% endif %}
          </dd>
        </div>

      </dl>
    {% endif %} 
    
    {% if (data['decision-status']) %}
      <p class="govuk-!-margin-top-2 govuk--!-margin-bottom-0">
        You can click the button to change the recorded decision.
      </p>
      <form action="status/list" method="post" class="form">
        {{ govukButton({
          text: "Change your decision"
        }) }}
      </form>   
    {% else %}  
      <p class="govuk-!-margin-top-2 govuk--!-margin-bottom-0">
        You have not recorded the decision for this project. You can record the decision once it has been made.
      </p>
      <form action="status/list" method="post" class="form">
        {{ govukButton({
          text: "Record a decision"
        }) }}
      </form>
    {% endif %} 


    {% if data['htb-date']%}
    <div class="govuk-inset-text">
      <h4 class="govuk-heading-m">HTB date</h4>
      <p>HTB date for this project is {{ data['htb-date']}}</p>
    </div> 
    {% else %} 
    {% endif %}
  </div>
-->

  <div class="govuk-grid-column-full">
    <nav class="app-sub-navigation" aria-label="sub menu">

      <ul class="app-sub-navigation__list govuk-!-margin-top-6">
           <li class="app-sub-navigation__item">
              <a class="app-sub-navigation__link"  href="application-cheltenham">School application form</a>
            </li>
            <li class="app-sub-navigation__item">
              <a class="app-sub-navigation__link" aria-current="page" href="#">Other schools in this MAT</a>
            </li>
      </ul>

    </nav>
  </div>

  <div class="govuk-grid-column-full">
    <h2 class="govuk-heading-l govuk-!-margin-bottom-3">Other schools in this MAT</h2>
    <table class="govuk-table">
      <caption class="govuk-table__caption govuk-table__caption--m govuk-visually-hidden">Projects (12)</caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-table__header app-!-width-three-fifths">
            Application information
          </th>
          <th class="govuk-table__header prepare-text-align-right app-!-width-two-fifths">
            Project status and dates
          </th>  
        </tr>
      </thead>

      <tbody class="govuk-table__body">

       

          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><h2 class="govuk-caption-l govuk-!-margin-bottom-0 govuk-!-margin-top-1"><strong><a href="application-gloucester">Gloucester Primary School</a></strong> URN: 101573</h2>
              <p class="govuk-!-margin-top-3">
              Route: Form a MAT</br>
              Application to join a trust: Gloucestershire Academy Trust</br>
              Local authority: Gloucestershire</br>
              Delivery officer: <span class="empty">Empty</span>
              </p>
            </td>
            <td class="govuk-table__cell govuk-table__cell prepare-text-align-right">
              <p class="govuk-!-margin-top-0">
                <strong class="govuk-tag govuk-tag--yellow">Pre Advisory Board</strong>
              </p>
              <p class="govuk-hint  govuk-!-margin-top-0">
                Project created date: 18 February 2023</br>
                Advisory Board date: <span class="empty">Empty</span></br>
                Opening date: <span class="empty">Empty</span>
              </p>
            </td>   
          </tr>

        

          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><h2 class="govuk-caption-l govuk-!-margin-bottom-0 govuk-!-margin-top-1"><strong><a href="application-winchcombe">Winchcombe Primary School</a></strong> URN: 104944</h2>
              <p class="govuk-!-margin-top-3">
              Route: Form a MAT</br>
              Application to join a trust: Gloucestershire Academy Trust</br>
              Local authority: Gloucestershire</br>
              Delivery officer: <span class="empty">Empty</span>
              </p>
            </td>
            <td class="govuk-table__cell govuk-table__cell prepare-text-align-right">
              <p class="govuk-!-margin-top-0">
                <strong class="govuk-tag govuk-tag--yellow">Pre Advisory Board</strong>
              </p>
              <p class="govuk-hint  govuk-!-margin-top-0">
                Project created date: 11 February 2023</br>
                Advisory Board date: <span class="empty">Empty</span></br>
                Opening date: <span class="empty">Empty</span>
              </p>
            </td>   
          </tr>

         

         
        </tbody>
        </table>
  </div>
</div>
{% endblock %}
