{% extends "version-4/layout.html" %}

{% set pageTitle = "Features of the transfer – Manage an academy transfer" %}

{% set projectData = data['records'][0] %}

{% block beforeContent %}
  {% include "version-4/includes/phase-banner.html" %}
  <a class="govuk-back-link" href="../school-1/st-wilfreds-ps">Back to task list</a>
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
            <span class="govuk-caption-l">
                Project reference: {{ projectData.project_reference }}
            </span>
            <h1 class="govuk-heading-l">
                Features of the transfer
            </h1>
        <hr class="govuk-section-break govuk-section-break--l">
        </div>
    </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">

            <dl class="govuk-summary-list govuk-!-margin-bottom-7">

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        What is the reason for this transfer?
                    </dt>
                    <dd class="govuk-summary-list__value">
                    {% if data['reason-for-this-transfer']%}
                        {{data['reason-for-this-transfer']}}
                    {% else %} 
                        <span class="empty">Empty</span>
                    {% endif %}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="./features/question-a?returnToTaskList=yes">
                        Change<span class="govuk-visually-hidden">outgoing trust</span>
                    </a>
                    </dd>
                </div>

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Type of transfer
                    </dt>
                    <dd class="govuk-summary-list__value">
                    {% if data['type-of-transfer']%}
                        <p class="govuk-body">{{data['type-of-transfer']}}</p>
                        <p class="govuk-body">{{data['other-type-of-transfer']}}</p>
                    {% else %} 
                        <span class="empty">Empty</span>
                    {% endif %}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="./features/question-b">
                        Change<span class="govuk-visually-hidden">type of transfer</span>
                    </a>
                    </dd>
                </div>

            </dl>

            <form action="./st-wilfreds-ps" method="post" novalidate>

            <input type="hidden" name="answers-checked" value="true">
            
            <button class="govuk-button" data-module="govuk-button">
                Confirm and continue
            </button>

            </form>           
        </div>
    </div>

{% endblock %}