{% extends "layout.html" %}


{% block beforeContent %}

<a href="javascript:history.back();" class="govuk-back-link">Back</a>
{% endblock %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
  
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% if data['returnToSummary'] == 'yes' %}
        <form action="../generate/generate_summary#author" method="post">
        {% else %}
        <form action="../trust-overview/trust-overview-sponsored" method="post">
      {% endif %}
      <input hidden type="text" name="returnToSummary" value="no"/>
      <span class="govuk-caption-l">Trust overview</span>
      <h1 class="govuk-heading-l">Enter the full name of the MAT/Sponsor</h1>

      {% from "govuk/components/input/macro.njk" import govukInput %}

      {{ govukInput({
        hint: {
          text: "Hint text here if needed..."
        },
        classes: "govuk-input--width-20",
        id: "mat-sponsor",
        name: "mat-sponsor",
    
        value: data["mat-sponsor"]
      }) }}
       
   

        {{ govukButton({
          text: "Save and continue"
        }) }}

      </form>

    </div>

    <!-- right hand nav -->
    <div class="govuk-grid-column-one-third">
      {% include "../includes/useful_info_sidebar.html" %}
    </div>
  </div>
{% endblock %}
