
{% extends "layout.html" %}

{% block beforeContent %}
  
<a href="javascript:history.back();" class="govuk-back-link">Back</a>
{% endblock %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
  
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% if data['returnToSummary'] == 'yes' %}
        <form action="/generate/generate_summary" method="post">
        {% else %}
        <form action="/general-info/summary1" method="post">
      {% endif %}
      <input hidden type="text" name="returnToSummary" value="no"/>
      <span class="govuk-caption-l">St. Wilfrid's Primary School</span>
    <h1 class="govuk-heading-l">Does this school have a financial surplus or deficit?</h1>
    <!-- Not MVP
    <details class="govuk-details" data-module="govuk-details">
    <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Help with surplus and deficits
    </span>
    </summary>
    <div class="govuk-details__text">
    You need to make sure the school does not have a financial deficit that they cannot recover from in 3 years. To check the school's finances you can view the <a href="/related/application">application form</a> or check with ESFA to see if they have any financial concerns about the school.
    </div>
    </details>
    -->

      {{ govukRadios({
        idPrefix: "defict",
        name: "deficit",

        items: [
    
          {
            value: "surplus",
            checked:  data['deficit'] === "Surplus",
            text: "Surplus"
          },
          {
            value: "Deficit",
            checked:  data['deficit'] === "Deficit",
            text: "Deficit"
          },
          {
            value: "There are no financial issues at the school",
            checked:  data['deficit'] === "There are no financial issues at the school",
            text: "There are no financial issues at the school"
          }
          
        ]
      }) }}

      {{ govukButton({
        text: "Save and continue"
      }) }}
    </form>
  </div> 
  
  <!-- right hand nav -->    
    <div class="govuk-grid-column-one-third">
      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-s" id="subsection-title">
        Useful information
      </h2>
      <nav role="navigation" aria-labelledby="subsection-title">
        <ul class="govuk-list govuk-!-font-size-16">
          <li>
            <a class="govuk-link" href="#">
              
            </a>
          </li>
          <li>
            <p class="govuk-body-s"><a href="/related/application_newtab" target="application">School application form (opens in a new tab)</a></p>
          </li>
          
        </ul>
      </nav>
      
    </aside>
  </div>
</div> 

{% endblock %}

