{% extends "layout.html" %}

{% block beforeContent %}

<a href="/task_list1.html" class="govuk-back-link">Back to task list</a>
{% endblock %}

{% block content %}
  
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <span class="govuk-caption-l">St. Wilfrid's Primary School</span>
      <h1 class="govuk-heading-l">Confirm project and trust rationale</h1>
      <p>This information is pre-populated from the <a href="/related/application_newtab" target="_blank">school's application form (opens in a new tab)</a>.</p>
      <br>
</div></div>

         <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">
       <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Rationale for project
            </dt>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="project-rationale.html">
                Change<span class="govuk-visually-hidden">project rationale</span>
              </a>
              </dd>
           </div>
            </dl>
       
</div> </div>
      <div>   <div>  
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">
                <div class="govuk-summary-list__row">
                  <dd class="govuk-summary-list">
                  <span class="govuk-body">{% if data['project-rationale']%}
                      {{data['project-rationale'] | safe}}
                  </span>
                      {% else %} 
                     
                      <span class="empty">Empty</span>
                       {% endif %}</dd>
                 </div>    

              </div></div>
<div>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Rationale for trust
            </dt>

            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="trust-rationale.html">
                Change<span class="govuk-visually-hidden">project rationale</span>
              </a>
            </dd>
         </div>
          </dl>
     
</div> </div>
    <div>   <div>  <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
                <div class="govuk-summary-list__row">
                  <dd class="govuk-summary-list__key">
                  <span class="govuk-body">{% if data['project-rationale']%}
                      {{data['project-rationale'] | safe }}
                  </span>     
                      {% else %} 
                     
                      <span class="empty">Empty</span>
                       {% endif %}</dd>
                 </div> 
              </div></div>



            <div>
  <br>
        <form action="/task_list1" method="post"> 
          {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
          {% from "govuk/components/button/macro.njk" import govukButton %}

          {{ govukCheckboxes({
            idPrefix: "rationale-status-htb",
            name: "rationale-status-htb",
            items: [
              {
                value: "Complete",
                text: "Mark this section as complete, you can still make changes later"
              }
            ]
          }) }}

          {{ govukButton({
            text: "Save and continue"
          }) }}

        </form>
        <p><a href="javascript:history.back();">Cancel</a></p>
   


  </div>
  {% endblock %}

  