
{% extends "layout.html" %}

{% block content %}
<div class="govuk-grid-row"> 
  <div class="govuk-grid-column-two-thirds"> 
    <h1 class="govuk-heading-l">Manage an academy conversion prototype</h1> 
    <p class="govuk-body-m">This is where the SDD Manage an academy conversion service prototype lives.</p> 

    <h2 class="govuk-heading-l">Sprint 39</h2> 
    <p class="govuk-body-m">Here are the links to the sprint 39 prototypes. Key differences from the sprint 37 prototype:</p>
    <ul class="govuk-list govuk-list--bullet govuk-body-m">
      <li>Adding Transfers prototype to here (incomplete)</li>
    </ul>
    <a href="sprint-39/index.html" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button"> Homepage <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false"> <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"/> </svg></a>

    <p class="govuk-body-m">Or you can use the following short cuts.</p>
    <ul class="govuk-list govuk-list--bullet govuk-body-m">
      <li><a href="sprint-39/task_list">Task list - Conversions</a></li>
      <li><a href="sprint-39/transfers/pre-htb/task-list-transfers">Task list - Transfers (only Legal Requirements is working)</a></li>
    </ul>
    
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h2 class="govuk-heading-l">Sprint 37</h2> 
    <p class="govuk-body-m">Here are the links to the sprint 37 prototypes. Key differences from the sprint 36 prototype:</p>
    <ul class="govuk-list govuk-list--bullet govuk-body-m">
      <li>Legal requirements design provocation is now merged into this prototype.</li>
      <li>Projects list page is now with the refactored front-end. Sorting bar is also there but we will need further exploration to see if we are building it.</li>
    </ul>
    <a href="sprint-37/index.html" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button"> Homepage <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false"> <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"/> </svg></a>

    <p class="govuk-body-m">Or you can use the following short cuts.</p>
    <ul class="govuk-list govuk-list--bullet govuk-body-m">
      <li><a href="sprint-37/projects-list">Projects listing page</a></li>
      <li><a href="sprint-37/projects-list-regional-team-lead?userName=Zara">Sign in as a regional team lead</a></li>
    </ul>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h2 class="govuk-heading-l">Sprint 36</h2> 
    <p class="govuk-body-m">Here are the links to the sprint 36 prototypes.</p>
    <a href="sprint-36/index.html" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button"> Homepage <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false"> <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"/> </svg></a>

    <p class="govuk-body-m">Some alternative journeys:</p>
    <ul class="govuk-list govuk-list--bullet govuk-body-m">
      <li><a href="sprint-36/projects-list-sorting-1">Projects listing page with sorting bar (design provocation)</a></li>
      <li><a href="sprint-36/task_list-with-legal">Task list with legal section (design provocation)</a></li>
    </ul>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h2 class="govuk-heading-l">Sprint 35</h2> 
    <p class="govuk-body-m">Here are the links to the sprint 35 prototypes.</p>
    <a href="sprint-35/index.html" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button"> Homepage <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false"> <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"/> </svg></a>

    <p class="govuk-body-m">Or you can use the following short cuts.</p>
    <ul class="govuk-list govuk-list--bullet govuk-body-m">
      <li><a href="sprint-35/projects-list">Projects listing page</a></li>
      <li><a href="sprint-35/projects-list-sorting-1">Projects listing page with sorting bar (work in progress)</a></li>
    </ul>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h2 class="govuk-heading-l">Sprint 34</h2> 
    <p class="govuk-body-m">Here are the links to the sprint 34 prototypes.</p>
    <a href="sprint-34/index.html" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button"> Homepage <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false"> <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"/> </svg></a>

    <p class="govuk-body-m">Or you can use the following short cuts.</p>
    <ul class="govuk-list govuk-list--bullet govuk-body-m">
      <li><a href="sprint-34/projects-list">Projects listing page</a></li>
    </ul>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h2 class="govuk-heading-l">Sprint 33</h2> 
    <p class="govuk-body-m">Here are the links to the sprint 33 prototypes.</p>
    <a href="MVP/index.html" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button"> Start prototype <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false"> <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"/> </svg></a>
 </div>

    

<div class="govuk-grid-column-one-third">

   <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
         Related information
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li class="govuk-body-m"> 
              <a class="govuk-link" href="https://conversions-design-history.netlify.app/apply-to-become-academy/">
                Design history
              </a>
            </li>
            
          </ul>
        </nav>
      </aside>

    </div>
  </div>
{% endblock %}