
{% extends "layout.html" %}

{% block pageTitle %}
  Academy conversions
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl">
        Academy conversion projects (4)</h1>
        <table class="govuk-table">
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th class="govuk-table__header">Application information
          
           
                <th class="govuk-table__header govuk-table__header--numeric">Project status and key dates</th>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><p class="govuk govuk-caption-l"><strong><a href="task_list1">St. Wilfrid's Primary School</a></strong> AS_4659841
                <p></p>
                <p>Application to join a trust: Dynamics Academy Trust</br>
               Local authority: Warrington</P></td></td>
      
         
              <td class="govuk-table__cell govuk-table__cell--numeric">  {% if data['htb-date']%}
                <p class="govuk-tag govuk-tag--blue">Pre HTB</p>
                {% else %} 
                <p class="govuk-tag govuk-tag--green">Newly assigned</p>
                {% endif %}
                <p class="govuk-hint">HTB date: 15 March 2021</br>
                  Opening date: 01 July 2021</p></td> </td>  
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><p class="govuk govuk-caption-l"><strong><a href="task_list1">Bolton Spa Primary</a></strong> AS_6759880
            <p></p>
              <p>Application to join a trust: Oak Hill Trust</br>
             Local authority: Warrington</P></td>
     
              <td class="govuk-table__cell govuk-table__cell govuk-table__cell--numeric"><p class="govuk-tag govuk-tag--blue">Pre HTB</p> 
                <p class="govuk-hint">HTB date: 15 March 2021</br>
                  Opening date: 01 July 2021</p></td>  
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a href="task_list1"><p class="govuk govuk-caption-l"><strong>Blessed John Henry Newman Roman Catholic College</strong></a> AS_4659841  <p></p>
                <p>Application to join a trust: Kingfisher learning trust</br>
               Local authority: Warrington</P></td></td>
                <td class="govuk-table__cell govuk-table__cell govuk-table__cell--numeric"><p class="govuk-tag govuk-tag--blue">Pre HTB</p> 
                  <p class="govuk-hint">HTB date: 15 July 2021</br>
                    Opening date: 01 December 2021</p></td>   
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a href="task_list1"><p class="govuk govuk-caption-l"><strong>Bolton Spa Primary</strong></a> AS_4659841  <p></p>
                <p>Application to join a trust: Oak Hill Trust</br>
               Local authority: Bolton</P></td></td>
                <td class="govuk-table__cell govuk-table__cell govuk-table__cell--numeric"><p class="govuk-tag govuk-tag--pink">on hold</p> 
                </td>   
          </tr>
        
            
          </tbody>
        </table>
       <p> <a href="#">All archived conversion projects</a></p>
        </div>

{% endblock %}
