
{% extends "layout.html" %}

{% block pageTitle %}
  Academy conversions
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl">
        Academy conversion projects (4)</h1>
        <table class="govuk-table">
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th class="govuk-table__header">School and application number
              <th class="govuk-table__header">Trust and LA</th>
              <th class="govuk-table__header">Key dates
                <th class="govuk-table__header">Status</th>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a href="task_list1"><b>St. Wilfred's Primary School</b></span></a><br>AS_4659841</td>
              <td class="govuk-table__cell"><p class="govuk-body-s">Application to join Dynamics Academy</br>LA: Warrington</P></td>
              <td class="govuk-table__cell"><p class="govuk-body-s">Recieved: 10 February 2021</br>
              Assigned: 14 February 2021</p></td>
              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green app-task-list__tag" id="school-performance">Newly assigned</strong></td>  
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a href="task_list1"><b>Bolton Spa Primary</b></span></a><br>AS_6759880</td>
              <td class="govuk-table__cell"><p class="govuk-body-s">Application to join Oak Hill Trust</br>
              LA: Warrington</P></td>
              <td class="govuk-table__cell">
                <p class="govuk-body-s">HTB: 15 March 2021</br>
              Opening: 01 July 2021</p></td>
              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="school-performance">Pre HTB</strong></td>  
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a href="task_list1"><b>Blessed John Henry Newman Roman Catholic College</b></span></a><br>AS_4659841</td>
              <td class="govuk-table__cell"><p class="govuk-body-s">Application to join Kingfisher Learning trust</br>
              LA: Liverpool</P></td>
              <td class="govuk-table__cell">
                <p class="govuk-body-s">HTB: 25 July 2021</br>
              Assigned: 01 December 2021</p></td>
              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="school-performance">Pre HTB</strong></td>  
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a href="task_list1"><b>Bolton Spa Primary</b></span></a><br>AS_6759880</td>
              <td class="govuk-table__cell"><p class="govuk-body-s">Application to join Oak Hill Trust</br>
              LA: Warrington</P></td>
              <td class="govuk-table__cell">
                <p class="govuk-body-s"></p></td>
              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--pink app-task-list__tag" id="school-performance">On hold</strong></td>  
            </tr>
        
            
          </tbody>
        </table>
        <a href="#">All achieved conversion projects</a>
        </div>

{% endblock %}
