{#- We can't mount GOV.UK Frontend's assets at root as it's done automatically by the extensions framework. -#}
{%- set assetPath = '/govuk/assets' -%}

{% extends "govuk/template.njk" %}

{% from "govuk/components/accordion/macro.njk"           import govukAccordion %}
{% from "govuk/components/back-link/macro.njk"           import govukBackLink %}
{% from "govuk/components/breadcrumbs/macro.njk"         import govukBreadcrumbs %}
{% from "govuk/components/button/macro.njk"              import govukButton %}
{% from "govuk/components/character-count/macro.njk"     import govukCharacterCount %}
{% from "govuk/components/checkboxes/macro.njk"          import govukCheckboxes %}
{% from "govuk/components/cookie-banner/macro.njk"       import govukCookieBanner %}
{% from "govuk/components/date-input/macro.njk"          import govukDateInput %}
{% from "govuk/components/details/macro.njk"             import govukDetails %}
{% from "govuk/components/error-message/macro.njk"       import govukErrorMessage %}
{% from "govuk/components/error-summary/macro.njk"       import govukErrorSummary %}
{% from "govuk/components/fieldset/macro.njk"            import govukFieldset %}
{% from "govuk/components/file-upload/macro.njk"         import govukFileUpload %}
{% from "govuk/components/input/macro.njk"               import govukInput %}
{% from "govuk/components/inset-text/macro.njk"          import govukInsetText %}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}
{% from "govuk/components/panel/macro.njk"               import govukPanel %}
{% from "govuk/components/phase-banner/macro.njk"        import govukPhaseBanner %}
{% from "govuk/components/radios/macro.njk"              import govukRadios %}
{% from "govuk/components/select/macro.njk"              import govukSelect %}
{% from "govuk/components/skip-link/macro.njk"           import govukSkipLink %}
{% from "govuk/components/summary-list/macro.njk"        import govukSummaryList %}
{% from "govuk/components/table/macro.njk"               import govukTable %}
{% from "govuk/components/tabs/macro.njk"                import govukTabs %}
{% from "govuk/components/tag/macro.njk"                 import govukTag %}
{% from "govuk/components/textarea/macro.njk"            import govukTextarea %}
{% from "govuk/components/warning-text/macro.njk"        import govukWarningText %}

{% block head %}
  {% include "includes/head.html" %}
{% endblock %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block header %}
<header class="govuk-header " role="banner" data-module="govuk-header">
  <div class="govuk-header__container govuk-width-container">
    <div class="govuk-header__logo">
      <a href="/" class="govuk-header__link govuk-header__link--service-name">
        <!-- <span class="govuk-header_logotype">#</span> -->
        <span class="govuk-header__product-name">Manage trusts and academy schools</span>
      </a>
    </div>
    <div class="govuk-header__content">
      <button type="button" class="govuk-header__menu-button govuk-js-header-toggle" aria-controls="navigation" aria-label="Show or hide navigation menu">Menu</button>
      <nav>
        <ul id="navigation" class="govuk-header__navigation " aria-label="Navigation menu">
          <li class="govuk-header__navigation-item">
              <a class="govuk-header__link" href="#">
              Sign out
              </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>

<div class="app-phase-banner__wrapper">
  <div class="govuk-phase-banner app-phase-banner govuk-width-container">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      prototype
    </strong>
    <span class="govuk-phase-banner__text">
      This is a prototype of a new service – Some parts of this prototype do not work yet.
    </span>
    </p>
  </div>
</div>

<div class="app-primary-navigation">
  <div class="app-primary-navigation__container">
    <div class="app-primary-navigation__nav">
      <nav class="app-primary-navigation" aria-label="main menu">
        <ul class="app-primary-navigation__list">
            <li class="app-primary-navigation__item">
              <a class="app-primary-navigation__link" aria-current="index" href="/index">Conversions (4)</a>
            </li>
            <li class="app-primary-navigation__item">
              <a class="app-primary-navigation__link"  href="#">Transfers (2)</a>
            </li>
            <li class="app-primary-navigation__item"> 
              <a class="app-primary-navigation__link"  href="#">Changes (1)</a>
            </li> 
          </ul>
      </nav>
    </div>
  </div>
</div>
{% endblock %}

{% set mainClasses = mainClasses | default("govuk-main-wrapper--auto-spacing") %}
djkasjd
{% if useAutoStoreData %}
  {% block footer %}
  <footer class="govuk-footer govuk-footer--app" role="contentinfo">
    <div class="govuk-width-container ">
      
      <div class="govuk-footer__meta">
        <div class="govuk-footer__meta-item govuk-footer__meta-item--grow">
          
            
              <h2 class="govuk-heading-m">Get support</h2>
            
            
              <div class="govuk-footer__meta-custom">
                
    <ul class="govuk-footer__meta-custom govuk-list govuk-!-font-size-16">
      <li>Email: <a class="govuk-link govuk-footer__link" href="mailto:sddservicessupport@education.gov.uk">sddservicessupport<wbr>@education.gov.uk</a></li>
      <li>We aim to respond within 5 working days, or one working day for more urgent&nbsp;queries</li>
    </ul>
    
    <p class="govuk-body govuk-!-font-size-16"><a href="#" class="govuk-link govuk-footer__link">Guidance</a></p>
  
              </div>
            
            
              <ul class="govuk-footer__inline-list">
                
                  <li class="govuk-footer__inline-list-item">
                    <a class="govuk-footer__link" href="/accessibility-statement">
                      Accessibility
                    </a>
                  </li>
                
                  <li class="govuk-footer__inline-list-item">
                    <a class="govuk-footer__link" href="/cookies">
                      Cookies
                    </a>
                  </li>
                
                  <li class="govuk-footer__inline-list-item">
                    <a class="govuk-footer__link" href="/privacy-policy">
                      Privacy policy
                    </a>
                  </li>
                
                  <li class="govuk-footer__inline-list-item">
                    <a class="govuk-footer__link" href="/prototype-admin/clear-data">
                      Clear data
                    </a>
                  </li>
                
                  <li class="govuk-footer__inline-list-item">
                    <a class="govuk-footer__link" href="/admin">
                      Admin
                    </a>
                  </li>
                
                  <li class="govuk-footer__inline-list-item">
                    <a class="govuk-footer__link" href="">
                      
                    </a>
                  </li>
                
                  <li class="govuk-footer__inline-list-item">
                    <a class="govuk-footer__link" href="">
                      
                    </a>
                  </li>
                
                  <li class="govuk-footer__inline-list-item">
                    <a class="govuk-footer__link" href="">
                      
                    </a>
                  </li>
                
              </ul>
            
          
        </div>
        <div class="govuk-footer__meta-item">
          <a class="govuk-footer__link govuk-footer__copyright-logo"
            href="https://www.nationalarchives.gov.uk/information-management/re-using-public-sector-information/uk-government-licensing-framework/crown-copyright/"
          >© Crown copyright</a>
        </div>
      </div>
    </div>
  </footer>
  {% endblock %}
{% endif %}

{% block bodyEnd %}
  {% block scripts %}
    {% include "includes/scripts.html" %}
    {% block pageScripts %}{% endblock %}
  {% endblock %}
  <!-- GOV.UK Prototype Kit {{releaseVersion}} -->
{% endblock %}

