{% extends "version-4/includes/form-template.html" %}

{% set projectData = data['records'][0] %}

{% set pageTitle = "What are the intended benefits of the transfer? – Manage an academy transfer" %}

{% set relatedNavigation = 'false' %}


{% block formQuestions %}
  <form action="../benefits-and-other-factors" method="post" novalidate>
    <!--page heading with caption include-->
    {% set pageHeading %}
      <span class="govuk-caption-l">
          {{ projectData.name }}
      </span>
      What are the intended benefits of the transfer?
    {% endset %}

    {% set otherBenefitHtml %}
    {{ govukInput({
      id: "add-benefit",
      name: "add-benefit",
      type: "text",
      spellcheck: false,
      classes: "govuk-!-width-two-thirds",
      label: {
        text: "Enter the benefit"
      },
      value: data["add-benefit"]
    }) }}
    {% endset -%}

    {{ govukCheckboxes({
      idPrefix: "benefits-of-transfer",
      name: "benefits-of-transfer",
      fieldset: {
        legend: {
          html: pageHeading,
          isPageHeading: true,
          classes: "govuk-fieldset__legend--l"
        }
      },
      hint: {
        text: "Select all that apply."
      },
      items: [
        {
          value: "Stronger leadership",
          text: "Stronger leadership",
          id: "benefits-leadership",
          checked: checked("['benefits-of-transfer']", "Stronger leadership")
        },
        {
          value: "Strengthening governance",
          text: "Strengthening governance",
          checked: checked("['benefits-of-transfer']", "Strengthening governance")
        },
        {
          value: "Improving safeguarding",
          text: "Improving safeguarding",
          checked: checked("['benefits-of-transfer']", "Improving safeguarding")
        },
        {
          value: "Secure financial position",
          text: "Secure financial position",
          checked: checked("['benefits-of-transfer']", "Secure financial position")
        },
        {
          value: "A central financial team and central support",
          text: "A central financial team and central support",
          checked: checked("['benefits-of-transfer']", "A central financial team and central support")
        },
        {
          value: "Improved pupil performance",
          text: "Improved pupil performance",
          checked: checked("['benefits-of-transfer']", "Improved pupil performance")
        },
        {
          value: "Long term stability",
          text: "Long term stability",
          checked: checked("['benefits-of-transfer']", "Long term stability")
        },
        {
          value: "other-benefit",
          text: "Add another benefit",
          conditional: {
            html: otherBenefitHtml
          },
          checked: checked("['benefits-of-transfer']", "other-benefit")
        }
      ]
    }) }}

        {{ govukButton({
          text: "Save and continue"
        }) }}
  </form>

{% endblock %}