{% extends "layout.html" %}

 
{% block beforeContent %}
<a href="javascript:history.back();" class="govuk-back-link">Back</a>
{% endblock %}


{% block content %}
  
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-l">Trust details</span>
    <h1 class="govuk-heading-l">About the trust</h1>
    <p class="govuk-body-m govuk-!-margin-bottom-8" ><a href="../related/application_newtab_voluntary" target="_blank">Open the application form for this project in a new tab</a></p>
    <br><br><br>
    <!--<p class="govuk-body-s">TRAMS last updated on: 23 March 2021</p>-->
  </div>
</div>


    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">



        <form action="../trust-details" method="post"> 
       
      
        <div class="govuk-summary-card">
          <div class="govuk-summary-card__title-wrapper"><h2 class="govuk-summary-card__title">Proposed name of the new trust</h2></div>
      
            <div class="govuk-summary-card__content">  
          
            <dl class="govuk-summary-list">
              
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key govuk-!-width-one-half">Proposed name</dt>
                <dd class="govuk-summary-list__value">Cotswolds Academies Trust</dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#">
                    Change<span class="govuk-visually-hidden"> proposed name</span>
                  </a>
                </dd>
              </div>
            
            </dl>
    
          </div>

        </div>


        <div class="govuk-summary-card">
          <div class="govuk-summary-card__title-wrapper"><h2 class="govuk-summary-card__title">Opening date</h2></div>
      
            <div class="govuk-summary-card__content">  
          
            <dl class="govuk-summary-list">
              
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key govuk-!-width-one-half">When do the schools plan to establish the new multi-academy trust?</dt>
                <dd class="govuk-summary-list__value">01 October 2021</dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#">
                    Change<span class="govuk-visually-hidden"> opening date</span>
                  </a>
                </dd>
              </div>
            
            </dl>
    
          </div>

        </div>


        <div class="govuk-summary-card">
          <div class="govuk-summary-card__title-wrapper"><h2 class="govuk-summary-card__title">Trust DfE Sign-in account</h2></div>
      
            <div class="govuk-summary-card__content">  
          
            <dl class="govuk-summary-list">
              
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key govuk-!-width-one-half">Approver's full name</dt>
                <dd class="govuk-summary-list__value">Bob Roberts</dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#">
                    Change<span class="govuk-visually-hidden"> approver's full name</span>
                  </a>
                </dd>
              </div>

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key govuk-!-width-one-half">Approver's email address</dt>
                <dd class="govuk-summary-list__value">bob.roberts@education.gov.uk</dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#">
                    Change<span class="govuk-visually-hidden"> approver's email address</span>
                  </a>
                </dd>
              </div>
            
            </dl>
    
          </div>

        </div>


        <div class="govuk-summary-card">
          <div class="govuk-summary-card__title-wrapper"><h2 class="govuk-summary-card__title">Reasons for forming the trust</h2></div>
      
            <div class="govuk-summary-card__content">  
          
            <dl class="govuk-summary-list">
              
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key govuk-!-width-one-half">Why are the schools forming the trust</dt>
                <dd class="govuk-summary-list__value">To make schools really great.</dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#">
                    Change<span class="govuk-visually-hidden"> why are the schools forming the trust</span>
                  </a>
                </dd>
              </div>

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key govuk-!-width-one-half">What vision and aspiration have the schools agreed for the trust?</dt>
                <dd class="govuk-summary-list__value">The schools have agreed the very best visions and aspirations possible.</dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#">
                    Change<span class="govuk-visually-hidden"> vision and aspirations</span>
                  </a>
                </dd>
              </div>

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key govuk-!-width-one-half">What geographical areas and communities will the trust serve?</dt>
                <dd class="govuk-summary-list__value">The trust will serve the Cotswolds area within Gloucestershire.</dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#">
                    Change<span class="govuk-visually-hidden"> geographical areas</span>
                  </a>
                </dd>
              </div>

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key govuk-!-width-one-half">How will the schools make the most of the freedoms that academies have?</dt>
                <dd class="govuk-summary-list__value">The schools will absolutely make the most of their new found freedoms.</dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#">
                    Change<span class="govuk-visually-hidden"> freedoms</span>
                  </a>
                </dd>
              </div>

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key govuk-!-width-one-half">How will the schools work together to improve teaching and learning in the trust and potentially support other schools beyond the trust?</dt>
                <dd class="govuk-summary-list__value">Working together is what the new trust will be all about, so expect lots of great new things happening to improve both teaching and learning.</dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#">
                    Change<span class="govuk-visually-hidden"> improved teching and learning</span>
                  </a>
                </dd>
              </div>
            
            </dl>
    
          </div>

        </div>



        <div class="govuk-summary-card">
          <div class="govuk-summary-card__title-wrapper"><h2 class="govuk-summary-card__title">Plans for growth</h2></div>
      
            <div class="govuk-summary-card__content">  
          
            <dl class="govuk-summary-list">
              
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key govuk-!-width-one-half">Do you plan to grow the trust over the next 5 years?</dt>
                <dd class="govuk-summary-list__value">Yes</dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#">
                    Change<span class="govuk-visually-hidden"> plans for growth</span>
                  </a>
                </dd>
              </div>

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key govuk-!-width-one-half">What are your plans?</dt>
                <dd class="govuk-summary-list__value">Oh, we have big plans!</dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#">
                    Change<span class="govuk-visually-hidden"> details of plans for growth</span>
                  </a>
                </dd>
              </div>
            
            </dl>
    
          </div>

        </div>


        <div class="govuk-summary-card">
          <div class="govuk-summary-card__title-wrapper"><h2 class="govuk-summary-card__title">Governance structure</h2></div>
      
            <div class="govuk-summary-card__content">  
          
            <dl class="govuk-summary-list">
              
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key govuk-!-width-one-half">A4 diagram of the proposed governance structure of the trust</dt>
                <dd class="govuk-summary-list__value"><a class="govuk-link" href="#">governance_structure.pdf</a></dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#">
                    Change<span class="govuk-visually-hidden"> proposed name</span>
                  </a>
                </dd>
              </div>
            
            </dl>
    
          </div>

        </div>


        {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
        {% from "govuk/components/button/macro.njk" import govukButton %}
      
        {{ govukCheckboxes({
          idPrefix: "general-info-status",
          name: "general-info-status",
          items: [
            {
              value: "Complete",
              text: "Mark the about this trust section for this trust as complete, you can still make changes later",
              checked: true
            }
            ]
          }) }}
        






      


<br><br>
     
{{ govukButton({
  text: "Save and continue"
}) }}

</form>

{% endblock %}
