{% extends "layout.html" %}

{% block beforeContent %}
<a href="../trust-information.html" class="govuk-back-link">Back to trust information</a>
{% endblock %}
 
{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-l govuk-!-margin-top-6" >Gloucester Academy Trust</span>
    <h1 class="govuk-heading-l">
    Name of the trust</h1>
    <p>This information is pre-populated from TRAMS.</p>
    <p class="govuk-body-s">TRAMS last updated on: 23 March 2021</p>
    </div></div>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
    <dl class="govuk-summary-list">
      
      
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Proposed name of the trust
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">Gloucestershire Academy Trust</p>
        </dd>
        <dd class="govuk-summary-list__actions">
        </dd>
      </div>
     

      

  </div>
</div>
{% endblock %}
